{
  "openapi": "3.1.0",
  "info": {
    "title": "canix402 API",
    "version": "1.0.0",
    "description": "x402-gated Algorand DeFi data and walletless transaction API, including Haystack swap quotes, prerequisite opt-ins, and paid atomic swap-group generation. Numeric yield/USD fields (apy, apr, tvlUsd) are returned with a standard precision of 6 decimal places, extended up to 12 decimal places only when needed to represent small non-zero values. Asset decimals are always sourced on-chain from algod.",
    "contact": {
      "name": "Neon Forge Ltd",
      "email": "kieran@neonforge.ltd",
      "url": "https://canix402.compx.io"
    },
    "x-guidance": "Use the gateway base URL in servers[0]. Fetch /discovery and /openapi.json before integrating. Prefer the remote canix402 MCP server at https://mcp.canix402.com/mcp (streamable-http, walletless pass-through) for agent tool access. Paid routes return HTTP 402 with PAYMENT-REQUIRED; sign a USDC ASA transfer client-side and retry with PAYMENT-SIGNATURE. Haystack swaps follow quote -> opt-in if needed -> fresh quote -> paid transaction generation -> local signing/submission. Human and LLM docs: https://canix402.compx.io/llms.txt",
    "x-precision": {
      "fields": ["apy", "apr", "tvlUsd"],
      "defaultDecimalPlaces": 6,
      "maxDecimalPlaces": 12,
      "notes": "Values are rounded to 6 decimal places by default; precision is extended up to 12 decimal places when 6 would collapse a small non-zero value to zero."
    }
  },
  "servers": [
    {
      "url": "https://canix402-api.compx.io"
    }
  ],
  "x-discovery": {
    "docsUrl": "https://canix402.compx.io/x402",
    "llmsTxtUrl": "https://canix402.compx.io/llms.txt",
    "mcpInstall": "https://canix402.compx.io/x402#mcp",
    "mcpUrl": "https://mcp.canix402.com/mcp",
    "mcpTransport": "streamable-http"
  },
  "paths": {
    "/health": {
      "get": {
        "summary": "Service health check",
        "tags": ["system"],
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HealthResponse" },
                "examples": {
                  "default": { "$ref": "#/components/examples/HealthResponseSample" }
                }
              }
            }
          }
        }
      }
    },
    "/metadata": {
      "get": {
        "summary": "Service metadata and policy surface",
        "tags": ["system", "discovery"],
        "security": [],
        "responses": {
          "200": {
            "description": "Metadata",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MetadataResponse" },
                "examples": {
                  "default": { "$ref": "#/components/examples/MetadataResponseSample" }
                }
              }
            }
          }
        }
      }
    },
    "/discovery": {
      "get": {
        "summary": "Machine-readable endpoint catalog for agents",
        "tags": ["discovery", "agents"],
        "security": [],
        "responses": {
          "200": {
            "description": "Discovery document",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DiscoveryResponse" },
                "examples": {
                  "default": { "$ref": "#/components/examples/DiscoveryResponseSample" }
                }
              }
            }
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "summary": "OpenAPI contract document",
        "tags": ["discovery", "openapi"],
        "security": [],
        "responses": {
          "200": {
            "description": "OpenAPI JSON",
            "content": {
              "application/json": {
                "schema": { "type": "object", "description": "This OpenAPI 3.1 document." }
              }
            }
          }
        }
      }
    },
    "/favicon.ico": {
      "get": {
        "summary": "API favicon for directory indexing",
        "tags": ["system", "discovery"],
        "security": [],
        "responses": {
          "200": {
            "description": "Favicon image",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/favicon.png": {
      "get": {
        "summary": "API favicon image",
        "tags": ["system", "discovery"],
        "security": [],
        "responses": {
          "200": {
            "description": "Favicon image",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/x402.json": {
      "get": {
        "summary": "x402 discovery manifest for agent and directory indexing",
        "tags": ["discovery", "agents", "x402"],
        "security": [],
        "responses": {
          "200": {
            "description": "x402 discovery manifest",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "service",
                    "name",
                    "version",
                    "description",
                    "x402Version",
                    "docsUrl",
                    "llmsTxtUrl",
                    "openapiUrl",
                    "discoveryUrl",
                    "facilitator",
                    "chains",
                    "resources"
                  ],
                  "properties": {
                    "service": { "type": "string", "const": "canix402" },
                    "name": { "type": "string", "const": "canix402" },
                    "version": { "type": "string" },
                    "description": { "type": "string" },
                    "x402Version": { "type": "integer", "const": 2 },
                    "docsUrl": { "type": "string", "format": "uri" },
                    "llmsTxtUrl": { "type": "string", "format": "uri" },
                    "openapiUrl": { "type": "string", "format": "uri" },
                    "discoveryUrl": { "type": "string", "format": "uri" },
                    "facilitator": { "type": "string", "format": "uri" },
                    "chains": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "namespace": { "type": "string", "const": "algorand" },
                          "network": { "type": "string" },
                          "assets": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "symbol": { "type": "string", "const": "USDC" },
                                "assetId": { "type": "string" },
                                "decimals": { "type": "integer", "const": 6 }
                              }
                            }
                          }
                        }
                      }
                    },
                    "resources": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": ["id", "method", "path", "url", "description", "price", "x402"],
                        "properties": {
                          "id": { "type": "string" },
                          "method": { "type": "string", "enum": ["GET", "POST"] },
                          "path": { "type": "string" },
                          "url": { "type": "string", "format": "uri" },
                          "description": { "type": "string" },
                          "tags": { "type": "array", "items": { "type": "string" } },
                          "price": {
                            "type": "object",
                            "properties": {
                              "amount": { "type": "string" },
                              "currency": { "type": "string", "const": "USDC" },
                              "network": { "type": "string" },
                              "asset": { "type": "string" }
                            }
                          },
                          "x402": { "type": "object" }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "default": { "$ref": "#/components/examples/X402ManifestSample" }
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/x402": {
      "get": {
        "summary": "x402 discovery fan-out document",
        "tags": ["discovery", "agents", "x402"],
        "security": [],
        "responses": {
          "200": {
            "description": "Paid resource URL list for directory registration",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["version", "resources"],
                  "properties": {
                    "version": { "type": "integer", "const": 1 },
                    "resources": {
                      "type": "array",
                      "items": { "type": "string", "format": "uri" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/opportunities": {
      "get": {
        "summary": "Top 10 aggregated DeFi opportunities ranked by APY",
        "description": "Returns ranked Algorand DeFi yield opportunities across supported protocols including Tinyman, Pact, Folks Finance, CompX, and Dork.fi. Use when an agent needs to compare APY/APR, TVL, asset pairs, opportunity type, protocol, source freshness, and caveats before presenting or ranking yield options. This endpoint provides normalized market data only; it does not build or submit transactions.",
        "tags": ["defi", "opportunities"],
        "parameters": [
          { "name": "protocol", "in": "query", "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "minimum": 1, "maximum": 200, "default": 10 } },
          { "name": "offset", "in": "query", "schema": { "type": "integer", "minimum": 0 } },
          { "name": "includeInactive", "in": "query", "schema": { "type": "boolean" } }
        ],
        "responses": {
          "200": {
            "description": "Opportunity list",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/OpportunitiesListResponse" },
                "examples": {
                  "default": { "$ref": "#/components/examples/AggregateOpportunitiesSample" }
                }
              }
            }
          },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "500": { "$ref": "#/components/responses/InternalError" }
        },
        "x-payment-info": {
          "protocols": [{ "x402": {} }],
          "price": { "mode": "fixed", "currency": "USD", "amount": "0.01" }
        },
        "x-x402": {
          "protocolVersion": 2,
          "requiredHeaders": ["PAYMENT-REQUIRED", "PAYMENT-SIGNATURE", "PAYMENT-RESPONSE"],
          "requirementTemplate": {
            "scheme": "exact",
            "network": "algorand-mainnet",
            "asset": "31566704",
            "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
            "maxAmountRequired": "0.01"
          }
        }
      }
    },
    "/opportunities/search": {
      "get": {
        "summary": "Caller-filtered opportunities across supported platforms",
        "description": "Returns Algorand DeFi opportunities filtered by platform, opportunity type, APY range, and TVL threshold across supported sources. Use when an agent needs targeted discovery such as high-yield liquidity pools, lending markets, protocol-specific yield, or minimum-liquidity opportunities on Algorand. This endpoint provides normalized market data only; it does not build or submit transactions.",
        "tags": ["defi", "opportunities", "search"],
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Comma-separated list of platforms."
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Comma-separated list of opportunity types."
            }
          },
          { "name": "minApy", "in": "query", "schema": { "type": "number" } },
          { "name": "maxApy", "in": "query", "schema": { "type": "number" } },
          { "name": "minTvlUsd", "in": "query", "schema": { "type": "number", "minimum": 0 } },
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1, "maximum": 200, "default": 25 }
          },
          { "name": "offset", "in": "query", "schema": { "type": "integer", "minimum": 0 } },
          { "name": "includeInactive", "in": "query", "schema": { "type": "boolean" } }
        ],
        "responses": {
          "200": {
            "description": "Filtered opportunity list",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/OpportunitiesListResponse" },
                "examples": {
                  "default": { "$ref": "#/components/examples/FilteredOpportunitiesSample" }
                }
              }
            }
          },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "500": { "$ref": "#/components/responses/InternalError" }
        },
        "x-payment-info": {
          "protocols": [{ "x402": {} }],
          "price": { "mode": "fixed", "currency": "USD", "amount": "0.01" }
        },
        "x-x402": {
          "protocolVersion": 2,
          "requiredHeaders": ["PAYMENT-REQUIRED", "PAYMENT-SIGNATURE", "PAYMENT-RESPONSE"],
          "requirementTemplate": {
            "scheme": "exact",
            "network": "algorand-mainnet",
            "asset": "31566704",
            "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
            "maxAmountRequired": "0.01"
          }
        }
      }
    },
    "/opportunities/personalized": {
      "get": {
        "summary": "Top opportunities tuned to a wallet's held assets",
        "description": "Returns Algorand DeFi opportunities whose underlying assets match a supplied wallet's holdings, including opted-in ASAs with positive balance and native ALGO when held. Use when an agent needs wallet-aware yield ideas based on assets the account already owns, with normalized APY/APR, TVL, asset ids, source freshness, and caveats. This endpoint provides normalized market data only; it does not build or submit transactions.",
        "tags": ["defi", "opportunities", "personalized", "wallet"],
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "Algorand account address to personalize opportunities for."
          },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "minimum": 1, "maximum": 200, "default": 10 } },
          { "name": "offset", "in": "query", "schema": { "type": "integer", "minimum": 0 } },
          { "name": "includeInactive", "in": "query", "schema": { "type": "boolean" } }
        ],
        "responses": {
          "200": {
            "description": "Personalized opportunity list",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PersonalizedOpportunitiesListResponse" },
                "examples": {
                  "default": { "$ref": "#/components/examples/PersonalizedOpportunitiesSample" }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/InvalidAddress" },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "500": { "$ref": "#/components/responses/InternalError" }
        },
        "x-payment-info": {
          "protocols": [{ "x402": {} }],
          "price": { "mode": "fixed", "currency": "USD", "amount": "0.05" }
        },
        "x-x402": {
          "protocolVersion": 2,
          "requiredHeaders": ["PAYMENT-REQUIRED", "PAYMENT-SIGNATURE", "PAYMENT-RESPONSE"],
          "requirementTemplate": {
            "scheme": "exact",
            "network": "algorand-mainnet",
            "asset": "31566704",
            "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
            "maxAmountRequired": "0.05"
          }
        }
      }
    },
    "/positions": {
      "get": {
        "summary": "Algorand DeFi positions held by a wallet",
        "description": "Returns normalized DeFi positions associated with a supplied Algorand wallet address across supported protocols. Use when an agent needs a wallet-level view of deposited, supplied, staked, or liquidity positions and their current values. This endpoint provides position data only; it does not build or submit transactions.",
        "tags": ["defi", "positions", "wallet"],
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "Algorand account address whose DeFi positions should be returned."
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet position list",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WalletPositionsResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/InvalidAddress" },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "500": { "$ref": "#/components/responses/InternalError" },
          "502": { "$ref": "#/components/responses/InternalError" }
        },
        "x-payment-info": {
          "protocols": [{ "x402": {} }],
          "price": { "mode": "fixed", "currency": "USD", "amount": "0.005" }
        },
        "x-x402": {
          "protocolVersion": 2,
          "requiredHeaders": ["PAYMENT-REQUIRED", "PAYMENT-SIGNATURE", "PAYMENT-RESPONSE"],
          "requirementTemplate": {
            "scheme": "exact",
            "network": "algorand-mainnet",
            "asset": "31566704",
            "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
            "maxAmountRequired": "0.005"
          }
        }
      }
    },
    "/protocols/{protocol}/opportunities": {
      "get": {
        "summary": "Top 25 DeFi opportunities for a single protocol ranked by APY",
        "description": "Returns ranked DeFi opportunities for one Algorand protocol: tinyman, pact, folks-finance, compx, or dorkfi. Use when an agent already knows the target protocol and needs normalized APY/APR, TVL, asset pair, opportunity type, timestamps, and caveats for that venue. This endpoint provides normalized market data only; it does not build or submit transactions.",
        "tags": ["defi", "opportunities", "protocol"],
        "parameters": [
          {
            "name": "protocol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["tinyman", "pact", "folks-finance", "compx", "dorkfi"]
            }
          },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "minimum": 1, "maximum": 200, "default": 25 } },
          { "name": "offset", "in": "query", "schema": { "type": "integer", "minimum": 0 } },
          { "name": "includeInactive", "in": "query", "schema": { "type": "boolean" } }
        ],
        "responses": {
          "200": {
            "description": "Protocol opportunity list",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/OpportunitiesListResponse" },
                "examples": {
                  "default": { "$ref": "#/components/examples/ProtocolOpportunitiesSample" }
                }
              }
            }
          },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "500": { "$ref": "#/components/responses/InternalError" }
        },
        "x-payment-info": {
          "protocols": [{ "x402": {} }],
          "price": { "mode": "fixed", "currency": "USD", "amount": "0.01" }
        },
        "x-x402": {
          "protocolVersion": 2,
          "requiredHeaders": ["PAYMENT-REQUIRED", "PAYMENT-SIGNATURE", "PAYMENT-RESPONSE"],
          "requirementTemplate": {
            "scheme": "exact",
            "network": "algorand-mainnet",
            "asset": "31566704",
            "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
            "maxAmountRequired": "0.01"
          }
        }
      }
    },
    "/execution/quotes": {
      "post": {
        "summary": "Compile a verified transaction shape into unsigned Algorand transactions",
        "description": "Returns a fresh, validated, unsigned transaction group for a supported execution shape. Use when an agent has selected a DeFi action and needs deterministic transaction bytes to sign locally. Currently supports all five Tinyman v2 LP shapes (flexible/initial/single-asset add; multiple-assets-out/single-asset-out remove), Folks Finance v2 lending escrow shapes (setup depositEscrow/optEscrowAsset; deposit:escrow; withdraw:escrow), Pact v1 LP add/remove shapes, CompX v1 lending/staking shapes, and Dork.fi v1 ASA lending deposit/withdraw shapes. Canix does not sign or submit transactions in this endpoint.",
        "tags": ["execution", "transactions", "x402", "agents"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ExecutionQuoteRequest" },
              "examples": {
                "tinymanAddLiquidity": { "$ref": "#/components/examples/ExecutionQuoteRequestSample" },
                "tinymanAddLiquidityInitial": { "$ref": "#/components/examples/ExecutionQuoteInitialAddLiquidityRequestSample" },
                "tinymanAddLiquiditySingleAsset": { "$ref": "#/components/examples/ExecutionQuoteSingleAssetAddLiquidityRequestSample" },
                "tinymanRemoveLiquidity": { "$ref": "#/components/examples/ExecutionQuoteRemoveLiquidityRequestSample" },
                "tinymanRemoveLiquiditySingleAssetOut": { "$ref": "#/components/examples/ExecutionQuoteSingleAssetOutRemoveLiquidityRequestSample" },
                "folksSetupDepositEscrow": { "$ref": "#/components/examples/ExecutionQuoteFolksSetupDepositEscrowRequestSample" },
                "folksSetupOptEscrowAsset": { "$ref": "#/components/examples/ExecutionQuoteFolksSetupOptEscrowAssetRequestSample" },
                "folksDepositEscrow": { "$ref": "#/components/examples/ExecutionQuoteFolksDepositEscrowRequestSample" },
                "folksWithdrawEscrow": { "$ref": "#/components/examples/ExecutionQuoteFolksWithdrawEscrowRequestSample" },
                "pactAddLiquidity": { "$ref": "#/components/examples/ExecutionQuotePactAddLiquidityRequestSample" },
                "pactRemoveLiquidity": { "$ref": "#/components/examples/ExecutionQuotePactRemoveLiquidityRequestSample" },
                "compxDepositAsa": { "$ref": "#/components/examples/ExecutionQuoteCompxDepositAsaRequestSample" },
                "compxWithdrawAsa": { "$ref": "#/components/examples/ExecutionQuoteCompxWithdrawAsaRequestSample" },
                "dorkfiDepositAsa": { "$ref": "#/components/examples/ExecutionQuoteDorkfiDepositAsaRequestSample" },
                "dorkfiWithdrawAsa": { "$ref": "#/components/examples/ExecutionQuoteDorkfiWithdrawAsaRequestSample" }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Unsigned executable quote",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ExecutionQuoteResponse" },
                "examples": {
                  "default": { "$ref": "#/components/examples/ExecutionQuoteResponseSample" }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/InternalError" }
        },
        "x-payment-info": {
          "protocols": [{ "x402": {} }],
          "price": { "mode": "fixed", "currency": "USD", "amount": "0.1" }
        },
        "x-x402": {
          "protocolVersion": 2,
          "requiredHeaders": ["PAYMENT-REQUIRED", "PAYMENT-SIGNATURE", "PAYMENT-RESPONSE"],
          "requirementTemplate": {
            "scheme": "exact",
            "network": "algorand-mainnet",
            "asset": "31566704",
            "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
            "maxAmountRequired": "0.1"
          }
        }
      }
    },
    "/swaps/quote": {
      "post": {
        "summary": "Fetch a walletless Haystack swap quote",
        "description": "Returns a short-lived, serializable Haystack route quote without signing or submitting transactions. Asset amounts are integer base units, not display-unit decimals. Use the returned quote unchanged with /swaps/optin and /swaps/transactions. If prerequisite opt-ins are submitted, fetch a fresh quote before building the swap group.",
        "tags": ["defi", "swaps", "haystack", "agents"],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/HaystackSwapQuoteRequest" },
              "examples": {
                "algoToUsdc": {
                  "value": {
                    "address": "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAY5HFKQ",
                    "fromAssetId": 0,
                    "toAssetId": 31566704,
                    "amount": "1000000",
                    "type": "fixed-input"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Serializable Haystack quote and prerequisite identifiers",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HaystackSwapQuoteResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "429": { "$ref": "#/components/responses/UpstreamRateLimited" },
          "502": { "$ref": "#/components/responses/UpstreamError" }
        }
      }
    },
    "/swaps/optin": {
      "post": {
        "summary": "Build prerequisite Haystack swap opt-ins",
        "description": "Checks the supplied Algorand account against the quote and returns a fresh unsigned group containing any missing output-asset and required application opt-ins. An empty transaction group means no opt-ins are required. canix402 is walletless: the caller signs and submits every returned opt-in transaction locally, waits for confirmation, and then refreshes the quote before requesting swap transactions. This route does not claim that returned opt-ins have executed.",
        "tags": ["defi", "swaps", "haystack", "transactions", "wallet"],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/HaystackSwapOptInRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Unsigned prerequisite group, or an empty group when no opt-ins are missing",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HaystackSwapOptInResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "502": { "$ref": "#/components/responses/UpstreamError" }
        }
      }
    },
    "/swaps/transactions": {
      "post": {
        "summary": "Build a walletless Haystack swap transaction group",
        "description": "Paid transaction-generation step for a fresh Haystack quote. The initial request may return 402 with PAYMENT-REQUIRED; satisfy the advertised 0.005 USDC requirement and retry with PAYMENT-SIGNATURE. On success, the response preserves transaction order, identifies caller members in userSignIndexes, and includes Haystack pre-signed members. Sign only the userSignIndexes members, combine them with the pre-signed members in the original order, and submit the complete atomic group through your own Algod client. canix402 never receives wallet keys and never submits the swap. The 0.005 USDC x402 access charge is separate from Haystack's SDK-default 10 bps output fee (including referral split), DEX fees, route price impact, and Algorand network transaction fees.",
        "tags": ["defi", "swaps", "haystack", "transactions", "x402", "agents"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/HaystackSwapTransactionsRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ordered, walletless Haystack swap group ready for caller signing",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HaystackSwapTransactionsResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "402": { "$ref": "#/components/responses/PaymentRequired" },
          "429": { "$ref": "#/components/responses/UpstreamRateLimited" },
          "502": { "$ref": "#/components/responses/UpstreamError" }
        },
        "x-payment-info": {
          "protocols": [{ "x402": {} }],
          "price": { "mode": "fixed", "currency": "USD", "amount": "0.005" }
        },
        "x-x402": {
          "protocolVersion": 2,
          "requiredHeaders": ["PAYMENT-REQUIRED", "PAYMENT-SIGNATURE", "PAYMENT-RESPONSE"],
          "requirementTemplate": {
            "scheme": "exact",
            "network": "algorand-mainnet",
            "asset": "31566704",
            "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
            "maxAmountRequired": "0.005"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ApiError": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "object",
            "required": ["code", "message"],
            "properties": {
              "code": {
                "type": "string",
                "description": "Stable machine-readable error code.",
                "enum": [
                  "VALIDATION_ERROR",
                  "INTERNAL_ERROR",
                  "NOT_FOUND",
                  "MISSING_PAYMENT_SIGNATURE",
                  "MALFORMED_PAYMENT_SIGNATURE",
                  "EXPIRED_PAYMENT_PROOF"
                ]
              },
              "message": { "type": "string" },
              "details": {
                "description": "Optional structured context for the error."
              }
            }
          }
        }
      },
      "OpportunityRecord": {
        "type": "object",
        "required": [
          "protocol",
          "opportunityType",
          "opportunityId",
          "assetPair",
          "apy",
          "yieldBasis",
          "tvlUsd",
          "sourceTimestamp",
          "fetchedAt"
        ],
        "properties": {
          "protocol": {
            "type": "string",
            "description": "Source platform name.",
            "enum": ["tinyman", "pact", "folks-finance", "compx", "dorkfi"]
          },
          "opportunityType": {
            "type": "string",
            "enum": ["lp", "farm", "staking", "lending"]
          },
          "opportunityId": {
            "type": "string",
            "description": "Stable identifier for the opportunity within its protocol."
          },
          "assetPair": {
            "type": "string",
            "description": "Protocol-specific market identifier (e.g. ALGO/USDC or a single asset)."
          },
          "assetIds": {
            "type": "array",
            "items": { "type": "integer" },
            "description": "On-chain Algorand asset ids backing the opportunity. Native ALGO is asset id 0."
          },
          "apy": {
            "type": "number",
            "description": "Yield as APY. Formatted to 6 decimal places (up to 12 for small non-zero values)."
          },
          "yieldBasis": {
            "type": "string",
            "enum": ["apy", "apr"],
            "description": "Indicates whether the apy field reflects a compound APY or an APR-derived value."
          },
          "apr": {
            "type": "number",
            "description": "Yield as APR when the upstream source provides it."
          },
          "tvlUsd": {
            "type": "number",
            "description": "Total value locked / liquidity depth in USD."
          },
          "sourceTimestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Upstream or on-chain update time when available; otherwise equals fetchedAt."
          },
          "fetchedAt": {
            "type": "string",
            "format": "date-time",
            "description": "When this service fetched and normalized the row."
          },
          "notes": {
            "type": "string",
            "description": "Caveats about timestamp provenance, fallback identifiers, or yield estimates."
          }
        }
      },
      "PersonalizedOpportunityRecord": {
        "$ref": "#/components/schemas/OpportunityRecord"
      },
      "OpportunitiesListMeta": {
        "type": "object",
        "required": ["limit", "offset", "includeInactive", "paymentRequired"],
        "properties": {
          "limit": { "type": "integer" },
          "offset": { "type": "integer" },
          "includeInactive": { "type": "boolean" },
          "paymentRequired": { "type": "boolean" }
        }
      },
      "PersonalizedOpportunitiesListMeta": {
        "allOf": [
          { "$ref": "#/components/schemas/OpportunitiesListMeta" },
          {
            "type": "object",
            "required": ["address", "heldAssetCount"],
            "properties": {
              "address": {
                "type": "string",
                "description": "Algorand address the results were personalized for."
              },
              "heldAssetCount": {
                "type": "integer",
                "description": "Number of distinct held assets used for matching."
              }
            }
          }
        ]
      },
      "OpportunitiesListResponse": {
        "type": "object",
        "required": ["data"],
        "properties": {
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/OpportunityRecord" }
          },
          "meta": { "$ref": "#/components/schemas/OpportunitiesListMeta" }
        }
      },
      "PersonalizedOpportunitiesListResponse": {
        "type": "object",
        "required": ["data"],
        "properties": {
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/PersonalizedOpportunityRecord" }
          },
          "meta": { "$ref": "#/components/schemas/PersonalizedOpportunitiesListMeta" }
        }
      },
      "PositionRecord": {
        "type": "object",
        "description": "A protocol-neutral economic position. Integer base units and normalized token amounts are decimal strings to preserve precision.",
        "required": [
          "protocol",
          "positionType",
          "positionId",
          "opportunityId",
          "assetId",
          "assetSymbol",
          "amountRaw",
          "amount",
          "usdValue"
        ],
        "properties": {
          "protocol": {
            "type": "string",
            "enum": ["tinyman", "pact", "folks-finance", "compx", "dorkfi"]
          },
          "positionType": {
            "type": "string",
            "enum": ["supplied", "lp", "staked", "debt", "reward"]
          },
          "positionId": {
            "type": "string",
            "minLength": 1
          },
          "opportunityId": {
            "type": ["string", "null"]
          },
          "assetId": {
            "type": ["integer", "null"],
            "minimum": 0
          },
          "assetSymbol": {
            "type": ["string", "null"]
          },
          "amountRaw": {
            "type": "string",
            "pattern": "^[0-9]+$"
          },
          "amount": {
            "type": "string",
            "pattern": "^[0-9]+(?:\\.[0-9]+)?$"
          },
          "usdValue": {
            "type": ["number", "null"],
            "minimum": 0
          },
          "healthFactor": {
            "type": ["number", "null"],
            "minimum": 0,
            "description": "Protocol-reported collateral health ratio when applicable."
          },
          "sourceTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "caveats": {
            "type": "array",
            "items": { "type": "string" }
          },
          "notes": { "type": "string" }
        }
      },
      "ProtocolPositionResult": {
        "type": "object",
        "required": ["protocol", "status", "positionCount", "message"],
        "properties": {
          "protocol": {
            "type": "string",
            "enum": ["tinyman", "pact", "folks-finance", "compx", "dorkfi"]
          },
          "status": {
            "type": "string",
            "enum": ["ok", "partial", "unavailable"]
          },
          "positionCount": { "type": "integer", "minimum": 0 },
          "message": { "type": ["string", "null"] }
        }
      },
      "WalletPositionsResponse": {
        "type": "object",
        "required": ["data", "protocols", "totals", "meta"],
        "properties": {
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/PositionRecord" }
          },
          "protocols": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/ProtocolPositionResult" }
          },
          "totals": {
            "type": "object",
            "description": "Aggregate USD totals. A null value means at least one relevant protocol or position could not be valued completely; null must not be interpreted as zero.",
            "required": ["suppliedUsd", "borrowedUsd", "rewardsUsd", "netUsd"],
            "properties": {
              "suppliedUsd": { "type": ["number", "null"] },
              "borrowedUsd": { "type": ["number", "null"] },
              "rewardsUsd": { "type": ["number", "null"] },
              "netUsd": { "type": ["number", "null"] }
            }
          },
          "meta": {
            "type": "object",
            "required": ["address", "fetchedAt"],
            "properties": {
              "address": {
                "type": "string",
                "description": "Algorand address whose positions were queried."
              },
              "fetchedAt": { "type": "string", "format": "date-time" }
            }
          }
        }
      },
      "ExecutionQuoteInput": {
        "type": "object",
        "required": ["userAddress"],
        "properties": {
          "userAddress": {
            "type": "string",
            "description": "Algorand address that will sign the transaction group."
          },
          "assetAId": {
            "description": "First asset id identifying the Tinyman pool pair (integer or string)."
          },
          "assetAAmount": {
            "type": "string",
            "description": "Amount of asset A in base units for add-liquidity shapes (integer string recommended)."
          },
          "assetBId": {
            "description": "Second asset id identifying the Tinyman pool pair (integer or string). Use 0 for ALGO."
          },
          "assetBAmount": {
            "type": "string",
            "description": "Amount of asset B in base units for add-liquidity shapes (integer string recommended)."
          },
          "poolTokenAmount": {
            "type": "string",
            "description": "Pool token amount in base units for remove-liquidity shapes (integer string recommended)."
          },
          "depositAssetId": {
            "description": "Asset id to deposit for single-asset add-liquidity (must match assetAId or assetBId)."
          },
          "depositAmount": {
            "type": "string",
            "description": "Deposit amount in base units for single-asset add-liquidity (integer string recommended)."
          },
          "outputAssetId": {
            "description": "Asset id to receive for single-asset-out remove-liquidity (must match assetAId or assetBId)."
          },
          "maxSlippageBps": {
            "type": "integer",
            "minimum": 0,
            "maximum": 10000,
            "description": "Maximum tolerated slippage in basis points for Tinyman shapes."
          },
          "poolAppId": {
            "description": "Folks Finance pool application id (from discovery opportunityId)."
          },
          "assetId": {
            "description": "Underlying asset id for Folks Finance pool selection (from discovery assetIds)."
          },
          "assetAmount": {
            "type": "string",
            "description": "Underlying asset amount in base units for Folks deposit shapes."
          },
          "amount": {
            "type": "string",
            "description": "Withdraw amount in base units for Folks withdraw shapes."
          },
          "amountDenomination": {
            "type": "string",
            "enum": ["asset", "fAsset"],
            "description": "Whether Folks withdraw amount is expressed in underlying asset or fAsset units."
          },
          "includeOpUp": {
            "type": "boolean",
            "description": "Whether to prefix Folks deposit groups with an OpUp transaction (default true)."
          },
          "escrowAddress": {
            "type": "string",
            "description": "Folks Finance deposit escrow address. Resolved via indexer when omitted on deposit/withdraw shapes."
          },
          "poolId": {
            "type": "string",
            "description": "Optional discovery/opportunity id for traceability."
          }
        }
      },
      "ExecutionQuoteRequest": {
        "type": "object",
        "required": ["shapeKey", "input"],
        "properties": {
          "shapeKey": {
            "type": "string",
            "description": "Registered transaction shape key.",
            "example": "mainnet:tinyman:v2:addLiquidity:flexible"
          },
          "input": { "$ref": "#/components/schemas/ExecutionQuoteInput" }
        }
      },
      "SerializedTransaction": {
        "type": "object",
        "required": ["type", "sender", "fee", "groupPresent"],
        "properties": {
          "type": { "type": "string" },
          "sender": { "type": "string" },
          "fee": { "type": "string" },
          "groupPresent": { "type": "boolean" },
          "payment": {
            "type": "object",
            "properties": {
              "receiver": { "type": "string" },
              "amount": { "type": "string" },
              "closeRemainderTo": { "type": "string" }
            }
          },
          "assetTransfer": {
            "type": "object",
            "properties": {
              "assetIndex": { "type": "string" },
              "amount": { "type": "string" },
              "receiver": { "type": "string" },
              "assetSender": { "type": "string" },
              "closeRemainderTo": { "type": "string" }
            }
          },
          "applicationCall": {
            "type": "object",
            "properties": {
              "appIndex": { "type": "string" },
              "onComplete": { "type": "integer" },
              "appArgsBase64": { "type": "array", "items": { "type": "string" } },
              "appArgsText": {
                "type": "array",
                "items": { "type": ["string", "null"] }
              },
              "accounts": { "type": "array", "items": { "type": "string" } },
              "foreignApps": { "type": "array", "items": { "type": "string" } },
              "foreignAssets": { "type": "array", "items": { "type": "string" } },
              "boxes": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "appIndex": { "type": "string" },
                    "nameBase64": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      },
      "ExecutableQuote": {
        "type": "object",
        "required": [
          "shapeKey",
          "shapeVersion",
          "identity",
          "createdAt",
          "expiresAt",
          "transactions",
          "encodedTransactions",
          "warnings",
          "metadata"
        ],
        "properties": {
          "shapeKey": { "type": "string" },
          "shapeVersion": { "type": "string" },
          "identity": {
            "type": "object",
            "required": ["network", "protocol", "protocolVersion", "action", "variant"],
            "properties": {
              "network": { "type": "string", "enum": ["mainnet", "testnet"] },
              "protocol": { "type": "string" },
              "protocolVersion": { "type": "string" },
              "action": { "type": "string" },
              "variant": { "type": "string" }
            }
          },
          "createdAt": { "type": "string", "format": "date-time" },
          "expiresAt": { "type": "string", "format": "date-time" },
          "transactions": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/SerializedTransaction" }
          },
          "encodedTransactions": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Base64-encoded unsigned Algorand transaction (msgpack)."
            }
          },
          "warnings": { "type": "array", "items": { "type": "string" } },
          "metadata": { "type": "object", "additionalProperties": true }
        }
      },
      "ExecutionQuoteResponse": {
        "type": "object",
        "required": ["data", "meta"],
        "properties": {
          "data": { "$ref": "#/components/schemas/ExecutableQuote" },
          "meta": {
            "type": "object",
            "required": ["paymentRequired", "executionSubmitted"],
            "properties": {
              "paymentRequired": { "type": "boolean", "enum": [true] },
              "executionSubmitted": { "type": "boolean", "enum": [false] }
            }
          }
        }
      },
      "AlgorandBaseUnitAmount": {
        "description": "Positive integer amount in the asset's base units. A decimal string is preferred to preserve precision.",
        "oneOf": [
          { "type": "string", "pattern": "^[1-9][0-9]*$" },
          { "type": "integer", "minimum": 1 }
        ]
      },
      "HaystackSwapQuoteRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["address", "fromAssetId", "toAssetId", "amount"],
        "properties": {
          "address": {
            "type": "string",
            "description": "Algorand account that will sign and submit the eventual swap."
          },
          "fromAssetId": {
            "description": "Input ASA id; use 0 for ALGO.",
            "oneOf": [
              { "type": "integer", "minimum": 0 },
              { "type": "string", "pattern": "^[0-9]+$" }
            ]
          },
          "toAssetId": {
            "description": "Output ASA id; use 0 for ALGO.",
            "oneOf": [
              { "type": "integer", "minimum": 0 },
              { "type": "string", "pattern": "^[0-9]+$" }
            ]
          },
          "amount": { "$ref": "#/components/schemas/AlgorandBaseUnitAmount" },
          "type": {
            "type": "string",
            "enum": ["fixed-input", "fixed-output"],
            "default": "fixed-input"
          },
          "disabledProtocols": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": ["TinymanV2", "Algofi", "Algomint", "Pact", "Folks", "TAlgo"]
            },
            "uniqueItems": true
          },
          "maxGroupSize": {
            "type": "integer",
            "minimum": 1,
            "maximum": 16,
            "default": 16
          },
          "maxDepth": {
            "type": "integer",
            "minimum": 1,
            "maximum": 4,
            "default": 4
          }
        }
      },
      "HaystackTransactionPayload": {
        "type": ["object", "null"],
        "required": ["iv", "data"],
        "properties": {
          "iv": { "type": "string" },
          "data": { "type": "string" }
        }
      },
      "HaystackSwapQuote": {
        "type": "object",
        "description": "Serializable, short-lived Haystack quote. Preserve this object unchanged when calling the opt-in and transaction endpoints.",
        "required": [
          "address",
          "fromAssetId",
          "toAssetId",
          "amount",
          "type",
          "quotedAmount",
          "createdAt",
          "expiresAt",
          "requiredAppOptIns",
          "txnPayload",
          "route",
          "quotes",
          "protocolFees"
        ],
        "properties": {
          "address": { "type": "string" },
          "fromAssetId": { "type": "string", "pattern": "^[0-9]+$" },
          "toAssetId": { "type": "string", "pattern": "^[0-9]+$" },
          "amount": { "type": "string", "pattern": "^[1-9][0-9]*$" },
          "type": {
            "type": "string",
            "enum": ["fixed-input", "fixed-output"]
          },
          "quotedAmount": {
            "type": "string",
            "pattern": "^[0-9]+$",
            "description": "Quoted output base units for fixed-input or required input base units for fixed-output."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "description": "Reject the quote after this time and fetch a fresh one."
          },
          "priceBaseline": { "type": "number" },
          "userPriceImpact": { "type": "number" },
          "marketPriceImpact": { "type": "number" },
          "usdIn": { "type": "number" },
          "usdOut": { "type": "number" },
          "route": { "type": "array", "items": { "type": "object" } },
          "quotes": { "type": "array", "items": { "type": "object" } },
          "requiredAppOptIns": {
            "type": "array",
            "items": { "type": "string", "pattern": "^[1-9][0-9]*$" }
          },
          "txnPayload": { "$ref": "#/components/schemas/HaystackTransactionPayload" },
          "protocolFees": {
            "type": "object",
            "additionalProperties": { "type": "number" }
          }
        },
        "additionalProperties": true
      },
      "HaystackSwapQuoteResponse": {
        "type": "object",
        "required": ["data", "meta"],
        "properties": {
          "data": { "$ref": "#/components/schemas/HaystackSwapQuote" },
          "meta": {
            "type": "object",
            "required": ["paymentRequired", "executionSubmitted"],
            "properties": {
              "paymentRequired": { "type": "boolean", "const": false },
              "executionSubmitted": { "type": "boolean", "const": false }
            }
          }
        }
      },
      "HaystackSwapOptInRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["address", "quote"],
        "properties": {
          "address": { "type": "string" },
          "quote": { "$ref": "#/components/schemas/HaystackSwapQuote" }
        }
      },
      "HaystackSwapTransactionsRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["address", "quote", "slippage"],
        "properties": {
          "address": { "type": "string" },
          "quote": { "$ref": "#/components/schemas/HaystackSwapQuote" },
          "slippage": {
            "type": "number",
            "minimum": 0,
            "maximum": 100,
            "description": "Maximum unfavorable movement as a percentage; for example, 1 means 1%."
          }
        }
      },
      "WalletlessTransaction": {
        "type": "object",
        "required": ["index", "encodedTransaction", "signer"],
        "properties": {
          "index": { "type": "integer", "minimum": 0 },
          "encodedTransaction": {
            "type": "string",
            "contentEncoding": "base64",
            "description": "Base64-encoded unsigned transaction bytes for inspection and caller signing."
          },
          "signedTransaction": {
            "type": "string",
            "contentEncoding": "base64",
            "description": "Base64-encoded Haystack-signed blob when this member is already signed."
          },
          "signer": {
            "type": "string",
            "enum": ["user", "haystack"],
            "description": "Who supplies the signature for this group member."
          }
        }
      },
      "HaystackOptInTransaction": {
        "type": "object",
        "required": ["index", "kind", "encodedTransaction", "signer"],
        "properties": {
          "index": { "type": "integer", "minimum": 0 },
          "kind": {
            "type": "string",
            "enum": ["asset-opt-in", "application-opt-in"]
          },
          "encodedTransaction": {
            "type": "string",
            "contentEncoding": "base64"
          },
          "signer": { "type": "string", "const": "user" },
          "assetId": { "type": "string", "pattern": "^[1-9][0-9]*$" },
          "appId": { "type": "string", "pattern": "^[1-9][0-9]*$" }
        }
      },
      "WalletlessTransactionGroup": {
        "type": "object",
        "required": ["transactions", "userSignIndexes", "createdAt", "quoteExpiresAt"],
        "properties": {
          "transactions": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/WalletlessTransaction" },
            "description": "Atomic-group order. Do not reorder members."
          },
          "userSignIndexes": {
            "type": "array",
            "items": { "type": "integer", "minimum": 0 },
            "description": "Indexes the caller wallet must sign. Preserve Haystack-signed members unchanged."
          },
          "createdAt": { "type": "string", "format": "date-time" },
          "quoteExpiresAt": { "type": "string", "format": "date-time" }
        }
      },
      "HaystackSwapOptInResponse": {
        "type": "object",
        "required": ["data", "meta"],
        "properties": {
          "data": {
            "type": "object",
            "required": ["required", "transactions", "userSignIndexes", "createdAt", "expiresAt"],
            "properties": {
              "required": { "type": "boolean" },
              "transactions": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/HaystackOptInTransaction" }
              },
              "userSignIndexes": {
                "type": "array",
                "items": { "type": "integer", "minimum": 0 }
              },
              "createdAt": { "type": "string", "format": "date-time" },
              "expiresAt": { "type": "string", "format": "date-time" }
            }
          },
          "meta": {
            "type": "object",
            "required": ["paymentRequired", "executionSubmitted"],
            "properties": {
              "paymentRequired": { "type": "boolean", "const": false },
              "executionSubmitted": { "type": "boolean", "const": false }
            }
          }
        }
      },
      "HaystackSwapTransactionsResponse": {
        "type": "object",
        "required": ["data", "meta"],
        "properties": {
          "data": { "$ref": "#/components/schemas/WalletlessTransactionGroup" },
          "meta": {
            "type": "object",
            "required": ["paymentRequired", "executionSubmitted"],
            "properties": {
              "paymentRequired": { "type": "boolean", "const": true },
              "executionSubmitted": { "type": "boolean", "const": false }
            }
          }
        }
      },
      "HealthResponse": {
        "type": "object",
        "required": ["data"],
        "properties": {
          "data": {
            "type": "object",
            "required": ["service", "status"],
            "properties": {
              "service": { "type": "string", "enum": ["canix402"] },
              "status": { "type": "string", "enum": ["ok"] }
            }
          }
        }
      },
      "EndpointPolicyEntry": {
        "type": "object",
        "required": ["id", "method", "pathPattern", "access", "summary", "tags"],
        "properties": {
          "id": { "type": "string" },
          "method": { "type": "string", "enum": ["GET", "POST"] },
          "pathPattern": { "type": "string" },
          "access": { "type": "string", "enum": ["free", "paid"] },
          "summary": { "type": "string" },
          "description": { "type": "string" },
          "tags": { "type": "array", "items": { "type": "string" } },
          "pathParams": { "type": "array", "items": { "type": "string" } },
          "queryParams": { "type": "array", "items": { "type": "string" } },
          "priceUsdc": { "type": "string" }
        }
      },
      "MetadataResponse": {
        "type": "object",
        "required": ["data"],
        "properties": {
          "data": {
            "type": "object",
            "required": ["service", "environment", "supportedProtocols", "endpointPolicy"],
            "properties": {
              "service": { "type": "string", "enum": ["canix402"] },
              "environment": { "type": "string" },
              "supportedProtocols": { "type": "array", "items": { "type": "string" } },
              "endpointPolicy": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/EndpointPolicyEntry" }
              }
            }
          }
        }
      },
      "DiscoveryResponse": {
        "type": "object",
        "required": ["data"],
        "properties": {
          "data": {
            "type": "object",
            "required": [
              "service",
              "apiVersion",
              "discoveryVersion",
              "capabilities",
              "x402ProtocolVersion",
              "endpoints",
              "errorCatalog"
            ],
            "properties": {
              "service": { "type": "string", "enum": ["canix402"] },
              "apiVersion": { "type": "string" },
              "discoveryVersion": { "type": "string" },
              "capabilities": { "type": "array", "items": { "type": "string" } },
              "x402ProtocolVersion": { "type": "integer", "enum": [2] },
              "endpoints": { "type": "array", "items": { "type": "object" } },
              "errorCatalog": { "type": "array", "items": { "type": "object" } }
            }
          }
        }
      }
    },
    "responses": {
      "PaymentRequired": {
        "description": "Payment required. The client must retry with a signed PAYMENT-SIGNATURE payload.",
        "headers": {
          "PAYMENT-REQUIRED": {
            "description": "Base64-encoded JSON x402 payment requirements the client must satisfy before retrying.",
            "schema": { "type": "string" }
          }
        },
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ApiError" },
            "examples": {
              "missingPayment": { "$ref": "#/components/examples/MissingPaymentSignatureError" },
              "malformedPayment": { "$ref": "#/components/examples/MalformedPaymentSignatureError" },
              "expiredProof": { "$ref": "#/components/examples/ExpiredPaymentProofError" }
            }
          }
        }
      },
      "InvalidAddress": {
        "description": "Request validation failed.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ApiError" },
            "examples": {
              "invalidAddress": { "$ref": "#/components/examples/InvalidAddressError" }
            }
          }
        }
      },
      "ValidationError": {
        "description": "Request validation failed.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ApiError" },
            "examples": {
              "validationError": { "$ref": "#/components/examples/ValidationErrorSample" }
            }
          }
        }
      },
      "NotFound": {
        "description": "Requested resource or shape was not found.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ApiError" },
            "examples": {
              "shapeNotFound": { "$ref": "#/components/examples/ShapeNotFoundError" }
            }
          }
        }
      },
      "InternalError": {
        "description": "Internal error.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ApiError" },
            "examples": {
              "internalError": { "$ref": "#/components/examples/InternalError" }
            }
          }
        }
      },
      "UpstreamRateLimited": {
        "description": "The Haystack upstream rate limit was exceeded. Retry after the interval advertised by the response when available.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ApiError" }
          }
        }
      },
      "UpstreamError": {
        "description": "Haystack or an Algorand network dependency was unavailable.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ApiError" }
          }
        }
      }
    },
    "examples": {
      "HealthResponseSample": {
        "summary": "Healthy service",
        "value": { "data": { "service": "canix402", "status": "ok" } }
      },
      "MetadataResponseSample": {
        "summary": "Service metadata (endpoint policy trimmed)",
        "value": {
          "data": {
            "service": "canix402",
            "environment": "production",
            "supportedProtocols": ["tinyman", "pact", "folks-finance", "compx", "dorkfi"],
            "endpointPolicy": [
              {
                "id": "opportunities",
                "method": "GET",
                "pathPattern": "/opportunities",
                "access": "paid",
                "summary": "Top 10 aggregated DeFi opportunities ranked by APY",
                "description": "Returns ranked Algorand DeFi yield opportunities across supported protocols including Tinyman, Pact, Folks Finance, CompX, and Dork.fi. Use when an agent needs to compare APY/APR, TVL, asset pairs, opportunity type, protocol, source freshness, and caveats before presenting or ranking yield options. This endpoint provides normalized market data only; it does not build or submit transactions.",
                "tags": ["defi", "opportunities"],
                "queryParams": ["protocol", "limit", "offset", "includeInactive"]
              }
            ]
          }
        }
      },
      "DiscoveryResponseSample": {
        "summary": "Discovery document (endpoints trimmed)",
        "value": {
          "data": {
            "service": "canix402",
            "apiVersion": "1.0.0",
            "discoveryVersion": "1.0.0",
            "capabilities": [
              "algorand-defi-opportunities",
              "x402-paid-data",
              "wallet-personalization",
              "agent-discovery",
              "openapi",
              "haystack-swaps"
            ],
            "x402ProtocolVersion": 2,
            "endpoints": [
              {
                "id": "opportunities",
                "method": "GET",
                "path": "/opportunities",
                "access": "paid",
                "summary": "Top 10 aggregated DeFi opportunities ranked by APY",
                "description": "Returns ranked Algorand DeFi yield opportunities across supported protocols including Tinyman, Pact, Folks Finance, CompX, and Dork.fi. Use when an agent needs to compare APY/APR, TVL, asset pairs, opportunity type, protocol, source freshness, and caveats before presenting or ranking yield options. This endpoint provides normalized market data only; it does not build or submit transactions.",
                "tags": ["defi", "opportunities"],
                "pathParams": [],
                "queryParams": ["protocol", "limit", "offset", "includeInactive"],
                "responseCodes": [200, 402, 500],
                "x402": {
                  "protocolVersion": 2,
                  "requiredHeaders": ["PAYMENT-REQUIRED", "PAYMENT-SIGNATURE", "PAYMENT-RESPONSE"],
                  "facilitator": "https://facilitator.goplausible.xyz",
                  "requirementTemplate": {
                    "scheme": "exact",
                    "network": "algorand-mainnet",
                    "asset": "31566704",
                    "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
                    "maxAmountRequired": "0.01"
                  }
                }
              }
            ],
            "errorCatalog": [
              {
                "code": "MISSING_PAYMENT_SIGNATURE",
                "httpStatus": 402,
                "description": "The paid endpoint was called without PAYMENT-SIGNATURE."
              }
            ]
          }
        }
      },
      "X402ManifestSample": {
        "summary": "x402 discovery manifest (resources trimmed)",
        "value": {
          "service": "canix402",
          "name": "canix402",
          "version": "1.0.0",
          "description": "x402-gated Algorand DeFi opportunities data API with USDC payment support.",
          "x402Version": 2,
          "docsUrl": "https://canix402.compx.io/x402",
          "llmsTxtUrl": "https://canix402.compx.io/llms.txt",
          "openapiUrl": "https://canix402-api.compx.io/openapi.json",
          "discoveryUrl": "https://canix402-api.compx.io/discovery",
          "facilitator": "https://facilitator.goplausible.xyz",
          "chains": [
            {
              "namespace": "algorand",
              "network": "algorand-mainnet",
              "assets": [
                {
                  "symbol": "USDC",
                  "assetId": "31566704",
                  "decimals": 6
                }
              ]
            }
          ],
          "resources": [
            {
              "id": "opportunities",
              "method": "GET",
              "path": "/opportunities",
              "url": "https://canix402-api.compx.io/opportunities",
              "description": "Returns ranked Algorand DeFi yield opportunities across supported protocols including Tinyman, Pact, Folks Finance, CompX, and Dork.fi. Use when an agent needs to compare APY/APR, TVL, asset pairs, opportunity type, protocol, source freshness, and caveats before presenting or ranking yield options. This endpoint provides normalized market data only; it does not build or submit transactions.",
              "tags": ["defi", "opportunities"],
              "price": {
                "amount": "0.01",
                "currency": "USDC",
                "network": "algorand-mainnet",
                "asset": "31566704"
              },
              "x402": {
                "protocolVersion": 2,
                "requiredHeaders": ["PAYMENT-REQUIRED", "PAYMENT-SIGNATURE", "PAYMENT-RESPONSE"],
                "facilitator": "https://facilitator.goplausible.xyz",
                "requirementTemplate": {
                  "scheme": "exact",
                  "network": "algorand-mainnet",
                  "asset": "31566704",
                  "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
                  "maxAmountRequired": "0.01"
                }
              }
            }
          ]
        }
      },
      "AggregateOpportunitiesSample": {
        "summary": "Top aggregated opportunities",
        "value": {
          "data": [
            {
              "protocol": "tinyman",
              "opportunityType": "lp",
              "opportunityId": "tinyman:pool:1002541853",
              "assetPair": "ALGO/USDC",
              "apr": 10.512,
              "apy": 12.5,
              "yieldBasis": "apy",
              "tvlUsd": 2450000.5,
              "sourceTimestamp": "2026-07-06T09:00:00.000Z",
              "fetchedAt": "2026-07-06T09:00:00.000Z",
              "notes": "sourceTimestamp reflects fetch time; upstream does not expose a per-row update time."
            },
            {
              "protocol": "folks-finance",
              "opportunityType": "lending",
              "opportunityId": "folks:lending:31566704",
              "assetPair": "USDC",
              "apy": 6.06,
              "yieldBasis": "apy",
              "tvlUsd": 29846.609471,
              "sourceTimestamp": "2026-07-06T08:55:00.000Z",
              "fetchedAt": "2026-07-06T09:00:00.000Z"
            }
          ],
          "meta": {
            "limit": 10,
            "offset": 0,
            "includeInactive": false,
            "paymentRequired": true
          }
        }
      },
      "FilteredOpportunitiesSample": {
        "summary": "Filtered by platform=tinyman and minApy",
        "value": {
          "data": [
            {
              "protocol": "tinyman",
              "opportunityType": "lp",
              "opportunityId": "tinyman:pool:1002541853",
              "assetPair": "ALGO/USDC",
              "apr": 10.512,
              "apy": 12.5,
              "yieldBasis": "apy",
              "tvlUsd": 2450000.5,
              "sourceTimestamp": "2026-07-06T09:00:00.000Z",
              "fetchedAt": "2026-07-06T09:00:00.000Z"
            }
          ],
          "meta": {
            "limit": 25,
            "offset": 0,
            "includeInactive": false,
            "paymentRequired": true
          }
        }
      },
      "PersonalizedOpportunitiesSample": {
        "summary": "Personalized to a wallet's held assets",
        "value": {
          "data": [
            {
              "protocol": "folks-finance",
              "opportunityType": "lending",
              "opportunityId": "folks:lending:0",
              "assetPair": "ALGO",
              "assetIds": [0],
              "apy": 4.25,
              "yieldBasis": "apy",
              "tvlUsd": 1875000.25,
              "sourceTimestamp": "2026-07-06T08:55:00.000Z",
              "fetchedAt": "2026-07-06T09:00:00.000Z"
            },
            {
              "protocol": "tinyman",
              "opportunityType": "lp",
              "opportunityId": "tinyman:pool:1002541853",
              "assetPair": "ALGO/USDC",
              "assetIds": [0, 31566704],
              "apr": 10.512,
              "apy": 12.5,
              "yieldBasis": "apy",
              "tvlUsd": 2450000.5,
              "sourceTimestamp": "2026-07-06T09:00:00.000Z",
              "fetchedAt": "2026-07-06T09:00:00.000Z"
            }
          ],
          "meta": {
            "limit": 10,
            "offset": 0,
            "includeInactive": false,
            "paymentRequired": true,
            "address": "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA",
            "heldAssetCount": 2
          }
        }
      },
      "ProtocolOpportunitiesSample": {
        "summary": "Single-protocol opportunities (tinyman)",
        "value": {
          "data": [
            {
              "protocol": "tinyman",
              "opportunityType": "lp",
              "opportunityId": "tinyman:pool:1002541853",
              "assetPair": "ALGO/USDC",
              "apr": 10.512,
              "apy": 12.5,
              "yieldBasis": "apy",
              "tvlUsd": 2450000.5,
              "sourceTimestamp": "2026-07-06T09:00:00.000Z",
              "fetchedAt": "2026-07-06T09:00:00.000Z"
            }
          ],
          "meta": {
            "limit": 25,
            "offset": 0,
            "includeInactive": false,
            "paymentRequired": true
          }
        }
      },
      "MissingPaymentSignatureError": {
        "summary": "Paid route called without PAYMENT-SIGNATURE",
        "value": {
          "error": {
            "code": "MISSING_PAYMENT_SIGNATURE",
            "message": "The paid endpoint was called without PAYMENT-SIGNATURE."
          }
        }
      },
      "MalformedPaymentSignatureError": {
        "summary": "PAYMENT-SIGNATURE payload is malformed",
        "value": {
          "error": {
            "code": "MALFORMED_PAYMENT_SIGNATURE",
            "message": "PAYMENT-SIGNATURE payload is malformed."
          }
        }
      },
      "ExpiredPaymentProofError": {
        "summary": "PAYMENT-SIGNATURE proof has expired",
        "value": {
          "error": {
            "code": "EXPIRED_PAYMENT_PROOF",
            "message": "PAYMENT-SIGNATURE proof has expired."
          }
        }
      },
      "InvalidAddressError": {
        "summary": "Invalid Algorand address",
        "value": {
          "error": {
            "code": "VALIDATION_ERROR",
            "message": "Query parameter 'address' is not a valid Algorand address."
          }
        }
      },
      "ValidationErrorSample": {
        "summary": "Invalid execution quote input",
        "value": {
          "error": {
            "code": "VALIDATION_ERROR",
            "message": "maxSlippageBps must be an integer between 0 and 10000."
          }
        }
      },
      "ShapeNotFoundError": {
        "summary": "Unknown transaction shape key",
        "value": {
          "error": {
            "code": "NOT_FOUND",
            "message": "No transaction shape registered for key \"mainnet:tinyman:v2:swap:fixedInput\"."
          }
        }
      },
      "ExecutionQuoteRequestSample": {
        "summary": "Tinyman v2 flexible add-liquidity quote request",
        "value": {
          "shapeKey": "mainnet:tinyman:v2:addLiquidity:flexible",
          "input": {
            "userAddress": "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAY5HFKQ",
            "assetAId": 31566704,
            "assetAAmount": "1000000",
            "assetBId": 0,
            "assetBAmount": "2000000",
            "maxSlippageBps": 50
          }
        }
      },
      "ExecutionQuoteRemoveLiquidityRequestSample": {
        "summary": "Tinyman v2 remove-liquidity (multiple assets out) quote request",
        "value": {
          "shapeKey": "mainnet:tinyman:v2:removeLiquidity:multipleAssetsOut",
          "input": {
            "userAddress": "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAY5HFKQ",
            "assetAId": 31566704,
            "assetBId": 0,
            "poolTokenAmount": "500000",
            "maxSlippageBps": 50
          }
        }
      },
      "ExecutionQuoteInitialAddLiquidityRequestSample": {
        "summary": "Tinyman v2 initial add-liquidity quote request",
        "value": {
          "shapeKey": "mainnet:tinyman:v2:addLiquidity:initial",
          "input": {
            "userAddress": "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAY5HFKQ",
            "assetAId": 31566704,
            "assetAAmount": "1000000",
            "assetBId": 0,
            "assetBAmount": "2000000",
            "maxSlippageBps": 50
          }
        }
      },
      "ExecutionQuoteSingleAssetAddLiquidityRequestSample": {
        "summary": "Tinyman v2 single-asset add-liquidity quote request",
        "value": {
          "shapeKey": "mainnet:tinyman:v2:addLiquidity:singleAsset",
          "input": {
            "userAddress": "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAY5HFKQ",
            "assetAId": 31566704,
            "assetBId": 0,
            "depositAssetId": 31566704,
            "depositAmount": "1000000",
            "maxSlippageBps": 50
          }
        }
      },
      "ExecutionQuoteSingleAssetOutRemoveLiquidityRequestSample": {
        "summary": "Tinyman v2 remove-liquidity (single asset out) quote request",
        "value": {
          "shapeKey": "mainnet:tinyman:v2:removeLiquidity:singleAssetOut",
          "input": {
            "userAddress": "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAY5HFKQ",
            "assetAId": 31566704,
            "assetBId": 0,
            "outputAssetId": 31566704,
            "poolTokenAmount": "500000",
            "maxSlippageBps": 50
          }
        }
      },
      "ExecutionQuoteFolksSetupDepositEscrowRequestSample": {
        "summary": "Folks Finance v2 add deposit escrow quote request",
        "value": {
          "shapeKey": "mainnet:folks-finance:v2:setup:depositEscrow",
          "input": {
            "userAddress": "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAY5HFKQ"
          }
        }
      },
      "ExecutionQuoteFolksSetupOptEscrowAssetRequestSample": {
        "summary": "Folks Finance v2 opt escrow into pool fAsset quote request",
        "value": {
          "shapeKey": "mainnet:folks-finance:v2:setup:optEscrowAsset",
          "input": {
            "userAddress": "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAY5HFKQ",
            "escrowAddress": "BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB",
            "poolAppId": 971372237
          }
        }
      },
      "ExecutionQuoteFolksDepositEscrowRequestSample": {
        "summary": "Folks Finance v2 escrow deposit quote request",
        "value": {
          "shapeKey": "mainnet:folks-finance:v2:deposit:escrow",
          "input": {
            "userAddress": "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAY5HFKQ",
            "escrowAddress": "BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB",
            "poolAppId": 971372237,
            "assetAmount": "1000000",
            "poolId": "folks-lending-971372237"
          }
        }
      },
      "ExecutionQuoteFolksWithdrawEscrowRequestSample": {
        "summary": "Folks Finance v2 escrow withdraw quote request",
        "value": {
          "shapeKey": "mainnet:folks-finance:v2:withdraw:escrow",
          "input": {
            "userAddress": "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAY5HFKQ",
            "escrowAddress": "BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB",
            "poolAppId": 971372237,
            "amount": "500000",
            "amountDenomination": "fAsset"
          }
        }
      },
      "ExecutionQuotePactAddLiquidityRequestSample": {
        "summary": "Pact v1 two-sided add-liquidity quote request",
        "value": {
          "shapeKey": "mainnet:pact:v1:addLiquidity:twoSided",
          "input": {
            "userAddress": "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAY5HFKQ",
            "poolAppId": 1072843805,
            "assetAId": 31566704,
            "assetAAmount": "100000",
            "assetBId": 0,
            "assetBAmount": "50000",
            "maxSlippageBps": 50
          }
        }
      },
      "ExecutionQuotePactRemoveLiquidityRequestSample": {
        "summary": "Pact v1 proportional remove-liquidity quote request",
        "value": {
          "shapeKey": "mainnet:pact:v1:removeLiquidity:proportional",
          "input": {
            "userAddress": "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAY5HFKQ",
            "poolAppId": 1072843805,
            "poolTokenAmount": "50000"
          }
        }
      },
      "ExecutionQuoteCompxDepositAsaRequestSample": {
        "summary": "CompX v1 ASA lending deposit quote request",
        "value": {
          "shapeKey": "mainnet:compx:v1:deposit:asa",
          "input": {
            "userAddress": "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAY5HFKQ",
            "marketAppId": 3491050310,
            "amount": "100000"
          }
        }
      },
      "ExecutionQuoteCompxWithdrawAsaRequestSample": {
        "summary": "CompX v1 ASA lending withdraw quote request",
        "value": {
          "shapeKey": "mainnet:compx:v1:withdraw:asa",
          "input": {
            "userAddress": "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAY5HFKQ",
            "marketAppId": 3491050310,
            "amount": "100000"
          }
        }
      },
      "ExecutionQuoteCompxStakeAsaRequestSample": {
        "summary": "CompX v1 ASA staking deposit quote request",
        "value": {
          "shapeKey": "mainnet:compx:v1:stake:asa",
          "input": {
            "userAddress": "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAY5HFKQ",
            "poolAppId": 3500000001,
            "amount": "100000"
          }
        }
      },
      "ExecutionQuoteCompxUnstakeAsaRequestSample": {
        "summary": "CompX v1 ASA staking withdraw quote request",
        "value": {
          "shapeKey": "mainnet:compx:v1:unstake:asa",
          "input": {
            "userAddress": "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAY5HFKQ",
            "poolAppId": 3500000001,
            "amount": "100000"
          }
        }
      },
      "ExecutionQuoteCompxClaimRewardsRequestSample": {
        "summary": "CompX v1 staking reward claim quote request",
        "value": {
          "shapeKey": "mainnet:compx:v1:claim:rewards",
          "input": {
            "userAddress": "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAY5HFKQ",
            "poolAppId": 3500000001
          }
        }
      },
      "ExecutionQuoteDorkfiDepositAsaRequestSample": {
        "summary": "Dork.fi v1 ASA lending deposit quote request",
        "value": {
          "shapeKey": "mainnet:dorkfi:v1:deposit:asa",
          "input": {
            "userAddress": "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAY5HFKQ",
            "poolAppId": 3333688282,
            "marketAppId": 3210682240,
            "assetId": 31566704,
            "amount": "100000"
          }
        }
      },
      "ExecutionQuoteDorkfiWithdrawAsaRequestSample": {
        "summary": "Dork.fi v1 ASA lending withdraw quote request",
        "value": {
          "shapeKey": "mainnet:dorkfi:v1:withdraw:asa",
          "input": {
            "userAddress": "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAY5HFKQ",
            "poolAppId": 3333688282,
            "marketAppId": 3210682240,
            "assetId": 31566704,
            "amount": "100000"
          }
        }
      },
      "ExecutionQuoteResponseSample": {
        "summary": "Unsigned executable quote (transactions trimmed)",
        "value": {
          "data": {
            "shapeKey": "mainnet:tinyman:v2:addLiquidity:flexible",
            "shapeVersion": "1.0.0",
            "identity": {
              "network": "mainnet",
              "protocol": "tinyman",
              "protocolVersion": "v2",
              "action": "addLiquidity",
              "variant": "flexible"
            },
            "createdAt": "2026-07-08T20:00:00.000Z",
            "expiresAt": "2026-07-08T20:00:30.000Z",
            "transactions": [
              {
                "type": "axfer",
                "sender": "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAY5HFKQ",
                "fee": "1000",
                "groupPresent": true,
                "assetTransfer": {
                  "assetIndex": "31566704",
                  "amount": "1000000",
                  "receiver": "BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB"
                }
              }
            ],
            "encodedTransactions": ["base64-encoded-unsigned-txn"],
            "warnings": [],
            "metadata": {
              "poolAddress": "BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB",
              "poolTokenId": 900001,
              "minPoolTokenOut": "1407142"
            }
          },
          "meta": {
            "paymentRequired": true,
            "executionSubmitted": false
          }
        }
      },
      "InternalError": {
        "summary": "Internal server error",
        "value": {
          "error": {
            "code": "INTERNAL_ERROR",
            "message": "Internal server error."
          }
        }
      }
    }
  }
}
