{
  "openapi": "3.1.0",
  "info": {
    "title": "canix402 API",
    "version": "1.0.0",
    "description": "x402-gated Algorand DeFi data and walletless transaction API, including Haystack swap quotes, prerequisite opt-ins, and paid atomic swap-group generation. Numeric yield/USD fields (apy, apr, tvlUsd) are returned with a standard precision of 6 decimal places, extended up to 12 decimal places only when needed to represent small non-zero values. Asset decimals are always sourced on-chain from algod.",
    "contact": {
      "name": "Neon Forge Ltd",
      "email": "kieran@neonforge.ltd",
      "url": "https://canix402.compx.io"
    },
    "x-guidance": "Use the gateway base URL in servers[0]. Fetch /discovery and /openapi.json before integrating. Prefer the remote canix402 MCP server at https://canix402-mcp.compx.io/mcp (streamable-http, walletless pass-through) for agent tool access. Paid routes return HTTP 402 with PAYMENT-REQUIRED; sign a USDC ASA transfer client-side and retry with PAYMENT-SIGNATURE. Haystack swaps follow quote -> opt-in if needed -> fresh quote -> paid transaction generation -> local signing/submission. Human and LLM docs: https://canix402.compx.io/llms.txt",
    "x-precision": {
      "fields": [
        "apy",
        "apr",
        "tvlUsd"
      ],
      "defaultDecimalPlaces": 6,
      "maxDecimalPlaces": 12,
      "notes": "Values are rounded to 6 decimal places by default; precision is extended up to 12 decimal places when 6 would collapse a small non-zero value to zero."
    }
  },
  "servers": [
    {
      "url": "https://canix402-api.compx.io"
    }
  ],
  "x-discovery": {
    "docsUrl": "https://canix402.compx.io/x402",
    "llmsTxtUrl": "https://canix402.compx.io/llms.txt",
    "mcpInstall": "https://canix402.compx.io/x402#mcp",
    "mcpUrl": "https://canix402-mcp.compx.io/mcp",
    "mcpTransport": "streamable-http"
  },
  "paths": {
    "/": {
      "get": {
        "summary": "API root branding and social metadata page",
        "tags": [
          "system",
          "discovery"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "HTML landing page with logo, banner, title, description, and social metadata",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "summary": "Service health check",
        "tags": [
          "system"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/HealthResponseSample"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ready": {
      "get": {
        "summary": "Service readiness check (Algod required; Redis soft)",
        "tags": [
          "system"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Ready or degraded (Algod reachable)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadyResponse"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/ReadyResponseSample"
                  }
                }
              }
            }
          },
          "503": {
            "description": "Not ready (Algod unreachable)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadyResponse"
                }
              }
            }
          }
        }
      }
    },
    "/metrics": {
      "get": {
        "summary": "Prometheus metrics scrape endpoint (internal)",
        "description": "Prometheus text exposition format. Intended for internal scrapes on the protocol component (:3000). Not exposed on the public Caddy gateway.",
        "tags": [
          "system",
          "observability"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Prometheus metrics",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/metadata": {
      "get": {
        "summary": "Service metadata and policy surface",
        "tags": [
          "system",
          "discovery"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetadataResponse"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/MetadataResponseSample"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/discovery": {
      "get": {
        "summary": "Machine-readable endpoint catalog for agents",
        "tags": [
          "discovery",
          "agents"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Discovery document",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscoveryResponse"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/DiscoveryResponseSample"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "summary": "OpenAPI contract document",
        "tags": [
          "discovery",
          "openapi"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "OpenAPI JSON",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "This OpenAPI 3.1 document."
                }
              }
            }
          }
        }
      }
    },
    "/favicon.ico": {
      "get": {
        "summary": "API favicon for directory indexing",
        "tags": [
          "system",
          "discovery"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Favicon image",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/favicon.png": {
      "get": {
        "summary": "API favicon image",
        "tags": [
          "system",
          "discovery"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Favicon image",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/logo.png": {
      "get": {
        "summary": "Service logo for directory and social indexing",
        "tags": [
          "system",
          "discovery"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Service logo image",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/banner.png": {
      "get": {
        "summary": "Service banner for directory and social indexing",
        "tags": [
          "system",
          "discovery"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Service banner image",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/x402.json": {
      "get": {
        "summary": "x402 discovery manifest for agent and directory indexing",
        "tags": [
          "discovery",
          "agents",
          "x402"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "x402 discovery manifest",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "service",
                    "name",
                    "version",
                    "description",
                    "x402Version",
                    "docsUrl",
                    "llmsTxtUrl",
                    "openapiUrl",
                    "discoveryUrl",
                    "logoUrl",
                    "bannerUrl",
                    "facilitator",
                    "chains",
                    "resources"
                  ],
                  "properties": {
                    "service": {
                      "type": "string",
                      "const": "canix402"
                    },
                    "name": {
                      "type": "string",
                      "const": "canix402"
                    },
                    "version": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "x402Version": {
                      "type": "integer",
                      "const": 2
                    },
                    "docsUrl": {
                      "type": "string",
                      "format": "uri"
                    },
                    "llmsTxtUrl": {
                      "type": "string",
                      "format": "uri"
                    },
                    "openapiUrl": {
                      "type": "string",
                      "format": "uri"
                    },
                    "discoveryUrl": {
                      "type": "string",
                      "format": "uri"
                    },
                    "logoUrl": {
                      "type": "string",
                      "format": "uri"
                    },
                    "bannerUrl": {
                      "type": "string",
                      "format": "uri"
                    },
                    "facilitator": {
                      "type": "string",
                      "format": "uri"
                    },
                    "chains": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "namespace": {
                            "type": "string",
                            "const": "algorand"
                          },
                          "network": {
                            "type": "string"
                          },
                          "assets": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "symbol": {
                                  "type": "string",
                                  "const": "USDC"
                                },
                                "assetId": {
                                  "type": "string"
                                },
                                "decimals": {
                                  "type": "integer",
                                  "const": 6
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "resources": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "method",
                          "path",
                          "url",
                          "description",
                          "price",
                          "x402"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "method": {
                            "type": "string",
                            "enum": [
                              "GET",
                              "POST"
                            ]
                          },
                          "path": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string",
                            "format": "uri"
                          },
                          "description": {
                            "type": "string"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "price": {
                            "type": "object",
                            "properties": {
                              "amount": {
                                "type": "string"
                              },
                              "currency": {
                                "type": "string",
                                "const": "USDC"
                              },
                              "network": {
                                "type": "string"
                              },
                              "asset": {
                                "type": "string"
                              }
                            }
                          },
                          "x402": {
                            "type": "object"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/X402ManifestSample"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/x402": {
      "get": {
        "summary": "x402 discovery fan-out document",
        "tags": [
          "discovery",
          "agents",
          "x402"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Paid resource URL list for directory registration",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "version",
                    "resources"
                  ],
                  "properties": {
                    "version": {
                      "type": "integer",
                      "const": 1
                    },
                    "resources": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "uri"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/opportunities": {
      "get": {
        "summary": "Top 10 aggregated DeFi opportunities ranked by APY",
        "description": "Returns ranked Algorand DeFi yield opportunities across supported protocols including Tinyman, Pact, Folks Finance, CompX, Dork.fi, Myth Finance, and Haystack. Use when an agent needs to compare APY/APR, TVL, asset pairs, opportunity type, protocol, source freshness, and caveats before presenting or ranking yield options. This endpoint provides normalized market data only; it does not build or submit transactions.",
        "tags": [
          "defi",
          "opportunities"
        ],
        "parameters": [
          {
            "name": "protocol",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "includeInactive",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "refresh",
            "in": "query",
            "description": "Bypass Redis and refetch adapters; still writes a fresh cache entry. Default false.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Opportunity list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpportunitiesListResponse"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/AggregateOpportunitiesSample"
                  }
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          }
        },
        "x-x402": {
          "protocolVersion": 2,
          "requiredHeaders": [
            "PAYMENT-REQUIRED",
            "PAYMENT-SIGNATURE",
            "PAYMENT-RESPONSE"
          ],
          "requirementTemplate": {
            "scheme": "exact",
            "network": "algorand-mainnet",
            "asset": "31566704",
            "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
            "maxAmountRequired": "0.01"
          }
        }
      }
    },
    "/opportunities/search": {
      "get": {
        "summary": "Caller-filtered opportunities across supported platforms",
        "description": "Returns Algorand DeFi opportunities filtered by platform, opportunity type, APY range, TVL threshold, and optional ASA assetIds across supported sources. Use when an agent needs targeted discovery such as high-yield liquidity pools, lending markets, protocol-specific yield, minimum-liquidity opportunities, or yields for specific Algorand assets (assetIds=0 for ALGO). This endpoint provides normalized market data only; it does not build or submit transactions.",
        "tags": [
          "defi",
          "opportunities",
          "search"
        ],
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Comma-separated list of platforms."
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Comma-separated list of opportunity types."
            }
          },
          {
            "name": "minApy",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "maxApy",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "minTvlUsd",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": 0
            }
          },
          {
            "name": "assetIds",
            "in": "query",
            "description": "Comma-separated Algorand ASA ids (0 = ALGO). Keeps opportunities whose assetIds intersect any requested id. Rows without assetIds do not match when this filter is set.",
            "schema": {
              "type": "string",
              "example": "0,31566704"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 25
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "includeInactive",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "refresh",
            "in": "query",
            "description": "Bypass Redis and refetch adapters; still writes a fresh cache entry. Default false.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Filtered opportunity list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpportunitiesListResponse"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/FilteredOpportunitiesSample"
                  }
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          }
        },
        "x-x402": {
          "protocolVersion": 2,
          "requiredHeaders": [
            "PAYMENT-REQUIRED",
            "PAYMENT-SIGNATURE",
            "PAYMENT-RESPONSE"
          ],
          "requirementTemplate": {
            "scheme": "exact",
            "network": "algorand-mainnet",
            "asset": "31566704",
            "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
            "maxAmountRequired": "0.01"
          }
        }
      }
    },
    "/opportunities/personalized": {
      "get": {
        "summary": "Top opportunities tuned to a wallet's held assets",
        "description": "Returns Algorand DeFi opportunities whose underlying assets match a supplied wallet's holdings, including opted-in ASAs with positive balance and native ALGO when held. Matching applies POST /eligibility rules (min amount, ASA gates, capacity, unresolved NFD/creator gates) so full or gated venues are not recommended as enterable. Each row includes canEnter and eligibilityFullyCheckable; quote-time on-chain checks remain authoritative. Use POST /eligibility for the diagnostic (missingAssets, gates, capacity, suggestedSwap). This endpoint provides normalized market data only; it does not build or submit transactions.", "x-pragma": "pragma: allowlist secret",
        "tags": [
          "defi",
          "opportunities",
          "personalized",
          "wallet"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Algorand account address to personalize opportunities for."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "includeInactive",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "refresh",
            "in": "query",
            "description": "Bypass Redis and refetch adapters; still writes a fresh cache entry. Default false.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Personalized opportunity list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalizedOpportunitiesListResponse"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/PersonalizedOpportunitiesSample"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidAddress"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.05"
          }
        },
        "x-x402": {
          "protocolVersion": 2,
          "requiredHeaders": [
            "PAYMENT-REQUIRED",
            "PAYMENT-SIGNATURE",
            "PAYMENT-RESPONSE"
          ],
          "requirementTemplate": {
            "scheme": "exact",
            "network": "algorand-mainnet",
            "asset": "31566704",
            "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
            "maxAmountRequired": "0.05"
          }
        }
      }
    },
    "/eligibility": {
      "post": {
        "summary": "Wallet eligibility and capacity for selected opportunities",
        "description": "Checks whether a wallet can enter one or more opportunities before requesting an execution quote. Resolves R\u00e9ti entryRequirements and capacity (min amount, ASA gates, staker slots, ALGO room). NFD and creator gates are published as unresolved \u2014 canEnter is never true until eligibilityFullyCheckable is true. Returns missingAssets, gates, capacity, and an optional suggestedSwap hint (not a live quote). Quote-time on-chain checks remain authoritative. Canix does not sign or submit transactions.",
        "tags": [
          "defi",
          "opportunities",
          "eligibility",
          "wallet"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EligibilityRequest"
              },
              "examples": {
                "default": {
                  "$ref": "#/components/examples/EligibilityRequestSample"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Eligibility diagnostics for the requested opportunities",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EligibilityResponse"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/EligibilitySample"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          }
        },
        "x-x402": {
          "protocolVersion": 2,
          "requiredHeaders": [
            "PAYMENT-REQUIRED",
            "PAYMENT-SIGNATURE",
            "PAYMENT-RESPONSE"
          ],
          "requirementTemplate": {
            "scheme": "exact",
            "network": "algorand-mainnet", "x-pragma-network": "pragma: allowlist secret",
            "asset": "31566704", "x-pragma-asset": "pragma: allowlist secret",
            "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
            "maxAmountRequired": "0.01"
          }
        }
      }
    },
    "/plans": {
      "post": {
        "summary": "Compile an allocation intent into an ordered unsigned plan",
        "description": "Agent states an allocation intent (address, budget/asset, constraints such as max protocol weight, no new borrows, execution-ready only, TVL/freshness floors). Canix returns ordered steps: eligibility, optional live Haystack swap compose (opt-in → swap → enter, driven by requiredAssetIds), protocol setup chains, and enter quotes as independent unsigned groups (never merged). Reuses quotes[] / order / prerequisiteShapeKeys. Includes expected position delta, x402 + network fee totals, and expiry. Quote-time on-chain checks remain authoritative. Canix does not sign or submit. Brownie and other agents should consume POST /plans rather than forking a compiler.",
        "tags": [
          "defi",
          "plans",
          "execution",
          "eligibility",
          "wallet"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlanRequest"
              },
              "examples": {
                "default": {
                  "$ref": "#/components/examples/PlanRequestSample"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ordered unsigned plan with eligibility, quotes[], and fee totals",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanResponse"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/PlanSample"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.25"
          }
        },
        "x-x402": {
          "protocolVersion": 2,
          "requiredHeaders": [
            "PAYMENT-REQUIRED",
            "PAYMENT-SIGNATURE",
            "PAYMENT-RESPONSE"
          ],
          "requirementTemplate": {
            "scheme": "exact",
            "network": "[REDACTED]", "x-pragma-network": "pragma: allowlist secret",
            "asset": "[REDACTED]", "x-pragma-asset": "pragma: allowlist secret",
            "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
            "maxAmountRequired": "0.25"
          }
        }
      }
    },
    "/plans/rebalance": {
      "post": {
        "summary": "Compile a delta rebalance plan of unsigned groups",
        "description": "Positions are the book; opportunities are the menu. Pass address plus targetWeights (bps summing to 10000) and/or harvestIdle to claim worth-claiming rewards and redeploy idle ALGO. Returns ordered unsigned groups — claims, partial exits, optional Haystack swap compose, and enters — only the delta legs that change the book (not a full unwind-and-rebuild). Reuses claim desk, eligibility, compose, and position exit/manage shapeKeys. Groups are never merged. Canix does not sign or submit.",
        "tags": [
          "defi",
          "plans",
          "rebalance",
          "execution",
          "eligibility",
          "wallet"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RebalanceRequest"
              },
              "examples": {
                "default": {
                  "$ref": "#/components/examples/RebalanceRequestSample"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ordered unsigned delta plan with claims, exits, and enters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RebalanceResponse"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/RebalanceSample"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.25"
          }
        },
        "x-x402": {
          "protocolVersion": 2,
          "requiredHeaders": [
            "PAYMENT-REQUIRED",
            "PAYMENT-SIGNATURE",
            "PAYMENT-RESPONSE"
          ],
          "requirementTemplate": {
            "scheme": "exact",
            "network": "[REDACTED]", "x-pragma-network": "pragma: allowlist secret",
            "asset": "[REDACTED]", "x-pragma-asset": "pragma: allowlist secret",
            "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
            "maxAmountRequired": "0.25"
          }
        }
      }
    },
    "/positions": {
      "get": {
        "summary": "Algorand DeFi positions held by a wallet",
        "description": "Returns normalized DeFi positions associated with a supplied Algorand wallet address across supported protocols. Use when an agent needs a wallet-level view of deposited, supplied, staked, or liquidity positions and their current values. This endpoint provides position data only; it does not build or submit transactions.",
        "tags": [
          "defi",
          "positions",
          "wallet"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Algorand account address whose DeFi positions should be returned."
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet position list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletPositionsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidAddress"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005"
          }
        },
        "x-x402": {
          "protocolVersion": 2,
          "requiredHeaders": [
            "PAYMENT-REQUIRED",
            "PAYMENT-SIGNATURE",
            "PAYMENT-RESPONSE"
          ],
          "requirementTemplate": {
            "scheme": "exact",
            "network": "algorand-mainnet",
            "asset": "31566704",
            "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
            "maxAmountRequired": "0.005"
          }
        }
      }
    },
    "/positions/claimable": {
      "get": {
        "summary": "Claimable DeFi rewards across supported protocols",
        "description": "Returns claimable reward rows for a wallet with USD value, network-fee / worth-claiming hints, compatible claim shapeKeys, and ready-to-POST quote inputs. Use claimAllQuotes (or selected per-row quotes) with POST /execution/quotes to compile unsigned claim groups \u2014 groups are never merged. Covers Tinyman farm, stALGO TINY claim, CompX staking, Pact farm, Haystack, and Alpha Arcade. This endpoint does not build or submit transactions.",
        "tags": [
          "defi",
          "positions",
          "rewards",
          "wallet",
          "execution"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Algorand account address whose claimable rewards should be returned."
          }
        ],
        "responses": {
          "200": {
            "description": "Claimable rewards desk",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClaimableRewardsResponse"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/ClaimableRewardsSample"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidAddress"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001"
          }
        },
        "x-x402": {
          "protocolVersion": 2,
          "requiredHeaders": [
            "PAYMENT-REQUIRED",
            "PAYMENT-SIGNATURE",
            "PAYMENT-RESPONSE"
          ],
          "requirementTemplate": {
            "scheme": "exact",
            "network": "algorand-mainnet",
            "asset": "31566704",
            "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
            "maxAmountRequired": "0.001"
          }
        }
      }
    },
    "/public/agents/brownie/positions": {
      "get": {
        "summary": "Public DeFi positions for the Brownie Bot showcase wallet",
        "description": "Free showcase route that returns normalized DeFi positions for the Brownie Bot treasury wallet only. The wallet address is hardcoded server-side \u2014 this is not a general free /positions browser. Use GET /positions?address= for arbitrary wallets (paid).",
        "tags": [
          "defi",
          "positions",
          "agents",
          "showcase"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Brownie Bot wallet position list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletPositionsResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/protocols/{protocol}/opportunities": {
      "get": {
        "summary": "Top 25 DeFi opportunities for a single protocol ranked by APY",
        "description": "Returns ranked DeFi opportunities for one Algorand protocol: tinyman, pact, folks-finance, compx, dorkfi, myth-finance, haystack, reti, or alpha-arcade. Use when an agent already knows the target protocol and needs normalized APY/APR, TVL, asset pair, opportunity type, timestamps, and caveats for that venue. This endpoint provides normalized market data only; it does not build or submit transactions.",
        "tags": [
          "defi",
          "opportunities",
          "protocol"
        ],
        "parameters": [
          {
            "name": "protocol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "tinyman",
                "pact",
                "folks-finance",
                "compx",
                "dorkfi",
                "myth-finance",
                "haystack",
                "reti",
                "alpha-arcade"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 25
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "includeInactive",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "refresh",
            "in": "query",
            "description": "Bypass Redis and refetch adapters; still writes a fresh cache entry. Default false.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Protocol opportunity list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpportunitiesListResponse"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/ProtocolOpportunitiesSample"
                  }
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          }
        },
        "x-x402": {
          "protocolVersion": 2,
          "requiredHeaders": [
            "PAYMENT-REQUIRED",
            "PAYMENT-SIGNATURE",
            "PAYMENT-RESPONSE"
          ],
          "requirementTemplate": {
            "scheme": "exact",
            "network": "algorand-mainnet",
            "asset": "31566704",
            "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
            "maxAmountRequired": "0.01"
          }
        }
      }
    },
    "/execution/shapes": {
      "get": {
        "summary": "List verified execution shape catalog metadata",
        "description": "Returns the live catalog of verified transaction shapes (shapeKey, requiredInputs, opportunityRole, docsPath). meta.caveatsDocsPath points at protocol-specific construction caveats. Catalog metadata only \u2014 does not compile quotes or return unsigned transactions. Use POST /execution/quotes to compile executable groups. Do not guess pool discovery, opt-ins, min-balance, slippage, liquidity limits, or app upgrades. Read protocol/docs/execution-shapes/protocol-caveats.md (GET /execution/shapes meta.caveatsDocsPath) and each shape's docsPath.",
        "tags": [
          "execution",
          "discovery",
          "agents"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Execution shape catalog",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecutionShapesListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/execution/quotes": {
      "post": {
        "summary": "Compile a verified transaction shape into unsigned Algorand transactions",
        "description": "Accepts `{ quotes: [{ shapeKey, input }, ...] }` (min 1) and returns an array of fresh, validated, unsigned transaction groups in request order. Groups are never merged across quotes. On failure the whole request fails and error.details includes quoteIndex and shapeKey. Price is flat per request (not per quote item). Use when an agent has selected one or more DeFi actions and needs deterministic transaction bytes to sign locally. Currently supports all five Tinyman v2 LP shapes (flexible/initial/single-asset add; multiple-assets-out/single-asset-out remove), Tinyman farm shapes (staking-v1 farm:commit / farm:uncommit / farm:claimRewards; v2 addLiquidityAndFarm flexible/single-asset that add liquidity and commit the new LP position in one atomic group, with LP tokens remaining in the wallet), Tinyman liquid-stake/restake shapes (liquid-stake-v1 mint/burn tALGO; restake-v1 increaseStake/decreaseStake/claimRewards stALGO), Folks Finance v2 lending escrow shapes (setup depositEscrow/optEscrowAsset; deposit:escrow; withdraw:escrow), Folks Finance v2 loan credit shapes (setup:loanEscrow; setup:addCollateral; collateral:sync / collateral:reduce; borrow:variable; repay:withTxn), Folks Finance xALGO liquid-stake shapes (xalgo-v1 stake/unstake immediate), Pact v1 LP add/remove shapes, CompX v1 lending shapes (deposit/withdraw ASA; borrow:asa; repay:asa) and CompX v1 staking shapes, Dork.fi v1 ASA lending shapes (deposit/withdraw; borrow:asa; repay:asa), Myth Finance dualSTAKE shapes (dualstake-v1 mint/redeem LST; farm yield accrues passively while holding the LST), Haystack v1 single-token HAY staking shapes (stake HAY; unstake HAY and claim USDC+HAY rewards; claim USDC+HAY rewards), and R\u00e9ti v1 ALGO staking shapes (stake/unstake). Canix does not sign or submit transactions in this endpoint. Do not guess pool discovery, opt-ins, min-balance, slippage, liquidity limits, or app upgrades. Read protocol/docs/execution-shapes/protocol-caveats.md (GET /execution/shapes meta.caveatsDocsPath) and each shape's docsPath.",
        "tags": [
          "execution",
          "transactions",
          "x402",
          "agents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecutionQuoteRequest"
              },
              "examples": {
                "tinymanAddLiquidity": {
                  "$ref": "#/components/examples/ExecutionQuoteRequestSample"
                },
                "tinymanAddLiquidityInitial": {
                  "$ref": "#/components/examples/ExecutionQuoteInitialAddLiquidityRequestSample"
                },
                "tinymanAddLiquiditySingleAsset": {
                  "$ref": "#/components/examples/ExecutionQuoteSingleAssetAddLiquidityRequestSample"
                },
                "tinymanRemoveLiquidity": {
                  "$ref": "#/components/examples/ExecutionQuoteRemoveLiquidityRequestSample"
                },
                "tinymanRemoveLiquiditySingleAssetOut": {
                  "$ref": "#/components/examples/ExecutionQuoteSingleAssetOutRemoveLiquidityRequestSample"
                },
                "folksSetupDepositEscrow": {
                  "$ref": "#/components/examples/ExecutionQuoteFolksSetupDepositEscrowRequestSample"
                },
                "folksSetupOptEscrowAsset": {
                  "$ref": "#/components/examples/ExecutionQuoteFolksSetupOptEscrowAssetRequestSample"
                },
                "folksDepositEscrow": {
                  "$ref": "#/components/examples/ExecutionQuoteFolksDepositEscrowRequestSample"
                },
                "folksWithdrawEscrow": {
                  "$ref": "#/components/examples/ExecutionQuoteFolksWithdrawEscrowRequestSample"
                },
                "pactAddLiquidity": {
                  "$ref": "#/components/examples/ExecutionQuotePactAddLiquidityRequestSample"
                },
                "pactRemoveLiquidity": {
                  "$ref": "#/components/examples/ExecutionQuotePactRemoveLiquidityRequestSample"
                },
                "compxDepositAsa": {
                  "$ref": "#/components/examples/ExecutionQuoteCompxDepositAsaRequestSample"
                },
                "compxWithdrawAsa": {
                  "$ref": "#/components/examples/ExecutionQuoteCompxWithdrawAsaRequestSample"
                },
                "dorkfiDepositAsa": {
                  "$ref": "#/components/examples/ExecutionQuoteDorkfiDepositAsaRequestSample"
                },
                "dorkfiWithdrawAsa": {
                  "$ref": "#/components/examples/ExecutionQuoteDorkfiWithdrawAsaRequestSample"
                },
                "haystackStakeHay": {
                  "$ref": "#/components/examples/ExecutionQuoteHaystackStakeHayRequestSample"
                },
                "haystackUnstakeHay": {
                  "$ref": "#/components/examples/ExecutionQuoteHaystackUnstakeHayRequestSample"
                },
                "haystackClaimRewards": {
                  "$ref": "#/components/examples/ExecutionQuoteHaystackClaimRewardsRequestSample"
                },
                "multiQuote": {
                  "$ref": "#/components/examples/ExecutionQuoteMultiRequestSample"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Unsigned executable quote",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecutionQuoteResponse"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/ExecutionQuoteResponseSample"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.1"
          }
        },
        "x-x402": {
          "protocolVersion": 2,
          "requiredHeaders": [
            "PAYMENT-REQUIRED",
            "PAYMENT-SIGNATURE",
            "PAYMENT-RESPONSE"
          ],
          "requirementTemplate": {
            "scheme": "exact",
            "network": "algorand-mainnet",
            "asset": "31566704",
            "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
            "maxAmountRequired": "0.1"
          }
        }
      }
    },
    "/execution/compose": {
      "post": {
        "summary": "Compose opt-in → Haystack swap → enter as unmerged unsigned groups",
        "description": "Compiles “I hold asset A, I want this opportunity” into sequenced groups: optional ASA/app opt-in, Haystack swap (signer indexes and pre-signed members preserved), then enter — driven by requiredAssetIds. Groups are never merged. Failure modes (stale quote, missing opt-in, slippage) are listed on step warnings. Canix does not sign or submit. Caller signs user legs and submits locally in order. Quote-time on-chain checks remain authoritative.",
        "tags": [
          "execution",
          "swaps",
          "haystack",
          "plans",
          "x402",
          "agents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ComposeRequest"
              },
              "examples": {
                "default": {
                  "$ref": "#/components/examples/ComposeRequestSample"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sequenced unsigned opt-in, Haystack swap, and enter groups",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComposeResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.1"
          }
        },
        "x-x402": {
          "protocolVersion": 2,
          "requiredHeaders": [
            "PAYMENT-REQUIRED",
            "PAYMENT-SIGNATURE",
            "PAYMENT-RESPONSE"
          ],
          "requirementTemplate": {
            "scheme": "exact",
            "network": "[REDACTED]", "x-pragma-network": "pragma: allowlist secret",
            "asset": "[REDACTED]", "x-pragma-asset": "pragma: allowlist secret",
            "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
            "maxAmountRequired": "0.1"
          }
        }
      }
    },
    "/pricing": {
      "post": {
        "summary": "Fetch USD token prices for Algorand asset IDs",
        "description": "Returns CompX USD oracle prices for the requested Algorand asset IDs. A null price indicates that CompX has no current price for that asset.",
        "tags": [
          "defi",
          "pricing",
          "compx",
          "agents"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PricingRequest"
              },
              "examples": {
                "algoAndUsdc": {
                  "value": {
                    "assetIds": [
                      0,
                      31566704
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Current CompX USD prices for requested assets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PricingResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/swaps/quote": {
      "post": {
        "summary": "Fetch a walletless Haystack swap quote",
        "description": "Returns a short-lived, serializable Haystack route quote without signing or submitting transactions. Asset amounts are integer base units, not display-unit decimals. Use the returned quote unchanged with /swaps/optin and /swaps/transactions. If prerequisite opt-ins are submitted, fetch a fresh quote before building the swap group.",
        "tags": [
          "defi",
          "swaps",
          "haystack",
          "agents"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HaystackSwapQuoteRequest"
              },
              "examples": {
                "algoToUsdc": {
                  "value": {
                    "address": "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAY5HFKQ",
                    "fromAssetId": 0,
                    "toAssetId": 31566704,
                    "amount": "1000000",
                    "type": "fixed-input"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Serializable Haystack quote and prerequisite identifiers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HaystackSwapQuoteResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/UpstreamRateLimited"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/swaps/optin": {
      "post": {
        "summary": "Build prerequisite Haystack swap opt-ins",
        "description": "Checks the supplied Algorand account against the quote and returns a fresh unsigned group containing any missing output-asset and required application opt-ins. An empty transaction group means no opt-ins are required. canix402 is walletless: the caller signs and submits every returned opt-in transaction locally, waits for confirmation, and then refreshes the quote before requesting swap transactions. This route does not claim that returned opt-ins have executed.",
        "tags": [
          "defi",
          "swaps",
          "haystack",
          "transactions",
          "wallet"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HaystackSwapOptInRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Unsigned prerequisite group, or an empty group when no opt-ins are missing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HaystackSwapOptInResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/swaps/transactions": {
      "post": {
        "summary": "Build a walletless Haystack swap transaction group",
        "description": "Paid transaction-generation step for a fresh Haystack quote. The initial request may return 402 with PAYMENT-REQUIRED; satisfy the advertised 0.005 USDC requirement and retry with PAYMENT-SIGNATURE. On success, the response preserves transaction order, identifies caller members in userSignIndexes, and includes Haystack pre-signed members. Sign only the userSignIndexes members, combine them with the pre-signed members in the original order, and submit the complete atomic group through your own Algod client. canix402 never receives wallet keys and never submits the swap. The 0.005 USDC x402 access charge is separate from Haystack's SDK-default 10 bps output fee (including referral split), DEX fees, route price impact, and Algorand network transaction fees.",
        "tags": [
          "defi",
          "swaps",
          "haystack",
          "transactions",
          "x402",
          "agents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HaystackSwapTransactionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ordered, walletless Haystack swap group ready for caller signing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HaystackSwapTransactionsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/UpstreamRateLimited"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005"
          }
        },
        "x-x402": {
          "protocolVersion": 2,
          "requiredHeaders": [
            "PAYMENT-REQUIRED",
            "PAYMENT-SIGNATURE",
            "PAYMENT-RESPONSE"
          ],
          "requirementTemplate": {
            "scheme": "exact",
            "network": "algorand-mainnet",
            "asset": "31566704",
            "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
            "maxAmountRequired": "0.005"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ApiError": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "properties": {
              "code": {
                "type": "string",
                "description": "Stable machine-readable error code.",
                "enum": [
                  "VALIDATION_ERROR",
                  "INTERNAL_ERROR",
                  "NOT_FOUND",
                  "MISSING_PAYMENT_SIGNATURE",
                  "MALFORMED_PAYMENT_SIGNATURE",
                  "EXPIRED_PAYMENT_PROOF"
                ]
              },
              "message": {
                "type": "string"
              },
              "details": {
                "description": "Optional structured context for the error."
              }
            }
          }
        }
      },
      "OpportunityRecord": {
        "type": "object",
        "required": [
          "protocol",
          "opportunityType",
          "opportunityId",
          "assetPair",
          "apy",
          "yieldBasis",
          "tvlUsd",
          "sourceTimestamp",
          "fetchedAt",
          "executionReady",
          "executionShapes",
          "compatibleExitShapes"
        ],
        "properties": {
          "protocol": {
            "type": "string",
            "description": "Source platform name.",
            "enum": [
              "tinyman",
              "pact",
              "folks-finance",
              "compx",
              "dorkfi",
              "myth-finance",
              "haystack",
              "reti",
              "alpha-arcade"
            ]
          },
          "opportunityType": {
            "type": "string",
            "enum": [
              "lp",
              "farm",
              "staking",
              "lending"
            ]
          },
          "opportunityId": {
            "type": "string",
            "description": "Stable identifier for the opportunity within its protocol."
          },
          "assetPair": {
            "type": "string",
            "description": "Protocol-specific market identifier (e.g. ALGO/USDC or a single asset)."
          },
          "assetIds": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "On-chain Algorand asset ids backing the opportunity. Native ALGO is asset id 0."
          },
          "apy": {
            "type": "number",
            "description": "Yield as APY. Formatted to 6 decimal places (up to 12 for small non-zero values)."
          },
          "yieldBasis": {
            "type": "string",
            "enum": [
              "apy",
              "apr"
            ],
            "description": "Indicates whether the apy field reflects a compound APY or an APR-derived value."
          },
          "apr": {
            "type": "number",
            "description": "Yield as APR when the upstream source provides it. For CompX lending this is the supply APR (same basis as apy)."
          },
          "borrowApr": {
            "type": "number",
            "description": "Borrow-side APR cost when the venue supports borrowing against this market. Prefer this field for borrow cost; do not treat apr as borrow cost."
          },
          "tvlUsd": {
            "type": "number",
            "description": "Total value locked / liquidity depth in USD."
          },
          "sourceTimestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Upstream or on-chain update time when available; otherwise equals fetchedAt."
          },
          "fetchedAt": {
            "type": "string",
            "format": "date-time",
            "description": "When this service fetched and normalized the row."
          },
          "notes": {
            "type": "string",
            "description": "Caveats about timestamp provenance, fallback identifiers, or yield estimates."
          },
          "executionReady": {
            "type": "boolean",
            "description": "True when at least one enter execution shape is available. When false and executionShapes is empty, treat as research-only and do not invent shape keys."
          },
          "executionShapes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpportunityExecutionShape"
            },
            "description": "Enter-only shapes for opening this yield opportunity. Empty means research-only."
          },
          "compatibleExitShapes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpportunityExecutionShape"
            },
            "description": "Exit shapes for closing this opportunity when known (e.g. Folks xALGO unstake, Tinyman tALGO burn). Empty means discover exits via positions or canix_list_execution_shapes / the shape catalog."
          },
          "entryRequirements": {
            "$ref": "#/components/schemas/OpportunityEntryRequirements"
          },
          "capacity": {
            "$ref": "#/components/schemas/OpportunityCapacity"
          }
        }
      },
      "PersonalizedOpportunityRecord": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpportunityRecord"
          },
          {
            "type": "object",
            "required": [
              "canEnter",
              "eligibilityFullyCheckable"
            ],
            "properties": {
              "canEnter": {
                "type": "boolean",
                "description": "Whether the wallet currently passes checkable entry and capacity rules. Never true when eligibilityFullyCheckable is false."
              },
              "eligibilityFullyCheckable": {
                "type": "boolean",
                "description": "False when NFD/creator gates are present and cannot be resolved. Use POST /eligibility for the diagnostic."
              }
            }
          }
        ]
      },
      "OpportunitiesListMeta": {
        "type": "object",
        "required": [
          "limit",
          "offset",
          "includeInactive",
          "paymentRequired",
          "cacheEnabled",
          "cacheHit",
          "cachedAt",
          "cacheAgeMs",
          "cacheTtlSec"
        ],
        "properties": {
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          },
          "includeInactive": {
            "type": "boolean"
          },
          "paymentRequired": {
            "type": "boolean"
          },
          "cacheEnabled": {
            "type": "boolean",
            "description": "True when Redis opportunity cache is configured and not disabled."
          },
          "cacheHit": {
            "type": "boolean",
            "description": "True when every protocol fetch used in this response was served from Redis."
          },
          "cachedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Oldest cache write timestamp among protocols used; null when cache is disabled."
          },
          "cacheAgeMs": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "description": "Age of cachedAt relative to response time; informational only (no harsh stale flag)."
          },
          "cacheTtlSec": {
            "type": "integer",
            "minimum": 0,
            "description": "Configured Redis TTL in seconds (default 180)."
          }
        }
      },
      "PersonalizedOpportunitiesListMeta": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpportunitiesListMeta"
          },
          {
            "type": "object",
            "required": [
              "address",
              "heldAssetCount",
              "eligibilityApplied",
              "eligibilityEndpoint"
            ],
            "properties": {
              "address": {
                "type": "string",
                "description": "Algorand address the results were personalized for."
              },
              "heldAssetCount": {
                "type": "integer",
                "description": "Number of distinct held assets used for matching."
              },
              "eligibilityApplied": {
                "type": "boolean",
                "enum": [
                  true
                ],
                "description": "True when ranking used POST /eligibility rules."
              },
              "eligibilityEndpoint": {
                "type": "string",
                "enum": [
                  "/eligibility"
                ],
                "description": "Paid diagnostic endpoint for missingAssets, gates, and capacity."
              }
            }
          }
        ]
      },
      "OpportunitiesListResponse": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpportunityRecord"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/OpportunitiesListMeta"
          }
        }
      },
      "PersonalizedOpportunitiesListResponse": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PersonalizedOpportunityRecord"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PersonalizedOpportunitiesListMeta"
          }
        }
      },
      "PositionRecord": {
        "type": "object",
        "description": "A protocol-neutral economic position. Integer base units and normalized token amounts are decimal strings to preserve precision.",
        "required": [
          "protocol",
          "positionType",
          "positionId",
          "opportunityId",
          "assetId",
          "assetSymbol",
          "amountRaw",
          "amount",
          "usdValue",
          "compatibleExitShapeKeys",
          "compatibleManageShapeKeys"
        ],
        "properties": {
          "protocol": {
            "type": "string",
            "enum": [
              "tinyman",
              "pact",
              "folks-finance",
              "compx",
              "dorkfi",
              "myth-finance",
              "haystack",
              "reti",
              "alpha-arcade"
            ]
          },
          "positionType": {
            "type": "string",
            "enum": [
              "supplied",
              "lp",
              "staked",
              "debt",
              "reward"
            ]
          },
          "positionId": {
            "type": "string",
            "minLength": 1
          },
          "opportunityId": {
            "type": [
              "string",
              "null"
            ]
          },
          "assetId": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "assetSymbol": {
            "type": [
              "string",
              "null"
            ]
          },
          "amountRaw": {
            "type": "string",
            "pattern": "^[0-9]+$"
          },
          "amount": {
            "type": "string",
            "pattern": "^[0-9]+(?:\\.[0-9]+)?$"
          },
          "usdValue": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0
          },
          "healthFactor": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0,
            "description": "Protocol-reported collateral health ratio when applicable."
          },
          "sourceTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "caveats": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "notes": {
            "type": "string"
          },
          "inputHints": {
            "$ref": "#/components/schemas/OpportunityExecutionInputHints",
            "description": "Optional selector hints for compatible exit/manage shapes. Amounts never appear."
          },
          "compatibleExitShapeKeys": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1
            },
            "description": "Exit shape keys compatible with this position. Empty means do not invent keys."
          },
          "compatibleManageShapeKeys": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1
            },
            "description": "Manage/claim shape keys compatible with this position."
          }
        }
      },
      "ProtocolPositionResult": {
        "type": "object",
        "required": [
          "protocol",
          "status",
          "positionCount",
          "message"
        ],
        "properties": {
          "protocol": {
            "type": "string",
            "enum": [
              "tinyman",
              "pact",
              "folks-finance",
              "compx",
              "dorkfi",
              "myth-finance",
              "haystack",
              "reti",
              "alpha-arcade"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "ok",
              "partial",
              "unavailable"
            ]
          },
          "positionCount": {
            "type": "integer",
            "minimum": 0
          },
          "message": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "WalletPositionsResponse": {
        "type": "object",
        "required": [
          "data",
          "protocols",
          "totals",
          "meta"
        ],
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PositionRecord"
            }
          },
          "protocols": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProtocolPositionResult"
            }
          },
          "totals": {
            "type": "object",
            "description": "Aggregate USD totals. A null value means at least one relevant protocol or position could not be valued completely; null must not be interpreted as zero.",
            "required": [
              "suppliedUsd",
              "borrowedUsd",
              "rewardsUsd",
              "netUsd"
            ],
            "properties": {
              "suppliedUsd": {
                "type": [
                  "number",
                  "null"
                ]
              },
              "borrowedUsd": {
                "type": [
                  "number",
                  "null"
                ]
              },
              "rewardsUsd": {
                "type": [
                  "number",
                  "null"
                ]
              },
              "netUsd": {
                "type": [
                  "number",
                  "null"
                ]
              }
            }
          },
          "meta": {
            "type": "object",
            "required": [
              "address",
              "fetchedAt"
            ],
            "properties": {
              "address": {
                "type": "string",
                "description": "Algorand address whose positions were queried."
              },
              "fetchedAt": {
                "type": "string",
                "format": "date-time"
              },
              "agentId": {
                "type": "string",
                "description": "Present on free public showcase routes (for example brownie)."
              }
            }
          }
        }
      },
      "ClaimableQuoteRequest": {
        "type": "object",
        "required": [
          "shapeKey",
          "input"
        ],
        "properties": {
          "shapeKey": {
            "type": "string"
          },
          "input": {
            "type": "object",
            "required": [
              "userAddress"
            ],
            "additionalProperties": true,
            "properties": {
              "userAddress": {
                "type": "string"
              },
              "programId": {
                "type": "integer",
                "minimum": 1
              },
              "poolAddress": {
                "type": "string"
              },
              "poolAppId": {
                "type": "integer",
                "minimum": 1
              },
              "farmAppId": {
                "type": "integer",
                "minimum": 1
              }
            }
          }
        }
      },
      "ClaimableRewardRecord": {
        "type": "object",
        "required": [
          "protocol",
          "positionId",
          "opportunityId",
          "positionType",
          "assetId",
          "assetSymbol",
          "amountRaw",
          "amount",
          "usdValue",
          "claimKey",
          "compatibleClaimShapeKeys",
          "quote",
          "estimatedNetworkFeeMicroAlgos",
          "estimatedNetworkFeeUsd",
          "worthClaiming"
        ],
        "properties": {
          "protocol": {
            "type": "string",
            "enum": [
              "tinyman",
              "pact",
              "folks-finance",
              "compx",
              "dorkfi",
              "myth-finance",
              "haystack",
              "reti",
              "alpha-arcade"
            ]
          },
          "positionId": {
            "type": "string"
          },
          "opportunityId": {
            "type": [
              "string",
              "null"
            ]
          },
          "positionType": {
            "type": "string",
            "enum": [
              "supplied",
              "lp",
              "staked",
              "debt",
              "reward"
            ]
          },
          "assetId": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "assetSymbol": {
            "type": [
              "string",
              "null"
            ]
          },
          "amountRaw": {
            "type": "string",
            "pattern": "^[0-9]+$"
          },
          "amount": {
            "type": "string",
            "pattern": "^[0-9]+(?:\\.[0-9]+)?$"
          },
          "usdValue": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0
          },
          "claimKey": {
            "type": "string",
            "description": "Stable compile identity used to dedupe claimAllQuotes (e.g. Haystack USDC+HAY share one key)."
          },
          "compatibleClaimShapeKeys": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "string",
              "minLength": 1
            }
          },
          "quote": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/ClaimableQuoteRequest"
              },
              {
                "type": "null"
              }
            ]
          },
          "estimatedNetworkFeeMicroAlgos": {
            "type": "string",
            "pattern": "^[0-9]+$",
            "description": "Conservative network-fee hint in microAlgos (not a simulation)."
          },
          "estimatedNetworkFeeUsd": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0
          },
          "worthClaiming": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "true when reward USD exceeds estimated network fee USD; null when either side is unknown."
          },
          "submitMode": {
            "type": "string",
            "enum": [
              "tinyman-analytics-claim"
            ]
          },
          "caveats": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "notes": {
            "type": "string"
          },
          "inputHints": {
            "$ref": "#/components/schemas/OpportunityExecutionInputHints"
          },
          "sourceTimestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ClaimableRewardsResponse": {
        "type": "object",
        "required": [
          "data",
          "protocols",
          "totals",
          "claimAllQuotes",
          "meta"
        ],
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ClaimableRewardRecord"
            }
          },
          "protocols": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProtocolPositionResult"
            }
          },
          "totals": {
            "type": "object",
            "description": "Aggregate claim desk totals. A null value means incomplete coverage or pricing; null must not be interpreted as zero.",
            "required": [
              "claimableUsd",
              "estimatedNetworkFeeUsd",
              "worthClaimingUsd"
            ],
            "properties": {
              "claimableUsd": {
                "type": [
                  "number",
                  "null"
                ]
              },
              "estimatedNetworkFeeUsd": {
                "type": [
                  "number",
                  "null"
                ]
              },
              "worthClaimingUsd": {
                "type": [
                  "number",
                  "null"
                ]
              }
            }
          },
          "claimAllQuotes": {
            "type": "object",
            "required": [
              "quotes"
            ],
            "properties": {
              "quotes": {
                "type": "array",
                "description": "Deduped quote requests ready for POST /execution/quotes. Groups are never merged.",
                "items": {
                  "$ref": "#/components/schemas/ClaimableQuoteRequest"
                }
              }
            }
          },
          "meta": {
            "type": "object",
            "required": [
              "address",
              "fetchedAt",
              "algoUsd",
              "paymentRequired"
            ],
            "properties": {
              "address": {
                "type": "string"
              },
              "fetchedAt": {
                "type": "string",
                "format": "date-time"
              },
              "algoUsd": {
                "type": [
                  "number",
                  "null"
                ],
                "minimum": 0
              },
              "paymentRequired": {
                "type": "boolean",
                "enum": [
                  true
                ]
              }
            }
          }
        }
      },
      "ExecutionQuoteInput": {
        "type": "object",
        "required": [
          "userAddress"
        ],
        "properties": {
          "userAddress": {
            "type": "string",
            "description": "Algorand address that will sign the transaction group."
          },
          "assetAId": {
            "description": "First asset id identifying the Tinyman pool pair (integer or string)."
          },
          "assetAAmount": {
            "type": "string",
            "description": "Amount of asset A in base units for add-liquidity shapes (integer string recommended)."
          },
          "assetBId": {
            "description": "Second asset id identifying the Tinyman pool pair (integer or string). Use 0 for ALGO."
          },
          "assetBAmount": {
            "type": "string",
            "description": "Amount of asset B in base units for add-liquidity shapes (integer string recommended)."
          },
          "poolTokenAmount": {
            "type": "string",
            "description": "Pool token amount in base units for remove-liquidity shapes (integer string recommended)."
          },
          "depositAssetId": {
            "description": "Asset id to deposit for single-asset add-liquidity (must match assetAId or assetBId)."
          },
          "depositAmount": {
            "type": "string",
            "description": "Deposit amount in base units for single-asset add-liquidity (integer string recommended)."
          },
          "outputAssetId": {
            "description": "Asset id to receive for single-asset-out remove-liquidity (must match assetAId or assetBId)."
          },
          "maxSlippageBps": {
            "type": "integer",
            "minimum": 0,
            "maximum": 10000,
            "description": "Maximum tolerated slippage in basis points for Tinyman shapes."
          },
          "poolAppId": {
            "description": "Folks Finance pool application id (from discovery opportunityId)."
          },
          "assetId": {
            "description": "Underlying asset id for Folks Finance pool selection (from discovery assetIds)."
          },
          "assetAmount": {
            "type": "string",
            "description": "Underlying asset amount in base units for Folks deposit shapes."
          },
          "amount": {
            "type": "string",
            "description": "Withdraw amount in base units for Folks withdraw shapes."
          },
          "amountDenomination": {
            "type": "string",
            "enum": [
              "asset",
              "fAsset"
            ],
            "description": "Whether Folks withdraw amount is expressed in underlying asset or fAsset units."
          },
          "includeOpUp": {
            "type": "boolean",
            "description": "Whether to prefix Folks deposit groups with an OpUp transaction (default true)."
          },
          "escrowAddress": {
            "type": "string",
            "description": "Folks Finance deposit or loan escrow address. Resolved via indexer when omitted on deposit/withdraw shapes."
          },
          "loanAppId": {
            "description": "Folks Finance loan application id (distinct from pool app id). Defaults to MainnetLoans.GENERAL when omitted on loan credit shapes."
          },
          "marketAppId": {
            "description": "CompX or Dork.fi lending market application id."
          },
          "borrowAmount": {
            "type": "string",
            "description": "Amount to borrow in base units (integer string recommended)."
          },
          "collateralAmount": {
            "type": "string",
            "description": "Collateral amount in base units for CompX borrow shapes (LST-denominated)."
          },
          "collateralTokenId": {
            "description": "Collateral LST asset id for CompX borrow shapes. Must be in the market's on-chain accepted_collaterals set (often a cross-market LST such as cUSDC). Defaults to the market LST when omitted."
          },
          "poolId": {
            "type": "string",
            "description": "Optional discovery/opportunity id for traceability."
          }
        }
      },
      "ExecutionShapesListResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "data",
          "meta"
        ],
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExecutionShapeCatalogEntry"
            }
          },
          "meta": {
            "type": "object",
            "required": [
              "paymentRequired",
              "shapeCount"
            ],
            "properties": {
              "paymentRequired": {
                "type": "boolean",
                "const": false
              },
              "shapeCount": {
                "type": "integer",
                "minimum": 0
              },
              "note": {
                "type": "string"
              },
              "caveatsDocsPath": {
                "type": "string",
                "minLength": 1,
                "description": "Repository-relative path to protocol-specific execution construction caveats (pool discovery, opt-ins, min-balance, slippage, liquidity limits, app upgrades)."
              }
            }
          }
        }
      },
      "ExecutionShapeCatalogEntry": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "shapeKey",
          "network",
          "protocol",
          "protocolVersion",
          "action",
          "variant",
          "shapeVersion",
          "title",
          "description",
          "summary",
          "opportunityRole",
          "supportedOpportunityTypes",
          "requiredInputs",
          "sources"
        ],
        "properties": {
          "shapeKey": {
            "type": "string",
            "minLength": 1,
            "example": "mainnet:tinyman:v2:addLiquidity:flexible"
          },
          "network": {
            "type": "string",
            "minLength": 1
          },
          "protocol": {
            "type": "string",
            "minLength": 1
          },
          "protocolVersion": {
            "type": "string",
            "minLength": 1
          },
          "action": {
            "type": "string",
            "minLength": 1
          },
          "variant": {
            "type": "string",
            "minLength": 1
          },
          "shapeVersion": {
            "type": "string",
            "minLength": 1
          },
          "title": {
            "type": "string",
            "minLength": 1
          },
          "description": {
            "type": "string",
            "minLength": 1
          },
          "summary": {
            "type": "string",
            "minLength": 1
          },
          "opportunityRole": {
            "type": "string",
            "enum": [
              "enter",
              "exit",
              "manage"
            ]
          },
          "supportedOpportunityTypes": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1
            }
          },
          "requiredInputs": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1
            },
            "description": "Input field names required by POST /execution/quotes for this shapeKey."
          },
          "sources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExecutionShapeSource"
            }
          },
          "docsPath": {
            "type": "string",
            "minLength": 1,
            "description": "Repository-relative path to shape documentation when available."
          }
        }
      },
      "ExecutionShapeSource": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "kind",
          "description"
        ],
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "sdk",
              "api",
              "docs",
              "arc56"
            ]
          },
          "description": {
            "type": "string",
            "minLength": 1
          },
          "url": {
            "type": "string",
            "minLength": 1
          }
        }
      },
      "ExecutionQuoteRequest": {
        "type": "object",
        "required": [
          "quotes"
        ],
        "properties": {
          "quotes": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/ExecutionQuoteItem"
            },
            "description": "One or more independent quote requests. Each item compiles to its own unsigned transaction group; groups are never merged. Price is flat per request (not per item)."
          }
        }
      },
      "SerializedTransaction": {
        "type": "object",
        "required": [
          "type",
          "sender",
          "fee",
          "groupPresent"
        ],
        "properties": {
          "type": {
            "type": "string"
          },
          "sender": {
            "type": "string"
          },
          "fee": {
            "type": "string"
          },
          "groupPresent": {
            "type": "boolean"
          },
          "payment": {
            "type": "object",
            "properties": {
              "receiver": {
                "type": "string"
              },
              "amount": {
                "type": "string"
              },
              "closeRemainderTo": {
                "type": "string"
              }
            }
          },
          "assetTransfer": {
            "type": "object",
            "properties": {
              "assetIndex": {
                "type": "string"
              },
              "amount": {
                "type": "string"
              },
              "receiver": {
                "type": "string"
              },
              "assetSender": {
                "type": "string"
              },
              "closeRemainderTo": {
                "type": "string"
              }
            }
          },
          "applicationCall": {
            "type": "object",
            "properties": {
              "appIndex": {
                "type": "string"
              },
              "onComplete": {
                "type": "integer"
              },
              "appArgsBase64": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "appArgsText": {
                "type": "array",
                "items": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "accounts": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "foreignApps": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "foreignAssets": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "boxes": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "appIndex": {
                      "type": "string"
[...]
