{
  "openapi": "3.1.0",
  "info": {
    "title": "canix402 API",
    "version": "1.0.0",
    "description": "x402-gated DeFi data and walletless transaction API, including best price swaps, prerequisite opt-ins, and paid atomic swap-group generation. Numeric yield/USD fields (apy, apr, tvlUsd) are returned with a standard precision of 6 decimal places, extended up to 12 decimal places only when needed to represent small non-zero values. Asset decimals are always sourced on-chain from algod. pragma: allowlist secret",
    "contact": {
      "name": "Neon Forge Ltd",
      "email": "kieran@neonforge.ltd",
      "url": "https://canix402.compx.io"
    },
    "x-guidance": "Use the gateway base URL in servers[0]. Fetch /discovery and /openapi.json before integrating. Prefer the remote canix402 MCP server at https://canix402-mcp.compx.io/mcp (streamable-http, walletless pass-through) for agent tool access. Paid routes return HTTP 402 with PAYMENT-REQUIRED; sign a USDC ASA transfer client-side and retry with PAYMENT-SIGNATURE. Best price swaps follow quote -> opt-in if needed -> fresh quote -> paid transaction generation -> local signing/submission. Human and LLM docs: https://canix402.compx.io/llms.txt pragma: allowlist secret",
    "x-precision": {
      "fields": [
        "apy",
        "apr",
        "tvlUsd"
      ],
      "defaultDecimalPlaces": 6,
      "maxDecimalPlaces": 12,
      "notes": "Values are rounded to 6 decimal places by default; precision is extended up to 12 decimal places when 6 would collapse a small non-zero value to zero."
    }
  },
  "servers": [
    {
      "url": "https://canix402-api.compx.io"
    }
  ],
  "x-discovery": {
    "docsUrl": "https://canix402.compx.io/x402",
    "llmsTxtUrl": "https://canix402.compx.io/llms.txt",
    "mcpInstall": "https://canix402.compx.io/x402#mcp",
    "mcpUrl": "https://canix402-mcp.compx.io/mcp",
    "mcpTransport": "streamable-http"
  },
  "paths": {
    "/": {
      "get": {
        "summary": "API root branding and social metadata page",
        "tags": [
          "system",
          "discovery"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "HTML landing page with logo, banner, title, description, and social metadata",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "summary": "Service health check",
        "tags": [
          "system"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/HealthResponseSample"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ready": {
      "get": {
        "summary": "Service readiness check (Algod required; Redis soft)",
        "tags": [
          "system"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Ready or degraded (Algod reachable)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadyResponse"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/ReadyResponseSample"
                  }
                }
              }
            }
          },
          "503": {
            "description": "Not ready (Algod unreachable)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadyResponse"
                }
              }
            }
          }
        }
      }
    },
    "/metrics": {
      "get": {
        "summary": "Prometheus metrics scrape endpoint (internal)",
        "description": "Prometheus text exposition format. Intended for internal scrapes on the protocol component (:3000). Not exposed on the public Caddy gateway.",
        "tags": [
          "system",
          "observability"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Prometheus metrics",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/metadata": {
      "get": {
        "summary": "Service metadata and policy surface",
        "tags": [
          "system",
          "discovery"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetadataResponse"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/MetadataResponseSample"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/discovery": {
      "get": {
        "summary": "Machine-readable endpoint catalog for agents",
        "tags": [
          "discovery",
          "agents"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Discovery document",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscoveryResponse"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/DiscoveryResponseSample"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "summary": "OpenAPI contract document",
        "tags": [
          "discovery",
          "openapi"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "OpenAPI JSON",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "This OpenAPI 3.1 document."
                }
              }
            }
          }
        }
      }
    },
    "/favicon.ico": {
      "get": {
        "summary": "API favicon for directory indexing",
        "tags": [
          "system",
          "discovery"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Favicon image",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/favicon.png": {
      "get": {
        "summary": "API favicon image",
        "tags": [
          "system",
          "discovery"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Favicon image",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/logo.png": {
      "get": {
        "summary": "Service logo for directory and social indexing",
        "tags": [
          "system",
          "discovery"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Service logo image",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/banner.png": {
      "get": {
        "summary": "Service banner for directory and social indexing",
        "tags": [
          "system",
          "discovery"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Service banner image",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/x402.json": {
      "get": {
        "summary": "x402 discovery manifest for agent and directory indexing",
        "tags": [
          "discovery",
          "agents",
          "x402"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "x402 discovery manifest",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "service",
                    "name",
                    "version",
                    "description",
                    "x402Version",
                    "docsUrl",
                    "llmsTxtUrl",
                    "openapiUrl",
                    "discoveryUrl",
                    "logoUrl",
                    "bannerUrl",
                    "facilitator",
                    "chains",
                    "resources"
                  ],
                  "properties": {
                    "service": {
                      "type": "string",
                      "const": "canix402"
                    },
                    "name": {
                      "type": "string",
                      "const": "canix402"
                    },
                    "version": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "x402Version": {
                      "type": "integer",
                      "const": 2
                    },
                    "docsUrl": {
                      "type": "string",
                      "format": "uri"
                    },
                    "llmsTxtUrl": {
                      "type": "string",
                      "format": "uri"
                    },
                    "openapiUrl": {
                      "type": "string",
                      "format": "uri"
                    },
                    "discoveryUrl": {
                      "type": "string",
                      "format": "uri"
                    },
                    "logoUrl": {
                      "type": "string",
                      "format": "uri"
                    },
                    "bannerUrl": {
                      "type": "string",
                      "format": "uri"
                    },
                    "facilitator": {
                      "type": "string",
                      "format": "uri"
                    },
                    "chains": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "namespace": {
                            "type": "string",
                            "const": "algorand"
                          },
                          "network": {
                            "type": "string"
                          },
                          "assets": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "symbol": {
                                  "type": "string",
                                  "const": "USDC"
                                },
                                "assetId": {
                                  "type": "string"
                                },
                                "decimals": {
                                  "type": "integer",
                                  "const": 6
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "resources": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "method",
                          "path",
                          "url",
                          "description",
                          "price",
                          "x402"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "method": {
                            "type": "string",
                            "enum": [
                              "GET",
                              "POST"
                            ]
                          },
                          "path": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string",
                            "format": "uri"
                          },
                          "description": {
                            "type": "string"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "price": {
                            "type": "object",
                            "properties": {
                              "amount": {
                                "type": "string"
                              },
                              "currency": {
                                "type": "string",
                                "const": "USDC"
                              },
                              "network": {
                                "type": "string"
                              },
                              "asset": {
                                "type": "string"
                              }
                            }
                          },
                          "x402": {
                            "type": "object"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/X402ManifestSample"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/x402": {
      "get": {
        "summary": "x402 discovery fan-out document",
        "tags": [
          "discovery",
          "agents",
          "x402"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Paid resource URL list for directory registration",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "version",
                    "resources"
                  ],
                  "properties": {
                    "version": {
                      "type": "integer",
                      "const": 1
                    },
                    "resources": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "uri"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/opportunities": {
      "get": {
        "summary": "Top 10 aggregated DeFi opportunities ranked by risk then APY",
        "description": "Returns ranked DeFi yield opportunities across supported chains (Algorand and Base). Each row includes chain. Default list mixes Algorand venues with listed Morpho Vaults on Base. Filter with protocol= or chain=algorand|base. This endpoint provides normalized market data only; it does not build or submit transactions.",
        "tags": [
          "defi",
          "opportunities"
        ],
        "parameters": [
          {
            "name": "protocol",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chain",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "algorand",
                "base"
              ]
            },
            "description": "Omit to include every supported chain."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "includeInactive",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "refresh",
            "in": "query",
            "description": "Bypass Redis and refetch adapters; still writes a fresh cache entry. Default false.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "$ref": "#/components/parameters/CanixSessionHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Opportunity list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpportunitiesListResponse"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/AggregateOpportunitiesSample"
                  }
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          }
        },
        "x-x402": {
          "protocolVersion": 2,
          "requiredHeaders": [
            "PAYMENT-REQUIRED",
            "PAYMENT-SIGNATURE",
            "PAYMENT-RESPONSE"
          ],
          "requirementTemplate": {
            "scheme": "exact",
            "network": "algorand-mainnet",
            "asset": "31566704",
            "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
            "maxAmountRequired": "0.01"
          },
          "accepts": [
            {
              "scheme": "exact",
              "network": "algorand-mainnet",
              "asset": "31566704",
              "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
              "maxAmountRequired": "0.01"
            },
            {
              "scheme": "exact",
              "network": "eip155:8453",
              "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
              "payTo": "REPLACE_WITH_BASE_PAYTO_ADDRESS",
              "maxAmountRequired": "0.01"
            }
          ]
        }
      }
    },
    "/opportunities/search": {
      "get": {
        "summary": "Caller-filtered opportunities across supported platforms",
        "description": "Returns DeFi opportunities filtered by platform, chain (algorand|base), opportunity type, APY range, TVL threshold, and optional ASA assetIds. Base Morpho rows use assetAddresses instead of assetIds. This endpoint provides normalized market data only; it does not build or submit transactions.",
        "tags": [
          "defi",
          "opportunities",
          "search"
        ],
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Comma-separated list of platforms."
            }
          },
          {
            "name": "chain",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "algorand",
                "base"
              ]
            },
            "description": "Omit to include every supported chain."
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Comma-separated list of opportunity types."
            }
          },
          {
            "name": "minApy",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "maxApy",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "minTvlUsd",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": 0
            }
          },
          {
            "name": "assetIds",
            "in": "query",
            "description": "Comma-separated Algorand ASA ids (0 = ALGO). Keeps opportunities whose assetIds intersect any requested id. Rows without assetIds do not match when this filter is set.",
            "schema": {
              "type": "string",
              "example": "0,31566704"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 25
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "includeInactive",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "refresh",
            "in": "query",
            "description": "Bypass Redis and refetch adapters; still writes a fresh cache entry. Default false.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "$ref": "#/components/parameters/CanixSessionHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Filtered opportunity list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpportunitiesListResponse"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/FilteredOpportunitiesSample"
                  }
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          }
        },
        "x-x402": {
          "protocolVersion": 2,
          "requiredHeaders": [
            "PAYMENT-REQUIRED",
            "PAYMENT-SIGNATURE",
            "PAYMENT-RESPONSE"
          ],
          "requirementTemplate": {
            "scheme": "exact",
            "network": "algorand-mainnet",
            "asset": "31566704",
            "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
            "maxAmountRequired": "0.01"
          },
          "accepts": [
            {
              "scheme": "exact",
              "network": "algorand-mainnet",
              "asset": "31566704",
              "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
              "maxAmountRequired": "0.01"
            },
            {
              "scheme": "exact",
              "network": "eip155:8453",
              "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
              "payTo": "REPLACE_WITH_BASE_PAYTO_ADDRESS",
              "maxAmountRequired": "0.01"
            }
          ]
        }
      }
    },
    "/opportunities/personalized": {
      "get": {
        "summary": "Top opportunities tuned to a wallet's held assets",
        "description": "Returns Algorand DeFi opportunities whose underlying assets match a supplied wallet's holdings, including opted-in ASAs with positive balance and native ALGO when held. Matching applies POST /eligibility rules (min amount, ASA gates, capacity, unresolved NFD/creator gates) so full or gated venues are not recommended as enterable. Each row includes canEnter and eligibilityFullyCheckable; quote-time on-chain checks remain authoritative. Use POST /eligibility for the diagnostic (missingAssets, gates, capacity, suggestedSwap). This endpoint provides normalized market data only; it does not build or submit transactions.",
        "x-pragma": "pragma: allowlist secret",
        "tags": [
          "defi",
          "opportunities",
          "personalized",
          "wallet"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Algorand account address to personalize opportunities for."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "includeInactive",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "refresh",
            "in": "query",
            "description": "Bypass Redis and refetch adapters; still writes a fresh cache entry. Default false.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "$ref": "#/components/parameters/CanixSessionHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Personalized opportunity list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalizedOpportunitiesListResponse"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/PersonalizedOpportunitiesSample"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidAddress"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.05"
          }
        },
        "x-x402": {
          "protocolVersion": 2,
          "requiredHeaders": [
            "PAYMENT-REQUIRED",
            "PAYMENT-SIGNATURE",
            "PAYMENT-RESPONSE"
          ],
          "requirementTemplate": {
            "scheme": "exact",
            "network": "algorand-mainnet",
            "asset": "31566704",
            "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
            "maxAmountRequired": "0.05"
          },
          "accepts": [
            {
              "scheme": "exact",
              "network": "algorand-mainnet",
              "asset": "31566704",
              "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
              "maxAmountRequired": "0.05"
            },
            {
              "scheme": "exact",
              "network": "eip155:8453",
              "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
              "payTo": "REPLACE_WITH_BASE_PAYTO_ADDRESS",
              "maxAmountRequired": "0.05"
            }
          ]
        }
      }
    },
    "/opportunities/{opportunityId}/history": {
      "get": {
        "summary": "Bounded APY/TVL history for one opportunity",
        "description": "Returns a rolling APY and TVL series for one opportunity over a bounded window (1d, 7d, or 30d). Snapshots are stored as cheap hourly Redis buckets for ~30 days only \u2014 not a warehouse and not backfilled from explorers. The series is empty until the snapshot job has run. Includes a stability signal (APY stdev / sample count) so snapshot APY cannot dominate plan sizing. Market data only; Canix does not sign or submit transactions.",
        "tags": [
          "defi",
          "opportunities",
          "history"
        ],
        "parameters": [
          {
            "name": "opportunityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Stable opportunity identifier from catalog rows."
          },
          {
            "name": "window",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "1d",
                "7d",
                "30d"
              ],
              "default": "30d"
            },
            "description": "Bounded lookback window. Default 30d."
          },
          {
            "$ref": "#/components/parameters/CanixSessionHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Bounded APY/TVL series. points is empty when no snapshots exist yet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpportunityHistoryResponse"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/OpportunityHistorySample"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          }
        },
        "x-x402": {
          "protocolVersion": 2,
          "requiredHeaders": [
            "PAYMENT-REQUIRED",
            "PAYMENT-SIGNATURE",
            "PAYMENT-RESPONSE"
          ],
          "requirementTemplate": {
            "scheme": "exact",
            "network": "[REDACTED]",
            "asset": "[REDACTED]",
            "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
            "maxAmountRequired": "0.01"
          },
          "accepts": [
            {
              "scheme": "exact",
              "network": "[REDACTED]",
              "asset": "[REDACTED]",
              "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
              "maxAmountRequired": "0.01"
            },
            {
              "scheme": "exact",
              "network": "eip155:8453",
              "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
              "payTo": "REPLACE_WITH_BASE_PAYTO_ADDRESS",
              "maxAmountRequired": "0.01"
            }
          ]
        }
      }
    },
    "/eligibility": {
      "post": {
        "summary": "Wallet eligibility and capacity for selected opportunities",
        "description": "Checks whether a wallet can enter one or more opportunities before requesting an execution quote. Resolves R\u00e9ti entryRequirements and capacity (min amount, ASA gates, staker slots, ALGO room). NFD and creator gates are published as unresolved \u2014 canEnter is never true until eligibilityFullyCheckable is true. Returns missingAssets, gates, capacity, and an optional suggestedSwap hint (not a live quote). Quote-time on-chain checks remain authoritative. Canix does not sign or submit transactions.",
        "tags": [
          "defi",
          "opportunities",
          "eligibility",
          "wallet"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EligibilityRequest"
              },
              "examples": {
                "default": {
                  "$ref": "#/components/examples/EligibilityRequestSample"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Eligibility diagnostics for the requested opportunities",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EligibilityResponse"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/EligibilitySample"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          }
        },
        "x-x402": {
          "protocolVersion": 2,
          "requiredHeaders": [
            "PAYMENT-REQUIRED",
            "PAYMENT-SIGNATURE",
            "PAYMENT-RESPONSE"
          ],
          "requirementTemplate": {
            "scheme": "exact",
            "network": "algorand-mainnet",
            "x-pragma-network": "pragma: allowlist secret",
            "asset": "31566704",
            "x-pragma-asset": "pragma: allowlist secret",
            "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
            "maxAmountRequired": "0.01"
          },
          "accepts": [
            {
              "scheme": "exact",
              "network": "algorand-mainnet",
              "asset": "31566704",
              "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
              "maxAmountRequired": "0.01"
            },
            {
              "scheme": "exact",
              "network": "eip155:8453",
              "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
              "payTo": "REPLACE_WITH_BASE_PAYTO_ADDRESS",
              "maxAmountRequired": "0.01"
            }
          ]
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/CanixSessionHeader"
          }
        ]
      }
    },
    "/plans": {
      "post": {
        "summary": "Compile an allocation intent into an ordered unsigned plan",
        "description": "Agent states an allocation intent (address, budget/asset, constraints such as max protocol weight, no new borrows, execution-ready only, TVL/freshness floors). Canix returns ordered steps: eligibility, optional live multi-router swap compose (opt-in \u2192 swap \u2192 enter, driven by requiredAssetIds), protocol setup chains, and enter quotes as independent unsigned groups (never merged). Reuses quotes[] / order / prerequisiteShapeKeys. Includes expected position delta, x402 + network fee totals, and expiry. Quote-time on-chain checks remain authoritative. Canix does not sign or submit. Brownie and other agents should consume POST /plans rather than forking a compiler.",
        "tags": [
          "defi",
          "plans",
          "execution",
          "eligibility",
          "wallet"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlanRequest"
              },
              "examples": {
                "default": {
                  "$ref": "#/components/examples/PlanRequestSample"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ordered unsigned plan with eligibility, quotes[], and fee totals",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanResponse"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/PlanSample"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.25"
          }
        },
        "x-x402": {
          "protocolVersion": 2,
          "requiredHeaders": [
            "PAYMENT-REQUIRED",
            "PAYMENT-SIGNATURE",
            "PAYMENT-RESPONSE"
          ],
          "requirementTemplate": {
            "scheme": "exact",
            "network": "algorand-mainnet",
            "x-pragma-network": "pragma: allowlist secret",
            "asset": "31566704",
            "x-pragma-asset": "pragma: allowlist secret",
            "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
            "maxAmountRequired": "0.25"
          },
          "accepts": [
            {
              "scheme": "exact",
              "network": "algorand-mainnet",
              "asset": "31566704",
              "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
              "maxAmountRequired": "0.25"
            },
            {
              "scheme": "exact",
              "network": "eip155:8453",
              "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
              "payTo": "REPLACE_WITH_BASE_PAYTO_ADDRESS",
              "maxAmountRequired": "0.25"
            }
          ]
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/CanixSessionHeader"
          }
        ]
      }
    },
    "/plans/rebalance": {
      "post": {
        "summary": "Compile a delta rebalance plan of unsigned groups",
        "description": "Positions are the book; opportunities are the menu. Pass address plus targetWeights (bps summing to 10000) and/or harvestIdle to claim worth-claiming rewards and redeploy idle ALGO. Returns ordered unsigned groups \u2014 claims, partial exits, optional multi-router swap compose, and enters \u2014 only the delta legs that change the book (not a full unwind-and-rebuild). Reuses claim desk, eligibility, compose, and position exit/manage shapeKeys. Groups are never merged. Canix does not sign or submit.",
        "tags": [
          "defi",
          "plans",
          "rebalance",
          "execution",
          "eligibility",
          "wallet"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RebalanceRequest"
              },
              "examples": {
                "default": {
                  "$ref": "#/components/examples/RebalanceRequestSample"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ordered unsigned delta plan with claims, exits, and enters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RebalanceResponse"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/RebalanceSample"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.25"
          }
        },
        "x-x402": {
          "protocolVersion": 2,
          "requiredHeaders": [
            "PAYMENT-REQUIRED",
            "PAYMENT-SIGNATURE",
            "PAYMENT-RESPONSE"
          ],
          "requirementTemplate": {
            "scheme": "exact",
            "network": "algorand-mainnet",
            "x-pragma-network": "pragma: allowlist secret",
            "asset": "31566704",
            "x-pragma-asset": "pragma: allowlist secret",
            "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
            "maxAmountRequired": "0.25"
          },
          "accepts": [
            {
              "scheme": "exact",
              "network": "algorand-mainnet",
              "asset": "31566704",
              "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
              "maxAmountRequired": "0.25"
            },
            {
              "scheme": "exact",
              "network": "eip155:8453",
              "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
              "payTo": "REPLACE_WITH_BASE_PAYTO_ADDRESS",
              "maxAmountRequired": "0.25"
            }
          ]
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/CanixSessionHeader"
          }
        ]
      }
    },
    "/policy/validate": {
      "post": {
        "summary": "Validate a compiled plan or quotes[] against an operator policy document",
        "description": "Operators bring policy; Canix evaluates a compiled plan (or proposed quotes[]) against a versioned policy document (max protocol weight, ALGO reserve floor, TVL/freshness floors, no-new-borrows, execution-ready only). Returns { pass, reasons[] }. Reuses plan/eligibility/risk fields already on the compiled object and fails closed when a required field is missing \u2014 it does not re-quote on-chain. Canix does not sign or submit. Brownie and a second agent can share the same schema (protocol/docs/policy-schema.md).",
        "tags": [
          "defi",
          "policy",
          "plans",
          "execution",
          "x402",
          "agents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PolicyValidateRequest"
              },
              "examples": {
                "default": {
                  "$ref": "#/components/examples/PolicyValidateRequestSample"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Machine-readable pass/fail; never signed or submitted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyValidateResponse"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/PolicyValidateSample"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.25"
          }
        },
        "x-x402": {
          "protocolVersion": 2,
          "requiredHeaders": [
            "PAYMENT-REQUIRED",
            "PAYMENT-SIGNATURE",
            "PAYMENT-RESPONSE"
          ],
          "requirementTemplate": {
            "scheme": "exact",
            "network": "[REDACTED]",
            "x-pragma-network": "pragma: allowlist secret",
            "asset": "[REDACTED]",
            "x-pragma-asset": "pragma: allowlist secret",
            "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
            "maxAmountRequired": "0.25"
          },
          "accepts": [
            {
              "scheme": "exact",
              "network": "[REDACTED]",
              "asset": "[REDACTED]",
              "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
              "maxAmountRequired": "0.25"
            },
            {
              "scheme": "exact",
              "network": "eip155:8453",
              "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
              "payTo": "REPLACE_WITH_BASE_PAYTO_ADDRESS",
              "maxAmountRequired": "0.25"
            }
          ]
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/CanixSessionHeader"
          }
        ]
      }
    },
    "/positions": {
      "get": {
        "summary": "Algorand DeFi positions held by a wallet",
        "description": "Returns normalized DeFi positions associated with a supplied Algorand wallet address across supported protocols. LP tokens indexed by HOGSWAP (STAMM, AlgoFi, Humble) are valued via GET /lp/{asset_id}?amount= \u2014 proportional NAV, null rather than guessed. Tinyman and Pact LP collectors remain canonical for those venues (no double-count by LP ASA). This endpoint provides position data only; it does not build or submit transactions.",
        "x-pragma": "pragma: allowlist secret",
        "tags": [
          "defi",
          "positions",
          "wallet"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Algorand account address whose DeFi positions should be returned."
          },
          {
            "$ref": "#/components/parameters/CanixSessionHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet position list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletPositionsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidAddress"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005"
          }
        },
        "x-x402": {
          "protocolVersion": 2,
          "requiredHeaders": [
            "PAYMENT-REQUIRED",
            "PAYMENT-SIGNATURE",
            "PAYMENT-RESPONSE"
          ],
          "requirementTemplate": {
            "scheme": "exact",
            "network": "algorand-mainnet",
            "asset": "31566704",
            "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
            "maxAmountRequired": "0.005"
          },
          "accepts": [
            {
              "scheme": "exact",
              "network": "algorand-mainnet",
              "asset": "31566704",
              "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
              "maxAmountRequired": "0.005"
            },
            {
              "scheme": "exact",
              "network": "eip155:8453",
              "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
              "payTo": "REPLACE_WITH_BASE_PAYTO_ADDRESS",
              "maxAmountRequired": "0.005"
            }
          ]
        }
      }
    },
    "/positions/claimable": {
      "get": {
        "summary": "Claimable DeFi rewards across supported protocols",
        "description": "Returns claimable reward rows for a wallet with USD value, network-fee / worth-claiming hints, compatible claim shapeKeys, and ready-to-POST quote inputs. Use claimAllQuotes (or selected per-row quotes) with POST /execution/quotes to compile unsigned claim groups \u2014 groups are never merged. Covers Tinyman farm, stALGO TINY claim, CompX staking, Pact farm, Haystack, and Alpha Arcade. This endpoint does not build or submit transactions.",
        "tags": [
          "defi",
          "positions",
          "rewards",
          "wallet",
          "execution"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Algorand account address whose claimable rewards should be returned."
          },
          {
            "$ref": "#/components/parameters/CanixSessionHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Claimable rewards desk",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClaimableRewardsResponse"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/ClaimableRewardsSample"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidAddress"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001"
          }
        },
        "x-x402": {
          "protocolVersion": 2,
          "requiredHeaders": [
            "PAYMENT-REQUIRED",
            "PAYMENT-SIGNATURE",
            "PAYMENT-RESPONSE"
          ],
          "requirementTemplate": {
            "scheme": "exact",
            "network": "algorand-mainnet",
            "asset": "31566704",
            "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
            "maxAmountRequired": "0.001"
          },
          "accepts": [
            {
              "scheme": "exact",
              "network": "algorand-mainnet",
              "asset": "31566704",
              "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
              "maxAmountRequired": "0.001"
            },
            {
              "scheme": "exact",
              "network": "eip155:8453",
              "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
              "payTo": "REPLACE_WITH_BASE_PAYTO_ADDRESS",
              "maxAmountRequired": "0.001"
            }
          ]
        }
      }
    },
    "/public/agents/brownie/positions": {
      "get": {
        "summary": "Public DeFi positions for the Brownie Bot showcase wallet",
        "description": "Free showcase route that returns normalized DeFi positions for the Brownie Bot treasury wallet only. The wallet address is hardcoded server-side \u2014 this is not a general free /positions browser. Use GET /positions?address= for arbitrary wallets (paid).",
        "tags": [
          "defi",
          "positions",
          "agents",
          "showcase"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Brownie Bot wallet position list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletPositionsResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/protocols/{protocol}/opportunities": {
      "get": {
        "summary": "Top 25 DeFi opportunities for a single protocol ranked by risk then APY",
        "description": "Returns ranked DeFi opportunities for one protocol including morpho (Base listed Morpho Vaults). This endpoint provides normalized market data only; it does not build or submit transactions.",
        "x-pragma": "pragma: allowlist secret",
        "tags": [
          "defi",
          "opportunities",
          "protocol"
        ],
        "parameters": [
          {
            "name": "protocol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "tinyman",
                "pact",
                "folks-finance",
                "compx",
                "dorkfi",
                "myth-finance",
                "haystack",
                "reti",
                "alpha-arcade",
                "stamm",
                "morpho"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 25
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "includeInactive",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "refresh",
            "in": "query",
            "description": "Bypass Redis and refetch adapters; still writes a fresh cache entry. Default false.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "$ref": "#/components/parameters/CanixSessionHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Protocol opportunity list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpportunitiesListResponse"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/ProtocolOpportunitiesSample"
                  }
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          }
        },
        "x-x402": {
          "protocolVersion": 2,
          "requiredHeaders": [
            "PAYMENT-REQUIRED",
            "PAYMENT-SIGNATURE",
            "PAYMENT-RESPONSE"
          ],
          "requirementTemplate": {
            "scheme": "exact",
            "network": "algorand-mainnet",
            "asset": "31566704",
            "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
            "maxAmountRequired": "0.01"
          },
          "accepts": [
            {
              "scheme": "exact",
              "network": "algorand-mainnet",
              "asset": "31566704",
              "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
              "maxAmountRequired": "0.01"
            },
            {
              "scheme": "exact",
              "network": "eip155:8453",
              "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
              "payTo": "REPLACE_WITH_BASE_PAYTO_ADDRESS",
              "maxAmountRequired": "0.01"
            }
          ]
        }
      }
    },
    "/execution/shapes": {
      "get": {
        "summary": "List verified execution shape catalog metadata",
        "description": "Returns the live catalog of verified transaction shapes (shapeKey, requiredInputs, opportunityRole, docsPath). meta.caveatsDocsPath points at protocol-specific construction caveats. Catalog metadata only \u2014 does not compile quotes or return unsigned transactions. Use POST /execution/quotes to compile executable groups. Do not guess pool discovery, opt-ins, min-balance, slippage, liquidity limits, or app upgrades. Read protocol/docs/execution-shapes/protocol-caveats.md (GET /execution/shapes meta.caveatsDocsPath) and each shape's docsPath.",
        "tags": [
          "execution",
          "discovery",
          "agents"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Execution shape catalog",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecutionShapesListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/execution/quotes": {
      "post": {
        "summary": "Compile a verified transaction shape into unsigned Algorand transactions",
        "description": "Accepts `{ quotes: [{ shapeKey, input }, ...] }` (min 1) and returns an array of fresh, validated, unsigned transaction groups in request order. Groups are never merged across quotes. On failure the whole request fails and error.details includes quoteIndex and shapeKey. Price is flat per request (not per quote item). Use when an agent has selected one or more DeFi actions and needs deterministic transaction bytes to sign locally. Currently supports all five Tinyman v2 LP shapes (flexible/initial/single-asset add; multiple-assets-out/single-asset-out remove), Tinyman v2 swap shapes (swap:fixedInput / swap:fixedOutput via Tinyman Swap Router, falling back to a single Tinyman pool when the router is not better; Tinyman-pool only, never a cross-DEX aggregator), Tinyman farm shapes (staking-v1 farm:commit / farm:uncommit / farm:claimRewards; v2 addLiquidityAndFarm flexible/single-asset that add liquidity and commit the new LP position in one atomic group, with LP tokens remaining in the wallet), Tinyman liquid-stake/restake shapes (liquid-stake-v1 mint/burn tALGO; restake-v1 increaseStake/decreaseStake/claimRewards stALGO), Folks Finance v2 lending escrow shapes (setup depositEscrow/optEscrowAsset; deposit:escrow; withdraw:escrow), Folks Finance v2 loan credit shapes (setup:loanEscrow; setup:addCollateral; collateral:sync / collateral:reduce; borrow:variable; repay:withTxn), Folks Finance xALGO liquid-stake shapes (xalgo-v1 stake/unstake immediate), Pact v1 LP add/remove shapes, Pact Smart Router unsigned swap (`mainnet:pact:smart-router:swap:fixed-input`; local graph + Pool.prepareSwap, not Haystack), CompX v1 lending shapes (deposit/withdraw ASA; borrow:asa; repay:asa) and CompX v1 staking shapes, Dork.fi v1 ASA lending shapes (deposit/withdraw; borrow:asa; repay:asa), Myth Finance dualSTAKE shapes (dualstake-v1 mint/redeem LST; farm yield accrues passively while holding the LST), Haystack v1 single-token HAY staking shapes (stake HAY; unstake HAY and claim USDC+HAY rewards; claim USDC+HAY rewards), R\u00e9ti v1 ALGO staking shapes (stake/unstake), Alpha Arcade v1 ALPHA staking shapes (stake/unstake/claim USDC), and STAMM v1 LP mint/redeem via HOGSWAP (unsigned groups; do not hardcode router app ids), and HOGSWAP v1 swap shapes (fixed-input / fixed-output; unsigned groups; routing fee already netted into expectedOut; do not hardcode router app ids). Canix does not sign or submit transactions in this endpoint. Do not guess pool discovery, opt-ins, min-balance, slippage, liquidity limits, or app upgrades. Read protocol/docs/execution-shapes/protocol-caveats.md (GET /execution/shapes meta.caveatsDocsPath) and each shape's docsPath.",
        "tags": [
          "execution",
          "transactions",
          "x402",
          "agents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecutionQuoteRequest"
              },
              "examples": {
                "tinymanAddLiquidity": {
                  "$ref": "#/components/examples/ExecutionQuoteRequestSample"
                },
                "tinymanAddLiquidityInitial": {
                  "$ref": "#/components/examples/ExecutionQuoteInitialAddLiquidityRequestSample"
                },
                "tinymanAddLiquiditySingleAsset": {
                  "$ref": "#/components/examples/ExecutionQuoteSingleAssetAddLiquidityRequestSample"
                },
                "tinymanRemoveLiquidity": {
                  "$ref": "#/components/examples/ExecutionQuoteRemoveLiquidityRequestSample"
                },
                "tinymanRemoveLiquiditySingleAssetOut": {
                  "$ref": "#/components/examples/ExecutionQuoteSingleAssetOutRemoveLiquidityRequestSample"
                },
                "folksSetupDepositEscrow": {
                  "$ref": "#/components/examples/ExecutionQuoteFolksSetupDepositEscrowRequestSample"
                },
                "folksSetupOptEscrowAsset": {
                  "$ref": "#/components/examples/ExecutionQuoteFolksSetupOptEscrowAssetRequestSample"
                },
                "folksDepositEscrow": {
                  "$ref": "#/components/examples/ExecutionQuoteFolksDepositEscrowRequestSample"
                },
                "folksWithdrawEscrow": {
                  "$ref": "#/components/examples/ExecutionQuoteFolksWithdrawEscrowRequestSample"
                },
                "pactAddLiquidity": {
                  "$ref": "#/components/examples/ExecutionQuotePactAddLiquidityRequestSample"
                },
                "pactRemoveLiquidity": {
                  "$ref": "#/components/examples/ExecutionQuotePactRemoveLiquidityRequestSample"
                },
                "compxDepositAsa": {
                  "$ref": "#/components/examples/ExecutionQuoteCompxDepositAsaRequestSample"
                },
                "compxWithdrawAsa": {
                  "$ref": "#/components/examples/ExecutionQuoteCompxWithdrawAsaRequestSample"
                },
                "dorkfiDepositAsa": {
                  "$ref": "#/components/examples/ExecutionQuoteDorkfiDepositAsaRequestSample"
                },
                "dorkfiWithdrawAsa": {
                  "$ref": "#/components/examples/ExecutionQuoteDorkfiWithdrawAsaRequestSample"
                },
                "haystackStakeHay": {
                  "$ref": "#/components/examples/ExecutionQuoteHaystackStakeHayRequestSample"
                },
                "haystackUnstakeHay": {
                  "$ref": "#/components/examples/ExecutionQuoteHaystackUnstakeHayRequestSample"
                },
                "haystackClaimRewards": {
                  "$ref": "#/components/examples/ExecutionQuoteHaystackClaimRewardsRequestSample"
                },
                "stammMintLp": {
                  "$ref": "#/components/examples/ExecutionQuoteStammMintLpRequestSample"
                },
                "stammRedeemLp": {
                  "$ref": "#/components/examples/ExecutionQuoteStammRedeemLpRequestSample"
                },
                "hogswapSwapFixedInput": {
                  "$ref": "#/components/examples/ExecutionQuoteHogswapSwapFixedInputRequestSample"
                },
                "hogswapSwapFixedOutput": {
                  "$ref": "#/components/examples/ExecutionQuoteHogswapSwapFixedOutputRequestSample"
                },
                "multiQuote": {
                  "$ref": "#/components/examples/ExecutionQuoteMultiRequestSample"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Unsigned executable quote",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecutionQuoteResponse"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/ExecutionQuoteResponseSample"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.1"
          }
        },
        "x-x402": {
          "protocolVersion": 2,
          "requiredHeaders": [
            "PAYMENT-REQUIRED",
            "PAYMENT-SIGNATURE",
            "PAYMENT-RESPONSE"
          ],
          "requirementTemplate": {
            "scheme": "exact",
            "network": "algorand-mainnet",
            "asset": "31566704",
            "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
            "maxAmountRequired": "0.1"
          },
          "accepts": [
            {
              "scheme": "exact",
              "network": "algorand-mainnet",
              "asset": "31566704",
              "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
              "maxAmountRequired": "0.1"
            },
            {
              "scheme": "exact",
              "network": "eip155:8453",
              "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
              "payTo": "REPLACE_WITH_BASE_PAYTO_ADDRESS",
              "maxAmountRequired": "0.1"
            }
          ]
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/CanixSessionHeader"
          }
        ]
      }
    },
    "/execution/compose": {
      "post": {
        "summary": "Compose opt-in \u2192 winning swap \u2192 enter as unmerged unsigned groups",
        "description": "Compiles \u201cI hold asset A, I want this opportunity\u201d into sequenced groups: optional ASA/app opt-in, multi-router swap (signer indexes and pre-signed members preserved), then enter \u2014 driven by requiredAssetIds. Groups are never merged. Failure modes (stale quote, missing opt-in, slippage) are listed on step warnings. Canix does not sign or submit. Caller signs user legs and submits locally in order. Quote-time on-chain checks remain authoritative.",
        "tags": [
          "execution",
          "swaps",
          "plans",
          "x402",
          "agents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ComposeRequest"
              },
              "examples": {
                "default": {
                  "$ref": "#/components/examples/ComposeRequestSample"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sequenced unsigned opt-in, winning swap, and enter groups",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComposeResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.1"
          }
        },
        "x-x402": {
          "protocolVersion": 2,
          "requiredHeaders": [
            "PAYMENT-REQUIRED",
            "PAYMENT-SIGNATURE",
            "PAYMENT-RESPONSE"
          ],
          "requirementTemplate": {
            "scheme": "exact",
            "network": "algorand-mainnet",
            "x-pragma-network": "pragma: allowlist secret",
            "asset": "31566704",
            "x-pragma-asset": "pragma: allowlist secret",
            "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
            "maxAmountRequired": "0.1"
          },
          "accepts": [
            {
              "scheme": "exact",
              "network": "algorand-mainnet",
              "asset": "31566704",
              "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
              "maxAmountRequired": "0.1"
            },
            {
              "scheme": "exact",
              "network": "eip155:8453",
              "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
              "payTo": "REPLACE_WITH_BASE_PAYTO_ADDRESS",
              "maxAmountRequired": "0.1"
            }
          ]
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/CanixSessionHeader"
          }
        ]
      }
    },
    "/execution/simulate": {
      "post": {
        "summary": "Simulate compiled unsigned groups for predicted balance and position deltas",
        "description": "Given compiled unsigned group(s) from a plan or execution quote, returns predicted wallet balance and position deltas without signing or submitting. Fails closed with machine-readable reasons when the group would not succeed (stale quote, not opted in, min balance, health factor too low, capacity). Canix does not sign or submit. POST /plans attaches the same simulation summary when compiled groups are available.",
        "tags": [
          "defi",
          "execution",
          "plans",
          "simulation",
          "x402",
          "agents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimulationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Predicted deltas and fail-closed reasons; never signed or submitted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.1"
          }
        },
        "x-x402": {
          "protocolVersion": 2,
          "requiredHeaders": [
            "PAYMENT-REQUIRED",
            "PAYMENT-SIGNATURE",
            "PAYMENT-RESPONSE"
          ],
          "requirementTemplate": {
            "scheme": "exact",
            "network": "algorand-mainnet",
            "x-pragma-network": "pragma: allowlist secret",
            "asset": "31566704",
            "x-pragma-asset": "pragma: allowlist secret",
            "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
            "maxAmountRequired": "0.1"
          },
          "accepts": [
            {
              "scheme": "exact",
              "network": "algorand-mainnet",
              "asset": "31566704",
              "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
              "maxAmountRequired": "0.1"
            },
            {
              "scheme": "exact",
              "network": "eip155:8453",
              "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
              "payTo": "REPLACE_WITH_BASE_PAYTO_ADDRESS",
              "maxAmountRequired": "0.1"
            }
          ]
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/CanixSessionHeader"
          }
        ]
      }
    },
    "/pricing": {
      "post": {
        "summary": "Fetch USD token prices for Algorand asset IDs",
        "description": "Returns CompX USD oracle prices for the requested Algorand asset IDs. A null price indicates that CompX has no current price for that asset.",
        "tags": [
          "defi",
          "pricing",
          "compx",
          "agents"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PricingRequest"
              },
              "examples": {
                "algoAndUsdc": {
                  "value": {
                    "assetIds": [
                      0,
                      31566704
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Current CompX USD prices for requested assets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PricingResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/swaps/quote": {
      "post": {
        "summary": "Fetch a walletless multi-router swap quote",
        "description": "Quotes every enabled swap router in parallel, scores expected net out, and returns the winning serializable quote without signing or submitting. Pass optional router to force a single adapter. Asset amounts are integer base units. Use the returned quote unchanged with /swaps/optin and /swaps/transactions. If prerequisite opt-ins are submitted, fetch a fresh quote before building the swap group.",
        "tags": [
          "defi",
          "swaps",
          "agents"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HaystackSwapQuoteRequest"
              },
              "examples": {
                "algoToUsdc": {
                  "value": {
                    "address": "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAY5HFKQ",
                    "fromAssetId": 0,
                    "toAssetId": 31566704,
                    "x-pragma": "pragma: allowlist secret",
                    "amount": "1000000",
                    "type": "fixed-input"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Serializable multi-router quote, winning router, and opaque payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HaystackSwapQuoteResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/UpstreamRateLimited"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/swaps/optin": {
      "post": {
        "summary": "Build prerequisite swap opt-ins for the winning quote",
        "description": "Checks the supplied Algorand account against the winning quote and returns a fresh unsigned group containing any missing output-asset and required application opt-ins. An empty transaction group means no opt-ins are required. canix402 is walletless: the caller signs and submits every returned opt-in transaction locally, waits for confirmation, and then refreshes the quote before requesting swap transactions. This route does not claim that returned opt-ins have executed.",
        "tags": [
          "defi",
          "swaps",
          "transactions",
          "wallet"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HaystackSwapOptInRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Unsigned prerequisite group, or an empty group when no opt-ins are missing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HaystackSwapOptInResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/swaps/transactions": {
      "post": {
        "summary": "Build a walletless swap transaction group from the winning quote",
        "description": "Paid transaction-generation step for a fresh multi-router quote. The initial request may return 402 with PAYMENT-REQUIRED; satisfy the advertised 0.005 USDC requirement and retry with PAYMENT-SIGNATURE. On success, the response preserves transaction order, identifies caller members in userSignIndexes, and includes any pre-signed members from the winning router. Sign only the userSignIndexes members, combine them with the pre-signed members in the original order, and submit the complete atomic group through your own Algod client. canix402 never receives wallet keys and never submits the swap. The 0.005 USDC x402 access charge is separate from Haystack's SDK-default 10 bps output fee (including referral split), other router fees, DEX fees, route price impact, and Algorand network transaction fees.",
        "tags": [
          "defi",
          "swaps",
          "transactions",
          "x402",
          "agents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HaystackSwapTransactionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ordered, walletless swap group ready for caller signing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HaystackSwapTransactionsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/UpstreamRateLimited"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005"
          }
        },
        "x-x402": {
          "protocolVersion": 2,
          "requiredHeaders": [
            "PAYMENT-REQUIRED",
            "PAYMENT-SIGNATURE",
            "PAYMENT-RESPONSE"
          ],
          "requirementTemplate": {
            "scheme": "exact",
            "network": "algorand-mainnet",
            "asset": "31566704",
            "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
            "maxAmountRequired": "0.005"
          },
          "accepts": [
            {
              "scheme": "exact",
              "network": "algorand-mainnet",
              "asset": "31566704",
              "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
              "maxAmountRequired": "0.005"
            },
            {
              "scheme": "exact",
              "network": "eip155:8453",
              "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
              "payTo": "REPLACE_WITH_BASE_PAYTO_ADDRESS",
              "maxAmountRequired": "0.005"
            }
          ]
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/CanixSessionHeader"
          }
        ]
      }
    },
    "/sessions": {
      "post": {
        "summary": "Buy a prepaid agent session receipt",
        "description": "One compiler-priced x402 payment mints a walletless prepaid session receipt (canix://session/{sessionId}). The receipt unlocks N research calls and M quotes/plans until TTL. Sessions are receipts, not keys. Exact-scheme one-shots remain the default; omit X-Canix-Session to pay per request. Fail-closed on expiry, exhausted quota, or store unavailability.",
        "tags": [
          "sessions",
          "x402",
          "agents"
        ],
        "responses": {
          "200": {
            "description": "Minted prepaid session receipt with remaining N/M",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionResponse"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.25"
          }
        },
        "x-x402": {
          "protocolVersion": 2,
          "requiredHeaders": [
            "PAYMENT-REQUIRED",
            "PAYMENT-SIGNATURE",
            "PAYMENT-RESPONSE"
          ],
          "requirementTemplate": {
            "scheme": "exact",
            "network": "algorand-mainnet",
            "x-pragma-network": "pragma: allowlist secret",
            "asset": "31566704",
            "x-pragma-asset": "pragma: allowlist secret",
            "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
            "maxAmountRequired": "0.25"
          },
          "accepts": [
            {
              "scheme": "exact",
              "network": "algorand-mainnet",
              "asset": "31566704",
              "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
              "maxAmountRequired": "0.25"
            },
            {
              "scheme": "exact",
              "network": "eip155:8453",
              "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
              "payTo": "REPLACE_WITH_BASE_PAYTO_ADDRESS",
              "maxAmountRequired": "0.25"
            }
          ]
        }
      }
    },
    "/sessions/refresh": {
      "post": {
        "summary": "Refresh a prepaid agent session receipt",
        "description": "Compiler-priced x402 payment that resets N/M quota and TTL on an existing session id, or mints a new receipt if the previous one is gone. Cannot be paid with an existing session \u2014 this route is one-shot only.",
        "tags": [
          "sessions",
          "x402",
          "agents"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SessionRefreshRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Refreshed prepaid session receipt with remaining N/M",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionResponse"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.25"
          }
        },
        "x-x402": {
          "protocolVersion": 2,
          "requiredHeaders": [
            "PAYMENT-REQUIRED",
            "PAYMENT-SIGNATURE",
            "PAYMENT-RESPONSE"
          ],
          "requirementTemplate": {
            "scheme": "exact",
            "network": "algorand-mainnet",
            "x-pragma-network": "pragma: allowlist secret",
            "asset": "31566704",
            "x-pragma-asset": "pragma: allowlist secret",
            "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
            "maxAmountRequired": "0.25"
          },
          "accepts": [
            {
              "scheme": "exact",
              "network": "algorand-mainnet",
              "asset": "31566704",
              "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
              "maxAmountRequired": "0.25"
            },
            {
              "scheme": "exact",
              "network": "eip155:8453",
              "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
              "payTo": "REPLACE_WITH_BASE_PAYTO_ADDRESS",
              "maxAmountRequired": "0.25"
            }
          ]
        }
      }
    },
    "/sessions/{sessionId}": {
      "get": {
        "summary": "Read prepaid session remaining N/M",
        "description": "Returns the session receipt including remaining research and quotes/plans quota and expiry. Agents should use this resource instead of the public indexer /transactions showcase. Fail-closed 402 when the receipt is unknown or expired. Exhausted-but-unexpired receipts return 200 with status exhausted.",
        "tags": [
          "sessions",
          "agents",
          "discovery"
        ],
        "security": [],
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session receipt with remaining N/M",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionResponse"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/SessionError"
          }
        }
      }
    },
    "/watch": {
      "post": {
        "summary": "Register a paid wallet watch retainer",
        "description": "Recurring compiler-priced x402 retainer that registers a walletless watch (address + thresholds + optional HTTPS webhook). Fires signed, idempotent notifications on health-factor, claimable-USD, APY-drop, or R\u00e9ti-capacity crossings. Canix never stores wallet keys \u2014 only the address, callback, and a server-generated HMAC secret (shown once). Refresh with POST /watch/refresh before TTL. MCP resource canix://watch/{watchId} lists recent firings.",
        "tags": [
          "watch",
          "x402",
          "agents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WatchCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Registered watch receipt with HMAC secret shown once",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WatchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.25"
          }
        },
        "x-x402": {
          "protocolVersion": 2,
          "requiredHeaders": [
            "PAYMENT-REQUIRED",
            "PAYMENT-SIGNATURE",
            "PAYMENT-RESPONSE"
          ],
          "requirementTemplate": {
            "scheme": "exact",
            "network": "[REDACTED]",
            "x-pragma-network": "pragma: allowlist secret",
            "asset": "[REDACTED]",
            "x-pragma-asset": "pragma: allowlist secret",
            "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
            "maxAmountRequired": "0.25"
          },
          "accepts": [
            {
              "scheme": "exact",
              "network": "[REDACTED]",
              "asset": "[REDACTED]",
              "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
              "maxAmountRequired": "0.25"
            },
            {
              "scheme": "exact",
              "network": "eip155:8453",
              "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
              "payTo": "REPLACE_WITH_BASE_PAYTO_ADDRESS",
              "maxAmountRequired": "0.25"
            }
          ]
        }
      }
    },
    "/watch/refresh": {
      "post": {
        "summary": "Refresh a paid wallet watch retainer",
        "description": "Compiler-priced x402 payment that extends TTL on an existing watch id. Optionally rotateSecret to mint a new HMAC key (returned once). Cannot be paid with a prepaid session. Unknown or expired watches fail-closed; register again with POST /watch.",
        "tags": [
          "watch",
          "x402",
          "agents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WatchRefreshRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Refreshed watch receipt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WatchResponse"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/WatchError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "503": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.25"
          }
        },
        "x-x402": {
          "protocolVersion": 2,
          "requiredHeaders": [
            "PAYMENT-REQUIRED",
            "PAYMENT-SIGNATURE",
            "PAYMENT-RESPONSE"
          ],
          "requirementTemplate": {
            "scheme": "exact",
            "network": "[REDACTED]",
            "x-pragma-network": "pragma: allowlist secret",
            "asset": "[REDACTED]",
            "x-pragma-asset": "pragma: allowlist secret",
            "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
            "maxAmountRequired": "0.25"
          },
          "accepts": [
            {
              "scheme": "exact",
              "network": "[REDACTED]",
              "asset": "[REDACTED]",
              "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
              "maxAmountRequired": "0.25"
            },
            {
              "scheme": "exact",
              "network": "eip155:8453",
              "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
              "payTo": "REPLACE_WITH_BASE_PAYTO_ADDRESS",
              "maxAmountRequired": "0.25"
            }
          ]
        }
      }
    },
    "/watch/{watchId}": {
      "get": {
        "summary": "Read watch receipt and recent threshold firings",
        "description": "Returns the walletless watch receipt including thresholds, webhook URL, expiry, and recent signed-delivery firings (idempotency keys). Does not return the HMAC secret. Unknown or expired receipts fail-closed with 402 WATCH_*.",
        "tags": [
          "watch",
          "agents",
          "discovery"
        ],
        "security": [],
        "parameters": [
          {
            "name": "watchId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Watch receipt with recent firings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WatchResponse"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/WatchError"
          }
        }
      }
    },
    "/watch/{watchId}/rotate-secret": {
      "post": {
        "summary": "Rotate the watch webhook HMAC secret",
        "description": "Mints a new webhook signing secret. Requires the current secret in X-Canix-Watch-Secret. The new secret is returned once and never stored as a wallet key. Does not extend retainer TTL \u2014 pay POST /watch/refresh for that.",
        "tags": [
          "watch",
          "agents"
        ],
        "security": [],
        "parameters": [
          {
            "name": "watchId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "X-Canix-Watch-Secret",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Rotated watch receipt with new HMAC secret shown once",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WatchResponse"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/WatchError"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ApiError": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "properties": {
              "code": {
                "type": "string",
                "description": "Stable machine-readable error code.",
                "enum": [
                  "VALIDATION_ERROR",
[...]
