{
  "openapi": "3.1.0",
  "info": {
    "title": "canix402 API",
    "version": "1.0.0",
    "description": "x402-gated Algorand DeFi data and walletless transaction API, including Haystack swap quotes, prerequisite opt-ins, and paid atomic swap-group generation. Numeric yield/USD fields (apy, apr, tvlUsd) are returned with a standard precision of 6 decimal places, extended up to 12 decimal places only when needed to represent small non-zero values. Asset decimals are always sourced on-chain from algod.",
    "contact": {
      "name": "Neon Forge Ltd",
      "email": "kieran@neonforge.ltd",
      "url": "https://canix402.compx.io"
    },
    "x-guidance": "Use the gateway base URL in servers[0]. Fetch /discovery and /openapi.json before integrating. Prefer the remote canix402 MCP server at https://canix402-mcp.compx.io/mcp (streamable-http, walletless pass-through) for agent tool access. Paid routes return HTTP 402 with PAYMENT-REQUIRED; sign a USDC ASA transfer client-side and retry with PAYMENT-SIGNATURE. Haystack swaps follow quote -> opt-in if needed -> fresh quote -> paid transaction generation -> local signing/submission. Human and LLM docs: https://canix402.compx.io/llms.txt",
    "x-precision": {
      "fields": [
        "apy",
        "apr",
        "tvlUsd"
      ],
      "defaultDecimalPlaces": 6,
      "maxDecimalPlaces": 12,
      "notes": "Values are rounded to 6 decimal places by default; precision is extended up to 12 decimal places when 6 would collapse a small non-zero value to zero."
    }
  },
  "servers": [
    {
      "url": "https://canix402-api.compx.io"
    }
  ],
  "x-discovery": {
    "docsUrl": "https://canix402.compx.io/x402",
    "llmsTxtUrl": "https://canix402.compx.io/llms.txt",
    "mcpInstall": "https://canix402.compx.io/x402#mcp",
    "mcpUrl": "https://canix402-mcp.compx.io/mcp",
    "mcpTransport": "streamable-http"
  },
  "paths": {
    "/": {
      "get": {
        "summary": "API root branding and social metadata page",
        "tags": [
          "system",
          "discovery"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "HTML landing page with logo, banner, title, description, and social metadata",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "summary": "Service health check",
        "tags": [
          "system"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/HealthResponseSample"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ready": {
      "get": {
        "summary": "Service readiness check (Algod required; Redis soft)",
        "tags": [
          "system"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Ready or degraded (Algod reachable)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadyResponse"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/ReadyResponseSample"
                  }
                }
              }
            }
          },
          "503": {
            "description": "Not ready (Algod unreachable)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadyResponse"
                }
              }
            }
          }
        }
      }
    },
    "/metrics": {
      "get": {
        "summary": "Prometheus metrics scrape endpoint (internal)",
        "description": "Prometheus text exposition format. Intended for internal scrapes on the protocol component (:3000). Not exposed on the public Caddy gateway.",
        "tags": [
          "system",
          "observability"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Prometheus metrics",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/metadata": {
      "get": {
        "summary": "Service metadata and policy surface",
        "tags": [
          "system",
          "discovery"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetadataResponse"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/MetadataResponseSample"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/discovery": {
      "get": {
        "summary": "Machine-readable endpoint catalog for agents",
        "tags": [
          "discovery",
          "agents"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Discovery document",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscoveryResponse"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/DiscoveryResponseSample"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "summary": "OpenAPI contract document",
        "tags": [
          "discovery",
          "openapi"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "OpenAPI JSON",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "This OpenAPI 3.1 document."
                }
              }
            }
          }
        }
      }
    },
    "/favicon.ico": {
      "get": {
        "summary": "API favicon for directory indexing",
        "tags": [
          "system",
          "discovery"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Favicon image",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/favicon.png": {
      "get": {
        "summary": "API favicon image",
        "tags": [
          "system",
          "discovery"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Favicon image",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/logo.png": {
      "get": {
        "summary": "Service logo for directory and social indexing",
        "tags": [
          "system",
          "discovery"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Service logo image",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/banner.png": {
      "get": {
        "summary": "Service banner for directory and social indexing",
        "tags": [
          "system",
          "discovery"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Service banner image",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/x402.json": {
      "get": {
        "summary": "x402 discovery manifest for agent and directory indexing",
        "tags": [
          "discovery",
          "agents",
          "x402"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "x402 discovery manifest",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "service",
                    "name",
                    "version",
                    "description",
                    "x402Version",
                    "docsUrl",
                    "llmsTxtUrl",
                    "openapiUrl",
                    "discoveryUrl",
                    "logoUrl",
                    "bannerUrl",
                    "facilitator",
                    "chains",
                    "resources"
                  ],
                  "properties": {
                    "service": {
                      "type": "string",
                      "const": "canix402"
                    },
                    "name": {
                      "type": "string",
                      "const": "canix402"
                    },
                    "version": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "x402Version": {
                      "type": "integer",
                      "const": 2
                    },
                    "docsUrl": {
                      "type": "string",
                      "format": "uri"
                    },
                    "llmsTxtUrl": {
                      "type": "string",
                      "format": "uri"
                    },
                    "openapiUrl": {
                      "type": "string",
                      "format": "uri"
                    },
                    "discoveryUrl": {
                      "type": "string",
                      "format": "uri"
                    },
                    "logoUrl": {
                      "type": "string",
                      "format": "uri"
                    },
                    "bannerUrl": {
                      "type": "string",
                      "format": "uri"
                    },
                    "facilitator": {
                      "type": "string",
                      "format": "uri"
                    },
                    "chains": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "namespace": {
                            "type": "string",
                            "const": "algorand"
                          },
                          "network": {
                            "type": "string"
                          },
                          "assets": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "symbol": {
                                  "type": "string",
                                  "const": "USDC"
                                },
                                "assetId": {
                                  "type": "string"
                                },
                                "decimals": {
                                  "type": "integer",
                                  "const": 6
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "resources": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "method",
                          "path",
                          "url",
                          "description",
                          "price",
                          "x402"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "method": {
                            "type": "string",
                            "enum": [
                              "GET",
                              "POST"
                            ]
                          },
                          "path": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string",
                            "format": "uri"
                          },
                          "description": {
                            "type": "string"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "price": {
                            "type": "object",
                            "properties": {
                              "amount": {
                                "type": "string"
                              },
                              "currency": {
                                "type": "string",
                                "const": "USDC"
                              },
                              "network": {
                                "type": "string"
                              },
                              "asset": {
                                "type": "string"
                              }
                            }
                          },
                          "x402": {
                            "type": "object"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/X402ManifestSample"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/x402": {
      "get": {
        "summary": "x402 discovery fan-out document",
        "tags": [
          "discovery",
          "agents",
          "x402"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Paid resource URL list for directory registration",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "version",
                    "resources"
                  ],
                  "properties": {
                    "version": {
                      "type": "integer",
                      "const": 1
                    },
                    "resources": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "uri"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/opportunities": {
      "get": {
        "summary": "Top 10 aggregated DeFi opportunities ranked by APY",
        "description": "Returns ranked Algorand DeFi yield opportunities across supported protocols including Tinyman, Pact, Folks Finance, CompX, Dork.fi, Myth Finance, and Haystack. Use when an agent needs to compare APY/APR, TVL, asset pairs, opportunity type, protocol, source freshness, and caveats before presenting or ranking yield options. This endpoint provides normalized market data only; it does not build or submit transactions.",
        "tags": [
          "defi",
          "opportunities"
        ],
        "parameters": [
          {
            "name": "protocol",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "includeInactive",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Opportunity list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpportunitiesListResponse"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/AggregateOpportunitiesSample"
                  }
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          }
        },
        "x-x402": {
          "protocolVersion": 2,
          "requiredHeaders": [
            "PAYMENT-REQUIRED",
            "PAYMENT-SIGNATURE",
            "PAYMENT-RESPONSE"
          ],
          "requirementTemplate": {
            "scheme": "exact",
            "network": "algorand-mainnet",
            "asset": "31566704",
            "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
            "maxAmountRequired": "0.01"
          }
        }
      }
    },
    "/opportunities/search": {
      "get": {
        "summary": "Caller-filtered opportunities across supported platforms",
        "description": "Returns Algorand DeFi opportunities filtered by platform, opportunity type, APY range, and TVL threshold across supported sources. Use when an agent needs targeted discovery such as high-yield liquidity pools, lending markets, protocol-specific yield, or minimum-liquidity opportunities on Algorand. This endpoint provides normalized market data only; it does not build or submit transactions.",
        "tags": [
          "defi",
          "opportunities",
          "search"
        ],
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Comma-separated list of platforms."
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Comma-separated list of opportunity types."
            }
          },
          {
            "name": "minApy",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "maxApy",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "minTvlUsd",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 25
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "includeInactive",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Filtered opportunity list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpportunitiesListResponse"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/FilteredOpportunitiesSample"
                  }
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          }
        },
        "x-x402": {
          "protocolVersion": 2,
          "requiredHeaders": [
            "PAYMENT-REQUIRED",
            "PAYMENT-SIGNATURE",
            "PAYMENT-RESPONSE"
          ],
          "requirementTemplate": {
            "scheme": "exact",
            "network": "algorand-mainnet",
            "asset": "31566704",
            "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
            "maxAmountRequired": "0.01"
          }
        }
      }
    },
    "/opportunities/personalized": {
      "get": {
        "summary": "Top opportunities tuned to a wallet's held assets",
        "description": "Returns Algorand DeFi opportunities whose underlying assets match a supplied wallet's holdings, including opted-in ASAs with positive balance and native ALGO when held. Use when an agent needs wallet-aware yield ideas based on assets the account already owns, with normalized APY/APR, TVL, asset ids, source freshness, and caveats. This endpoint provides normalized market data only; it does not build or submit transactions.",
        "tags": [
          "defi",
          "opportunities",
          "personalized",
          "wallet"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Algorand account address to personalize opportunities for."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "includeInactive",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Personalized opportunity list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonalizedOpportunitiesListResponse"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/PersonalizedOpportunitiesSample"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidAddress"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.05"
          }
        },
        "x-x402": {
          "protocolVersion": 2,
          "requiredHeaders": [
            "PAYMENT-REQUIRED",
            "PAYMENT-SIGNATURE",
            "PAYMENT-RESPONSE"
          ],
          "requirementTemplate": {
            "scheme": "exact",
            "network": "algorand-mainnet",
            "asset": "31566704",
            "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
            "maxAmountRequired": "0.05"
          }
        }
      }
    },
    "/positions": {
      "get": {
        "summary": "Algorand DeFi positions held by a wallet",
        "description": "Returns normalized DeFi positions associated with a supplied Algorand wallet address across supported protocols. Use when an agent needs a wallet-level view of deposited, supplied, staked, or liquidity positions and their current values. This endpoint provides position data only; it does not build or submit transactions.",
        "tags": [
          "defi",
          "positions",
          "wallet"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Algorand account address whose DeFi positions should be returned."
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet position list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletPositionsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidAddress"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005"
          }
        },
        "x-x402": {
          "protocolVersion": 2,
          "requiredHeaders": [
            "PAYMENT-REQUIRED",
            "PAYMENT-SIGNATURE",
            "PAYMENT-RESPONSE"
          ],
          "requirementTemplate": {
            "scheme": "exact",
            "network": "algorand-mainnet",
            "asset": "31566704",
            "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
            "maxAmountRequired": "0.005"
          }
        }
      }
    },
    "/public/agents/brownie/positions": {
      "get": {
        "summary": "Public DeFi positions for the Brownie Bot showcase wallet",
        "description": "Free showcase route that returns normalized DeFi positions for the Brownie Bot treasury wallet only. The wallet address is hardcoded server-side — this is not a general free /positions browser. Use GET /positions?address= for arbitrary wallets (paid).",
        "tags": [
          "defi",
          "positions",
          "agents",
          "showcase"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Brownie Bot wallet position list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletPositionsResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/protocols/{protocol}/opportunities": {
      "get": {
        "summary": "Top 25 DeFi opportunities for a single protocol ranked by APY",
        "description": "Returns ranked DeFi opportunities for one Algorand protocol: tinyman, pact, folks-finance, compx, dorkfi, myth-finance, haystack, reti, or alpha-arcade. Use when an agent already knows the target protocol and needs normalized APY/APR, TVL, asset pair, opportunity type, timestamps, and caveats for that venue. This endpoint provides normalized market data only; it does not build or submit transactions.",
        "tags": [
          "defi",
          "opportunities",
          "protocol"
        ],
        "parameters": [
          {
            "name": "protocol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "tinyman",
                "pact",
                "folks-finance",
                "compx",
                "dorkfi",
                "myth-finance",
                "haystack",
                "reti",
                "alpha-arcade"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 25
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "includeInactive",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Protocol opportunity list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpportunitiesListResponse"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/ProtocolOpportunitiesSample"
                  }
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          }
        },
        "x-x402": {
          "protocolVersion": 2,
          "requiredHeaders": [
            "PAYMENT-REQUIRED",
            "PAYMENT-SIGNATURE",
            "PAYMENT-RESPONSE"
          ],
          "requirementTemplate": {
            "scheme": "exact",
            "network": "algorand-mainnet",
            "asset": "31566704",
            "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
            "maxAmountRequired": "0.01"
          }
        }
      }
    },
    "/execution/shapes": {
      "get": {
        "summary": "List verified execution shape catalog metadata",
        "description": "Returns the live catalog of verified transaction shapes (shapeKey, requiredInputs, opportunityRole, docsPath). Catalog metadata only \u2014 does not compile quotes or return unsigned transactions. Use POST /execution/quotes to compile executable groups.",
        "tags": [
          "execution",
          "discovery",
          "agents"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Execution shape catalog",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecutionShapesListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/execution/quotes": {
      "post": {
        "summary": "Compile a verified transaction shape into unsigned Algorand transactions",
        "description": "Compile one or more verified execution shapes into unsigned Algorand transaction groups. Request body is `{ quotes: [{ shapeKey, input }, ...] }` (min 1). Response `data` is an array of ExecutableQuote in request order \u2014 groups are never merged. On failure the whole request fails and `error.details` includes `quoteIndex` and `shapeKey`. x402 price is flat ~0.10 USDC per request (not per quote item). Canix never signs or submits transactions.",
        "tags": [
          "execution",
          "transactions",
          "x402",
          "agents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecutionQuoteRequest"
              },
              "examples": {
                "tinymanAddLiquidity": {
                  "$ref": "#/components/examples/ExecutionQuoteRequestSample"
                },
                "tinymanAddLiquidityInitial": {
                  "$ref": "#/components/examples/ExecutionQuoteInitialAddLiquidityRequestSample"
                },
                "tinymanAddLiquiditySingleAsset": {
                  "$ref": "#/components/examples/ExecutionQuoteSingleAssetAddLiquidityRequestSample"
                },
                "tinymanRemoveLiquidity": {
                  "$ref": "#/components/examples/ExecutionQuoteRemoveLiquidityRequestSample"
                },
                "tinymanRemoveLiquiditySingleAssetOut": {
                  "$ref": "#/components/examples/ExecutionQuoteSingleAssetOutRemoveLiquidityRequestSample"
                },
                "folksSetupDepositEscrow": {
                  "$ref": "#/components/examples/ExecutionQuoteFolksSetupDepositEscrowRequestSample"
                },
                "folksSetupOptEscrowAsset": {
                  "$ref": "#/components/examples/ExecutionQuoteFolksSetupOptEscrowAssetRequestSample"
                },
                "folksDepositEscrow": {
                  "$ref": "#/components/examples/ExecutionQuoteFolksDepositEscrowRequestSample"
                },
                "folksWithdrawEscrow": {
                  "$ref": "#/components/examples/ExecutionQuoteFolksWithdrawEscrowRequestSample"
                },
                "pactAddLiquidity": {
                  "$ref": "#/components/examples/ExecutionQuotePactAddLiquidityRequestSample"
                },
                "pactRemoveLiquidity": {
                  "$ref": "#/components/examples/ExecutionQuotePactRemoveLiquidityRequestSample"
                },
                "compxDepositAsa": {
                  "$ref": "#/components/examples/ExecutionQuoteCompxDepositAsaRequestSample"
                },
                "compxWithdrawAsa": {
                  "$ref": "#/components/examples/ExecutionQuoteCompxWithdrawAsaRequestSample"
                },
                "dorkfiDepositAsa": {
                  "$ref": "#/components/examples/ExecutionQuoteDorkfiDepositAsaRequestSample"
                },
                "dorkfiWithdrawAsa": {
                  "$ref": "#/components/examples/ExecutionQuoteDorkfiWithdrawAsaRequestSample"
                },
                "haystackStakeHay": {
                  "$ref": "#/components/examples/ExecutionQuoteHaystackStakeHayRequestSample"
                },
                "haystackUnstakeHay": {
                  "$ref": "#/components/examples/ExecutionQuoteHaystackUnstakeHayRequestSample"
                },
                "haystackClaimRewards": {
                  "$ref": "#/components/examples/ExecutionQuoteHaystackClaimRewardsRequestSample"
                },
                "multiQuote": {
                  "$ref": "#/components/examples/ExecutionQuoteMultiRequestSample"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Unsigned executable quote",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecutionQuoteResponse"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/ExecutionQuoteResponseSample"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.1"
          }
        },
        "x-x402": {
          "protocolVersion": 2,
          "requiredHeaders": [
            "PAYMENT-REQUIRED",
            "PAYMENT-SIGNATURE",
            "PAYMENT-RESPONSE"
          ],
          "requirementTemplate": {
            "scheme": "exact",
            "network": "algorand-mainnet",
            "asset": "31566704",
            "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
            "maxAmountRequired": "0.1"
          }
        }
      }
    },
    "/pricing": {
      "post": {
        "summary": "Fetch USD token prices for Algorand asset IDs",
        "description": "Returns CompX USD oracle prices for the requested Algorand asset IDs. A null price indicates that CompX has no current price for that asset.",
        "tags": [
          "defi",
          "pricing",
          "compx",
          "agents"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PricingRequest"
              },
              "examples": {
                "algoAndUsdc": {
                  "value": {
                    "assetIds": [
                      0,
                      31566704
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Current CompX USD prices for requested assets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PricingResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/swaps/quote": {
      "post": {
        "summary": "Fetch a walletless Haystack swap quote",
        "description": "Returns a short-lived, serializable Haystack route quote without signing or submitting transactions. Asset amounts are integer base units, not display-unit decimals. Use the returned quote unchanged with /swaps/optin and /swaps/transactions. If prerequisite opt-ins are submitted, fetch a fresh quote before building the swap group.",
        "tags": [
          "defi",
          "swaps",
          "haystack",
          "agents"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HaystackSwapQuoteRequest"
              },
              "examples": {
                "algoToUsdc": {
                  "value": {
                    "address": "AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAY5HFKQ",
                    "fromAssetId": 0,
                    "toAssetId": 31566704,
                    "amount": "1000000",
                    "type": "fixed-input"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Serializable Haystack quote and prerequisite identifiers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HaystackSwapQuoteResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/UpstreamRateLimited"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/swaps/optin": {
      "post": {
        "summary": "Build prerequisite Haystack swap opt-ins",
        "description": "Checks the supplied Algorand account against the quote and returns a fresh unsigned group containing any missing output-asset and required application opt-ins. An empty transaction group means no opt-ins are required. canix402 is walletless: the caller signs and submits every returned opt-in transaction locally, waits for confirmation, and then refreshes the quote before requesting swap transactions. This route does not claim that returned opt-ins have executed.",
        "tags": [
          "defi",
          "swaps",
          "haystack",
          "transactions",
          "wallet"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HaystackSwapOptInRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Unsigned prerequisite group, or an empty group when no opt-ins are missing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HaystackSwapOptInResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        }
      }
    },
    "/swaps/transactions": {
      "post": {
        "summary": "Build a walletless Haystack swap transaction group",
        "description": "Paid transaction-generation step for a fresh Haystack quote. The initial request may return 402 with PAYMENT-REQUIRED; satisfy the advertised 0.005 USDC requirement and retry with PAYMENT-SIGNATURE. On success, the response preserves transaction order, identifies caller members in userSignIndexes, and includes Haystack pre-signed members. Sign only the userSignIndexes members, combine them with the pre-signed members in the original order, and submit the complete atomic group through your own Algod client. canix402 never receives wallet keys and never submits the swap. The 0.005 USDC x402 access charge is separate from Haystack's SDK-default 10 bps output fee (including referral split), DEX fees, route price impact, and Algorand network transaction fees.",
        "tags": [
          "defi",
          "swaps",
          "haystack",
          "transactions",
          "x402",
          "agents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HaystackSwapTransactionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ordered, walletless Haystack swap group ready for caller signing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HaystackSwapTransactionsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/UpstreamRateLimited"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamError"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005"
          }
        },
        "x-x402": {
          "protocolVersion": 2,
          "requiredHeaders": [
            "PAYMENT-REQUIRED",
            "PAYMENT-SIGNATURE",
            "PAYMENT-RESPONSE"
          ],
          "requirementTemplate": {
            "scheme": "exact",
            "network": "algorand-mainnet",
            "asset": "31566704",
            "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
            "maxAmountRequired": "0.005"
          }
        }
      }
    },
    "/strategies": {
      "get": {
        "summary": "List published strategies",
        "description": "Returns published strategy marketplace documents. strategyId equals the strategy NFT ASA id. Fees: 50% of compile access fees go weekly to the NFT holder.",
        "tags": [
          "strategies",
          "marketplace",
          "agents"
        ],
        "security": [],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "published",
                "suspended",
                "degraded",
                "archived"
              ]
            }
          },
          {
            "name": "tag",
            "in": "query",
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "creatorAddress",
            "in": "query",
            "schema": {
              "type": "string",
              "minLength": 58,
              "maxLength": 58
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Strategy list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StrategyListResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Publish a new strategy (mints NFT, writes Spaces JSON)",
        "description": "Creates a tradable ARC-3 strategy NFT and stores the weight-based composition. Price 100 USDC (Canix-only; no holder share). Rejects raw transaction groups.",
        "tags": [
          "strategies",
          "marketplace",
          "x402",
          "agents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StrategyPublishRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Published strategy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StrategyDetailResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "100"
          }
        },
        "x-x402": {
          "protocolVersion": 2,
          "requiredHeaders": [
            "PAYMENT-REQUIRED",
            "PAYMENT-SIGNATURE",
            "PAYMENT-RESPONSE"
          ],
          "requirementTemplate": {
            "scheme": "exact",
            "network": "algorand-mainnet",
            "asset": "31566704",
            "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
            "maxAmountRequired": "100"
          }
        }
      }
    },
    "/strategies/{strategyId}": {
      "get": {
        "summary": "Get a strategy by strategyId (ASA id)",
        "description": "Returns the Spaces-backed strategy document for strategyId (Algorand ASA id). Includes creatorAddress provenance, createdAt/lastRevisedAt, name/description/tags, and weighted legs.",
        "tags": [
          "strategies",
          "marketplace",
          "agents"
        ],
        "security": [],
        "parameters": [
          {
            "name": "strategyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Strategy detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StrategyDetailResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "summary": "Revise a strategy composition (NFT holder only, 14-day cooldown)",
        "description": "In-place update of legs/display fields for strategyId. Price 1 USDC (Canix-only). Caller must be the current NFT holder. At most one successful revise per 14 days per strategyId.",
        "tags": [
          "strategies",
          "marketplace",
          "x402",
          "agents"
        ],
        "parameters": [
          {
            "name": "strategyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StrategyReviseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Revised strategy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StrategyDetailResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "1"
          }
        },
        "x-x402": {
          "protocolVersion": 2,
          "requiredHeaders": [
            "PAYMENT-REQUIRED",
            "PAYMENT-SIGNATURE",
            "PAYMENT-RESPONSE"
          ],
          "requirementTemplate": {
            "scheme": "exact",
            "network": "algorand-mainnet",
            "asset": "31566704",
            "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
            "maxAmountRequired": "1"
          }
        }
      }
    },
    "/strategies/{strategyId}/compile": {
      "post": {
        "summary": "Compile a strategy into unsigned execution quotes",
        "description": "Loads the strategy document, scales capital across legs by weightBps, and returns ExecutableQuote[]. Price 0.1 USDC. 50% of this access fee is paid weekly to the strategy NFT holder. Payment note must be x402:v2:strategy:{strategyId}.",
        "tags": [
          "strategies",
          "execution",
          "x402",
          "agents"
        ],
        "parameters": [
          {
            "name": "strategyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StrategyCompileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Compiled strategy quotes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StrategyCompileResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "x-payment-info": {
          "protocols": [
            {
              "x402": {}
            }
          ],
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.1"
          }
        },
        "x-x402": {
          "protocolVersion": 2,
          "requiredHeaders": [
            "PAYMENT-REQUIRED",
            "PAYMENT-SIGNATURE",
            "PAYMENT-RESPONSE"
          ],
          "requirementTemplate": {
            "scheme": "exact",
            "network": "algorand-mainnet",
            "asset": "31566704",
            "payTo": "REPLACE_WITH_PAYTO_ADDRESS",
            "maxAmountRequired": "0.1"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ApiError": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "properties": {
              "code": {
                "type": "string",
                "description": "Stable machine-readable error code.",
                "enum": [
                  "VALIDATION_ERROR",
                  "INTERNAL_ERROR",
                  "NOT_FOUND",
                  "MISSING_PAYMENT_SIGNATURE",
                  "MALFORMED_PAYMENT_SIGNATURE",
                  "EXPIRED_PAYMENT_PROOF"
                ]
              },
              "message": {
                "type": "string"
              },
              "details": {
                "description": "Optional structured context for the error."
              }
            }
          }
        }
      },
      "OpportunityRecord": {
        "type": "object",
        "required": [
          "protocol",
          "opportunityType",
          "opportunityId",
          "assetPair",
          "apy",
          "yieldBasis",
          "tvlUsd",
          "sourceTimestamp",
          "fetchedAt",
          "executionReady",
          "executionShapes",
          "compatibleExitShapes"
        ],
        "properties": {
          "protocol": {
            "type": "string",
            "description": "Source platform name.",
            "enum": [
              "tinyman",
              "pact",
              "folks-finance",
              "compx",
              "dorkfi",
              "myth-finance",
              "haystack",
              "reti",
              "alpha-arcade"
            ]
          },
          "opportunityType": {
            "type": "string",
            "enum": [
              "lp",
              "farm",
              "staking",
              "lending"
            ]
          },
          "opportunityId": {
            "type": "string",
            "description": "Stable identifier for the opportunity within its protocol."
          },
          "assetPair": {
            "type": "string",
            "description": "Protocol-specific market identifier (e.g. ALGO/USDC or a single asset)."
          },
          "assetIds": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "On-chain Algorand asset ids backing the opportunity. Native ALGO is asset id 0."
          },
          "apy": {
            "type": "number",
            "description": "Yield as APY. Formatted to 6 decimal places (up to 12 for small non-zero values)."
          },
          "yieldBasis": {
            "type": "string",
            "enum": [
              "apy",
              "apr"
            ],
            "description": "Indicates whether the apy field reflects a compound APY or an APR-derived value."
          },
          "apr": {
            "type": "number",
            "description": "Yield as APR when the upstream source provides it."
          },
          "tvlUsd": {
            "type": "number",
            "description": "Total value locked / liquidity depth in USD."
          },
          "sourceTimestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Upstream or on-chain update time when available; otherwise equals fetchedAt."
          },
          "fetchedAt": {
            "type": "string",
            "format": "date-time",
            "description": "When this service fetched and normalized the row."
          },
          "notes": {
            "type": "string",
            "description": "Caveats about timestamp provenance, fallback identifiers, or yield estimates."
          },
          "executionReady": {
            "type": "boolean",
            "description": "True when at least one enter execution shape is available. When false and executionShapes is empty, treat as research-only and do not invent shape keys."
          },
          "executionShapes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpportunityExecutionShape"
            },
            "description": "Enter-only shapes for opening this yield opportunity. Empty means research-only."
          },
          "compatibleExitShapes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpportunityExecutionShape"
            },
            "description": "Exit shapes for closing this opportunity when known (e.g. Folks xALGO unstake, Tinyman tALGO burn). Empty means discover exits via positions or canix_list_execution_shapes / the shape catalog."
          },
          "entryRequirements": {
            "$ref": "#/components/schemas/OpportunityEntryRequirements"
          },
          "capacity": {
            "$ref": "#/components/schemas/OpportunityCapacity"
          }
        }
      },
      "PersonalizedOpportunityRecord": {
        "$ref": "#/components/schemas/OpportunityRecord"
      },
      "OpportunitiesListMeta": {
        "type": "object",
        "required": [
          "limit",
          "offset",
          "includeInactive",
          "paymentRequired"
        ],
        "properties": {
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          },
          "includeInactive": {
            "type": "boolean"
          },
          "paymentRequired": {
            "type": "boolean"
          }
        }
      },
      "PersonalizedOpportunitiesListMeta": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OpportunitiesListMeta"
          },
          {
            "type": "object",
            "required": [
              "address",
              "heldAssetCount"
            ],
            "properties": {
              "address": {
                "type": "string",
                "description": "Algorand address the results were personalized for."
              },
              "heldAssetCount": {
                "type": "integer",
                "description": "Number of distinct held assets used for matching."
              }
            }
          }
        ]
      },
      "OpportunitiesListResponse": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpportunityRecord"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/OpportunitiesListMeta"
          }
        }
      },
      "PersonalizedOpportunitiesListResponse": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PersonalizedOpportunityRecord"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PersonalizedOpportunitiesListMeta"
          }
        }
      },
      "PositionRecord": {
        "type": "object",
        "description": "A protocol-neutral economic position. Integer base units and normalized token amounts are decimal strings to preserve precision.",
        "required": [
          "protocol",
          "positionType",
          "positionId",
          "opportunityId",
          "assetId",
          "assetSymbol",
          "amountRaw",
          "amount",
          "usdValue",
          "compatibleExitShapeKeys",
          "compatibleManageShapeKeys"
        ],
        "properties": {
          "protocol": {
            "type": "string",
            "enum": [
              "tinyman",
              "pact",
              "folks-finance",
              "compx",
              "dorkfi",
              "myth-finance",
              "haystack",
              "reti",
              "alpha-arcade"
            ]
          },
          "positionType": {
            "type": "string",
            "enum": [
              "supplied",
              "lp",
              "staked",
              "debt",
              "reward"
            ]
          },
          "positionId": {
            "type": "string",
            "minLength": 1
          },
          "opportunityId": {
            "type": [
              "string",
              "null"
            ]
          },
          "assetId": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "assetSymbol": {
            "type": [
              "string",
              "null"
            ]
          },
          "amountRaw": {
            "type": "string",
            "pattern": "^[0-9]+$"
          },
          "amount": {
            "type": "string",
            "pattern": "^[0-9]+(?:\\.[0-9]+)?$"
          },
          "usdValue": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0
          },
          "healthFactor": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0,
            "description": "Protocol-reported collateral health ratio when applicable."
          },
          "sourceTimestamp": {
            "type": "string",
            "format": "date-time"
          },
          "caveats": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "notes": {
            "type": "string"
          },
          "inputHints": {
            "$ref": "#/components/schemas/OpportunityExecutionInputHints",
            "description": "Optional selector hints for compatible exit/manage shapes. Amounts never appear."
          },
          "compatibleExitShapeKeys": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1
            },
            "description": "Exit shape keys compatible with this position. Empty means do not invent keys."
          },
          "compatibleManageShapeKeys": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1
            },
            "description": "Manage/claim shape keys compatible with this position."
          }
        }
      },
      "ProtocolPositionResult": {
        "type": "object",
        "required": [
          "protocol",
          "status",
          "positionCount",
          "message"
        ],
        "properties": {
          "protocol": {
            "type": "string",
            "enum": [
              "tinyman",
              "pact",
              "folks-finance",
              "compx",
              "dorkfi",
              "myth-finance",
              "haystack",
              "reti",
              "alpha-arcade"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "ok",
              "partial",
              "unavailable"
            ]
          },
          "positionCount": {
            "type": "integer",
            "minimum": 0
          },
          "message": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "WalletPositionsResponse": {
        "type": "object",
        "required": [
          "data",
          "protocols",
          "totals",
          "meta"
        ],
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PositionRecord"
            }
          },
          "protocols": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProtocolPositionResult"
            }
          },
          "totals": {
            "type": "object",
            "description": "Aggregate USD totals. A null value means at least one relevant protocol or position could not be valued completely; null must not be interpreted as zero.",
            "required": [
              "suppliedUsd",
              "borrowedUsd",
              "rewardsUsd",
              "netUsd"
            ],
            "properties": {
              "suppliedUsd": {
                "type": [
                  "number",
                  "null"
                ]
              },
              "borrowedUsd": {
                "type": [
                  "number",
                  "null"
                ]
              },
              "rewardsUsd": {
                "type": [
                  "number",
                  "null"
                ]
              },
              "netUsd": {
                "type": [
                  "number",
                  "null"
                ]
              }
            }
          },
          "meta": {
            "type": "object",
            "required": [
              "address",
              "fetchedAt"
            ],
            "properties": {
              "address": {
                "type": "string",
                "description": "Algorand address whose positions were queried."
              },
              "fetchedAt": {
                "type": "string",
                "format": "date-time"
              },
              "agentId": {
                "type": "string",
                "description": "Present on free public showcase routes (for example brownie)."
              }
            }
          }
        }
      },
      "ExecutionQuoteInput": {
        "type": "object",
        "required": [
          "userAddress"
        ],
        "properties": {
          "userAddress": {
            "type": "string",
            "description": "Algorand address that will sign the transaction group."
          },
          "assetAId": {
            "description": "First asset id identifying the Tinyman pool pair (integer or string)."
          },
          "assetAAmount": {
            "type": "string",
            "description": "Amount of asset A in base units for add-liquidity shapes (integer string recommended)."
          },
          "assetBId": {
            "description": "Second asset id identifying the Tinyman pool pair (integer or string). Use 0 for ALGO."
          },
          "assetBAmount": {
            "type": "string",
            "description": "Amount of asset B in base units for add-liquidity shapes (integer string recommended)."
          },
          "poolTokenAmount": {
            "type": "string",
            "description": "Pool token amount in base units for remove-liquidity shapes (integer string recommended)."
          },
          "depositAssetId": {
            "description": "Asset id to deposit for single-asset add-liquidity (must match assetAId or assetBId)."
          },
          "depositAmount": {
            "type": "string",
            "description": "Deposit amount in base units for single-asset add-liquidity (integer string recommended)."
          },
          "outputAssetId": {
            "description": "Asset id to receive for single-asset-out remove-liquidity (must match assetAId or assetBId)."
          },
          "maxSlippageBps": {
            "type": "integer",
            "minimum": 0,
            "maximum": 10000,
            "description": "Maximum tolerated slippage in basis points for Tinyman shapes."
          },
          "poolAppId": {
            "description": "Folks Finance pool application id (from discovery opportunityId)."
          },
          "assetId": {
            "description": "Underlying asset id for Folks Finance pool selection (from discovery assetIds)."
          },
          "assetAmount": {
            "type": "string",
            "description": "Underlying asset amount in base units for Folks deposit shapes."
          },
          "amount": {
            "type": "string",
            "description": "Withdraw amount in base units for Folks withdraw shapes."
          },
          "amountDenomination": {
            "type": "string",
            "enum": [
              "asset",
              "fAsset"
            ],
            "description": "Whether Folks withdraw amount is expressed in underlying asset or fAsset units."
          },
          "includeOpUp": {
            "type": "boolean",
            "description": "Whether to prefix Folks deposit groups with an OpUp transaction (default true)."
          },
          "escrowAddress": {
            "type": "string",
            "description": "Folks Finance deposit escrow address. Resolved via indexer when omitted on deposit/withdraw shapes."
          },
          "poolId": {
            "type": "string",
            "description": "Optional discovery/opportunity id for traceability."
          }
        }
      },
      "ExecutionShapesListResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "data",
          "meta"
        ],
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExecutionShapeCatalogEntry"
            }
          },
          "meta": {
            "type": "object",
            "required": [
              "paymentRequired",
              "shapeCount"
            ],
            "properties": {
              "paymentRequired": {
                "type": "boolean",
                "const": false
              },
              "shapeCount": {
                "type": "integer",
                "minimum": 0
              },
              "note": {
                "type": "string"
              }
            }
          }
        }
      },
      "ExecutionShapeCatalogEntry": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "shapeKey",
          "network",
          "protocol",
          "protocolVersion",
          "action",
          "variant",
          "shapeVersion",
          "title",
          "description",
          "summary",
          "opportunityRole",
          "supportedOpportunityTypes",
          "requiredInputs",
          "sources"
        ],
        "properties": {
          "shapeKey": {
            "type": "string",
            "minLength": 1,
            "example": "mainnet:tinyman:v2:addLiquidity:flexible"
          },
          "network": {
            "type": "string",
            "minLength": 1
          },
          "protocol": {
            "type": "string",
            "minLength": 1
          },
          "protocolVersion": {
            "type": "string",
            "minLength": 1
          },
          "action": {
            "type": "string",
            "minLength": 1
          },
          "variant": {
            "type": "string",
            "minLength": 1
          },
          "shapeVersion": {
            "type": "string",
            "minLength": 1
          },
          "title": {
            "type": "string",
            "minLength": 1
          },
          "description": {
            "type": "string",
            "minLength": 1
          },
          "summary": {
            "type": "string",
            "minLength": 1
          },
          "opportunityRole": {
            "type": "string",
            "enum": [
              "enter",
              "exit",
              "manage"
            ]
          },
          "supportedOpportunityTypes": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1
            }
          },
          "requiredInputs": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1
            },
            "description": "Input field names required by POST /execution/quotes for this shapeKey."
          },
          "sources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExecutionShapeSource"
            }
          },
          "docsPath": {
            "type": "string",
            "minLength": 1,
            "description": "Repository-relative path to shape documentation when available."
          }
        }
      },
      "ExecutionShapeSource": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "kind",
          "description"
        ],
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "sdk",
              "api",
              "docs",
              "arc56"
            ]
          },
          "description": {
            "type": "string",
            "minLength": 1
          },
          "url": {
            "type": "string",
            "minLength": 1
          }
        }
      },
      "ExecutionQuoteRequest": {
        "type": "object",
        "required": [
          "quotes"
        ],
        "properties": {
          "quotes": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/ExecutionQuoteItem"
            },
            "description": "One or more independent quote requests. Each item compiles to its own unsigned transaction group; groups are never merged. Price is flat per request (not per item)."
          }
        }
      },
      "SerializedTransaction": {
        "type": "object",
        "required": [
          "type",
          "sender",
          "fee",
          "groupPresent"
        ],
        "properties": {
          "type": {
            "type": "string"
          },
          "sender": {
            "type": "string"
          },
          "fee": {
            "type": "string"
          },
          "groupPresent": {
            "type": "boolean"
          },
          "payment": {
            "type": "object",
            "properties": {
              "receiver": {
                "type": "string"
              },
              "amount": {
                "type": "string"
              },
              "closeRemainderTo": {
                "type": "string"
              }
            }
          },
          "assetTransfer": {
            "type": "object",
            "properties": {
              "assetIndex": {
                "type": "string"
              },
              "amount": {
                "type": "string"
              },
              "receiver": {
                "type": "string"
              },
              "assetSender": {
                "type": "string"
              },
              "closeRemainderTo": {
                "type": "string"
              }
            }
          },
          "applicationCall": {
            "type": "object",
            "properties": {
              "appIndex": {
                "type": "string"
              },
              "onComplete": {
                "type": "integer"
              },
              "appArgsBase64": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "appArgsText": {
                "type": "array",
                "items": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "accounts": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "foreignApps": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "foreignAssets": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "boxes": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "appIndex": {
                      "type": "string"
                    },
                    "nameBase64": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ExecutableQuote": {
        "type": "object",
        "required": [
          "shapeKey",
          "shapeVersion",
          "identity",
          "createdAt",
          "expiresAt",
          "transactions",
          "encodedTransactions",
          "warnings",
          "metadata"
        ],
        "properties": {
          "shapeKey": {
            "type": "string"
          },
          "shapeVersion": {
            "type": "string"
          },
          "identity": {
            "type": "object",
            "required": [
              "network",
              "protocol",
              "protocolVersion",
              "action",
              "variant"
            ],
            "properties": {
              "network": {
                "type": "string",
                "enum": [
                  "mainnet",
                  "testnet"
                ]
              },
              "protocol": {
                "type": "string"
              },
              "protocolVersion": {
                "type": "string"
              },
              "action": {
                "type": "string"
              },
              "variant": {
                "type": "string"
              }
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "transactions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SerializedTransaction"
            }
          },
          "encodedTransactions": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Base64-encoded unsigned Algorand transaction (msgpack)."
            }
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "ExecutionQuoteResponse": {
        "type": "object",
        "required": [
          "data",
          "meta"
        ],
        "properties": {
          "data": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/ExecutableQuote"
            },
            "description": "Compiled quotes in the same order as request.quotes."
          },
          "meta": {
            "type": "object",
            "required": [
              "paymentRequired",
              "executionSubmitted",
              "quoteCount"
            ],
            "properties": {
              "paymentRequired": {
                "type": "boolean",
                "enum": [
                  true
                ]
              },
              "executionSubmitted": {
                "type": "boolean",
                "enum": [
                  false
                ]
              },
              "quoteCount": {
                "type": "integer",
                "minimum": 1
              }
            }
          }
        }
      },
      "AlgorandBaseUnitAmount": {
        "description": "Positive integer amount in the asset's base units. A decimal string is preferred to preserve precision.",
        "oneOf": [
          {
            "type": "string",
            "pattern": "^[1-9][0-9]*$"
          },
          {
            "type": "integer",
            "minimum": 1
          }
        ]
      },
      "PricingRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "assetIds"
        ],
        "properties": {
          "assetIds": {
            "type": "array",
            "minItems": 1,
            "maxItems": 100,
            "items": {
              "type": "integer",
              "minimum": 0,
              "maximum": 9007199254740991
            }
          }
        }
      },
      "TokenPrice": {
        "type": "object",
        "required": [
          "assetId",
          "priceUsd"
        ],
        "properties": {
          "assetId": {
            "type": "string",
            "pattern": "^[0-9]+$"
          },
          "priceUsd": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0
          }
        }
      },
      "PricingResponse": {
        "type": "object",
        "required": [
          "data",
          "meta"
        ],
        "properties": {
          "data": {
            "type": "object",
            "required": [
              "prices",
              "source",
              "fetchedAt"
            ],
            "properties": {
              "prices": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TokenPrice"
                }
              },
              "source": {
                "type": "string",
                "const": "compx"
              },
              "fetchedAt": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          "meta": {
            "type": "object",
            "required": [
              "paymentRequired",
              "executionSubmitted"
            ],
            "properties": {
              "paymentRequired": {
                "type": "boolean",
                "const": false
              },
              "executionSubmitted": {
                "type": "boolean",
                "const": false
              }
            }
          }
        }
      },
      "HaystackSwapQuoteRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "address",
          "fromAssetId",
          "toAssetId",
          "amount"
        ],
        "properties": {
          "address": {
            "type": "string",
            "description": "Algorand account that will sign and submit the eventual swap."
          },
          "fromAssetId": {
            "description": "Input ASA id; use 0 for ALGO.",
            "oneOf": [
              {
                "type": "integer",
                "minimum": 0
              },
              {
                "type": "string",
                "pattern": "^[0-9]+$"
              }
            ]
          },
          "toAssetId": {
            "description": "Output ASA id; use 0 for ALGO.",
            "oneOf": [
              {
                "type": "integer",
                "minimum": 0
              },
              {
                "type": "string",
                "pattern": "^[0-9]+$"
              }
            ]
          },
          "amount": {
            "$ref": "#/components/schemas/AlgorandBaseUnitAmount"
          },
          "type": {
            "type": "string",
            "enum": [
              "fixed-input",
              "fixed-output"
            ],
            "default": "fixed-input"
          },
          "disabledProtocols": {
            "type": "array",
            "description": "Additional DEX protocols to exclude from routing. Tinyman (v1), Humble, Algofi, and Algomint are always disabled by canix402.",
            "items": {
              "type": "string",
              "enum": [
                "Tinyman",
                "Humble",
                "TinymanV2",
                "Algofi",
                "Algomint",
                "Pact",
                "Folks",
                "TAlgo"
              ]
            },
            "uniqueItems": true
          },
          "maxGroupSize": {
            "type": "integer",
            "minimum": 1,
            "maximum": 16,
            "default": 16
          },
          "maxDepth": {
            "type": "integer",
            "minimum": 1,
            "maximum": 4,
            "default": 4
          }
        }
      },
      "HaystackTransactionPayload": {
        "type": [
          "object",
          "null"
        ],
        "required": [
          "iv",
          "data"
        ],
        "properties": {
          "iv": {
            "type": "string"
          },
          "data": {
            "type": "string"
          }
        }
      },
      "HaystackSwapQuote": {
        "type": "object",
        "description": "Serializable, short-lived Haystack quote. Preserve this object unchanged when calling the opt-in and transaction endpoints.",
        "required": [
          "address",
          "fromAssetId",
          "toAssetId",
          "amount",
          "type",
          "quotedAmount",
          "createdAt",
          "expiresAt",
          "requiredAppOptIns",
          "txnPayload",
          "route",
          "quotes",
          "protocolFees"
        ],
        "properties": {
          "address": {
            "type": "string"
          },
          "fromAssetId": {
            "type": "string",
            "pattern": "^[0-9]+$"
          },
          "toAssetId": {
            "type": "string",
            "pattern": "^[0-9]+$"
          },
          "amount": {
            "type": "string",
            "pattern": "^[1-9][0-9]*$"
          },
          "type": {
            "type": "string",
            "enum": [
              "fixed-input",
              "fixed-output"
            ]
          },
          "quotedAmount": {
            "type": "string",
            "pattern": "^[0-9]+$",
            "description": "Quoted output base units for fixed-input or required input base units for fixed-output."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "description": "Reject the quote after this time and fetch a fresh one."
          },
          "priceBaseline": {
            "type": "number"
          },
          "userPriceImpact": {
            "type": "number"
          },
          "marketPriceImpact": {
            "type": "number"
          },
          "usdIn": {
            "type": "number"
          },
          "usdOut": {
            "type": "number"
          },
          "route": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "quotes": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "requiredAppOptIns": {
            "type": "array",
            "items": {
              "type": "string",
              "pattern": "^[1-9][0-9]*$"
            }
          },
          "txnPayload": {
            "$ref": "#/components/schemas/HaystackTransactionPayload"
          },
          "protocolFees": {
            "type": "object",
            "additionalProperties": {
              "type": "number"
            }
          }
        },
        "additionalProperties": true
      },
      "HaystackSwapQuoteResponse": {
        "type": "object",
        "required": [
          "data",
          "meta"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/HaystackSwapQuote"
          },
          "meta": {
            "type": "object",
            "required": [
              "paymentRequired",
              "executionSubmitted"
            ],
            "properties": {
              "paymentRequired": {
                "type": "boolean",
                "const": false
              },
              "executionSubmitted": {
                "type": "boolean",
                "const": false
              }
            }
          }
        }
      },
      "HaystackSwapOptInRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "address",
          "quote"
        ],
        "properties": {
          "address": {
            "type": "string"
          },
          "quote": {
            "$ref": "#/components/schemas/HaystackSwapQuote"
          }
        }
      },
      "HaystackSwapTransactionsRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "address",
          "quote",
          "slippage"
        ],
        "properties": {
          "address": {
            "type": "string"
          },
          "quote": {
            "$ref": "#/components/schemas/HaystackSwapQuote"
          },
          "slippage": {
            "type": "number",
            "minimum": 0,
            "maximum": 100,
            "description": "Maximum unfavorable movement as a percentage; for example, 1 means 1%."
          }
        }
      },
      "WalletlessTransaction": {
        "type": "object",
        "required": [
          "index",
          "encodedTransaction",
          "signer"
        ],
        "properties": {
          "index": {
            "type": "integer",
            "minimum": 0
          },
          "encodedTransaction": {
            "type": "string",
            "contentEncoding": "base64",
            "description": "Base64-encoded unsigned transaction bytes for inspection and caller signing."
          },
          "signedTransaction": {
            "type": "string",
            "contentEncoding": "base64",
            "description": "Base64-encoded Haystack-signed blob when this member is already signed."
          },
          "signer": {
            "type": "string",
            "enum": [
              "user",
              "haystack"
            ],
            "description": "Who supplies the signature for this group member."
          }
        }
      },
      "HaystackOptInTransaction": {
        "type": "object",
        "required": [
          "index",
          "kind",
          "encodedTransaction",
          "signer"
        ],
        "properties": {
          "index": {
            "type": "integer",
            "minimum": 0
          },
          "kind": {
            "type": "string",
            "enum": [
              "asset-opt-in",
              "application-opt-in"
            ]
          },
          "encodedTransaction": {
            "type": "string",
            "contentEncoding": "base64"
          },
          "signer": {
            "type": "string",
            "const": "user"
          },
          "assetId": {
            "type": "string",
            "pattern": "^[1-9][0-9]*$"
          },
          "appId": {
            "type": "string",
            "pattern": "^[1-9][0-9]*$"
          }
        }
      },
      "WalletlessTransactionGroup": {
        "type": "object",
        "required": [
          "transactions",
          "userSignIndexes",
          "createdAt",
          "quoteExpiresAt"
        ],
        "properties": {
          "transactions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WalletlessTransaction"
            },
            "description": "Atomic-group order. Do not reorder members."
          },
          "userSignIndexes": {
            "type": "array",
            "items": {
              "type": "integer",
              "minimum": 0
            },
            "description": "Indexes the caller wallet must sign. Preserve Haystack-signed members unchanged."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "quoteExpiresAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "HaystackSwapOptInResponse": {
        "type": "object",
        "required": [
          "data",
          "meta"
        ],
        "properties": {
          "data": {
            "type": "object",
            "required": [
              "required",
              "transactions",
              "userSignIndexes",
              "createdAt",
              "expiresAt"
            ],
            "properties": {
              "required": {
                "type": "boolean"
              },
              "transactions": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/HaystackOptInTransaction"
                }
              },
              "userSignIndexes": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "createdAt": {
                "type": "string",
                "format": "date-time"
              },
              "expiresAt": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          "meta": {
            "type": "object",
            "required": [
              "paymentRequired",
              "executionSubmitted"
            ],
            "properties": {
              "paymentRequired": {
                "type": "boolean",
                "const": false
              },
              "executionSubmitted": {
                "type": "boolean",
                "const": false
              }
            }
          }
        }
      },
      "HaystackSwapTransactionsResponse": {
        "type": "object",
        "required": [
          "data",
          "meta"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/WalletlessTransactionGroup"
          },
          "meta": {
            "type": "object",
            "required": [
              "paymentRequired",
              "executionSubmitted"
            ],
            "properties": {
              "paymentRequired": {
                "type": "boolean",
                "const": true
              },
              "executionSubmitted": {
                "type": "boolean",
                "const": false
              }
            }
          }
        }
      },
      "HealthResponse": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "object",
            "required": [
              "service",
              "status"
            ],
            "properties": {
              "service": {
                "type": "string",
                "enum": [
                  "canix402"
                ]
              },
              "status": {
                "type": "string",
                "enum": [
                  "ok"
                ]
              }
            }
          }
        }
      },
      "ReadyResponse": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "object",
            "required": [
              "service",
              "status",
              "checks"
            ],
            "properties": {
              "service": {
                "type": "string",
                "enum": [
                  "canix402"
                ]
              },
              "status": {
                "type": "string",
                "enum": [
[...]
